[2020-06-17 15:59] pmulligan-rk opened #1563 "prov_dev_client_ll_sample.c for provisioning a new device"
I'm struggling to get the example _prov_dev_client_ll_sample.c_ to work and provision a device using a signed X.509 certificate. I'm cross-compiling the SDK for an ARM chip. All the other samples are working for me, except this.

Here are the steps I took :

- I've created a Device Provisioning Service on the Azure Portal and linked my IoT Hub with it.

- I added my root CA certificate to the cert

[2020-06-18 17:49] ewertons commented on #1557
Hi @alexmrtn ,
so have automated tests for verifying leaks in device twin operations, and we also modified a sample to try sending reported properties while not connected, and destroying at the end.
On our verification, we let the sample run for a few seconds (successfully sending reports) then disconnected the internet.
There were no memory leaks on that scenario.

**The bug you are reporting is

[2020-06-18 22:40] ewertons commented on #1557
Hi @alexmrtn ,
the fix for this issue is now checked into master.
Could you please validate it as well?
Thanks,
Azure IoT Team.

[2020-06-19 07:29] alexmrtn commented on #1557
Hi @ewertons ,

Thanks for this very quick fix! It is valid and it resolved the leak.

[2020-06-19 12:51] alexmrtn commented on #1557
Hi Again,

Reopening as I think something is missing: In my sample the corresponding callback `twinReported` is never called if the client gets destroyed immediately after invoking IoTHubDeviceClient_SendReportedState.

The memory leak from SDK is not happening anymore though. But if one rely on the callback to free memory he had passed through the context callback (same as your implementation in

[2020-06-21 16:57] abdoul91 opened #1567 "agenttypesystem.c build error"
when try to build , i get in  function agenttypesystem.c  this error : 'uint32Value' may be used uninitialized in this function [-Werror=maybe-uninitialized]
Help Please.

[2020-06-22 04:45] sanjeev-magoo opened #1568 "CreationTimeUtc for D2C message"
This is regarding setting of system property(CreationTimeUtc) to D2C message. Basically, we wanted to set CreationTimeUtc timestamp in every telemetry message originated from device. It is possible that device is generating D2C messages when working in offline mode, when these messages reached to cloud, we want to know the actual creation time of these messages.
**Our findings-**
1.	We checked and

[2020-06-23 14:44] CIPop commented on #1524
No answer for a month. Closing for now. Please add the required information before re-opening.

[2020-06-23 14:44] #1524 closed

[2020-06-23 14:44] az-iot-builder-01 commented on #1524
@zainuvk, @CIPop, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-06-23 17:58] #1567 closed

[2020-06-23 17:58] az-iot-builder-01 commented on #1567
@abdoul91, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-06-23 20:20] danewalton commented on #1563
Hi @pmulligan-rk. Just out of curiosity how did you generate your certificates? RSA, ECC, etc

[2020-06-23 20:37] danewalton commented on #1543
Hi @vipeller can you take a look at the response to the linked issue and see if it resolves your question?

[2020-06-23 22:00] danewalton commented on #1516
Hi @omersalam
DPS uses the HSM API's to use the certificates but it requires a little work to get started with the samples.
[Here in the CMakeLists.txt file](https://github.com/Azure/azure-iot-sdk-c/blob/354cd4297897008f203132f78ff573d31739a5a2/CMakeLists.txt#L53-L54) we have options for setting a custom HSM. You can use the example which is [here](https://github.com/Azure/azure-iot-sdk-c/blob/mas

[2020-06-24 20:21] ewertons commented on #1557
This has now been fixed. Thanks for your contribution.
If you would like to follow up about this specific issue (Memory Leak) please reopen this ticker, otherwise feel free to open a new one if you have any other concerns.
Thanks,
Azure IoT Client Team

[2020-06-24 20:21] #1557 closed

[2020-06-25 17:01] ericwol-msft commented on #1568
I can add this work to the backlog. Does this actually work for you?? When I do it, the creation time is not on the system properties, but on the message properties. Routing to blob storage does not respect the creation time. How are you using this??

{
  "body": {
    "foo": "bar"
  },
  "enqueuedTime": "2020-06-24T23:19:20.263Z",
  "properties": {
    **"iothub-creation-time-utc": "2020-05-01T21

[2020-06-26 12:07] pmulligan-rk opened #1571 "Azure IoT C SDK - Library linking problem"
I've created a simple application that uses the Azure IoT SDK for C to provision and connect to my Azure IoT Hub. This is cross-compiled using Debian for an ARM device.

This application builds and runs perfectly when I do a complete build of the SDK, because I developed my application based on one of the provided sample applications.

However, I would like to have my own custom build operation, w

[2020-06-26 12:19] pmulligan-rk opened #1572 "X.509 certificate not being read properly from its file. Only works by embedding in source code."
I am working with the Azure IoT SDK for C. My device generates a signed X.509 device certificate file and private key file initially using openssl, then enrolls the device on the Azure IoT Portal.

The problem is, the certificate and key information don't seem to be getting read properly from the files into my C application. The authentication fails.

However, if I instead directly embed the certi

[2020-06-26 15:44] asergaz commented on #1563
@pmulligan-rk you asked the same on SO can you confirm so we cross-reference? Thanks

https://stackoverflow.com/questions/62433478/using-the-azure-iot-sdk-for-c-to-provision-a-new-device

[2020-06-26 15:58] asergaz commented on #1571
Same question on SO for reference: https://stackoverflow.com/questions/62594208/azure-iot-c-sdk-library-linking-problem

[2020-06-26 17:09] SatishBoddu-MSFT commented on #1572
@pmulligan-rk , We see that the same question is posted on Stackoverflow as well [X.509 certificate not being read properly from its file](https://stackoverflow.com/questions/62535007/x-509-certificate-not-being-read-properly-from-its-file)

[2020-06-26 17:15] pmulligan-rk commented on #1571
It's removed to avoid duplicates

[2020-06-26 17:16] pmulligan-rk commented on #1572
It's removed to avoid duplicates

[2020-06-26 17:33] danewalton commented on #1572
Hi @pmulligan-rk just to double check. I see that the file type you are attempting to read in from is `.crt` and not `.pem`. Those can generally be binary DER form or base64. Are you sure the cert is base64 encoded?

[2020-06-26 17:59] pmulligan-rk commented on #1572
@danewalton Thanks for your reply. I'm generating the device certificate and key via SSL on Linux as follows. `deviceName` of course is defined before this.

[code]

[2020-06-26 20:34] danewalton commented on #1572
@pmulligan-rk can you try changing the output file extension from `".crt"` to `".pem"` near the top of that?

[2020-06-26 21:30] markrad commented on #1572
If it works when you embed the certificate in the source but not when you read it from a file then I would suggest you should embed it in the source, read it from the file and compare the two strings.

[2020-06-26 23:23] CIPop commented on #1488
@rerkcp Sorry for not getting back sooner. I'm actively investigating the issue and trying to find an alternate way (maybe without changing our implementation) by using a TPM2 ResourceManager such as https://github.com/tpm2-software/tpm2-abrmd.

Unfortunately, it's still failing (with a different error but in the same `Sign` function) even with the RM.

I'm considering your last solution, especial

[2020-06-27 08:28] pmulligan-rk commented on #1572
@markrad I have done that. The strings look exactly the same when printed out via _printf()_. This is what baffles me.

[2020-06-27 09:57] pmulligan-rk commented on #1572
@markrad I've just compared the embedded certificate string with the one read from the file.

This is it embedded in the source code :

[code]

This is the printed out certificate string on the terminal when it is read from the file :

[code]

When I use `strcmp` in the code to compare the two strings, the result is 10, so it actually means that they are not the same somehow.

[2020-06-29 18:34] markrad commented on #1572
You may have a memory corruption issue. I removed the quotes, newlines, and semi-colon and compared it to the other. They are identical. If they fail strcmp though then it is likely something has damaged one or the other.

[2020-06-29 20:32] ericwol-msft commented on #1572
A strcmp return of 10, implies the issue is 10 char in, which is the end of "-----BEGIN".

[2020-06-29 20:37] ericwol-msft commented on #1571
Please review the previous git issues

https://github.com/Azure/azure-iot-sdk-c/search?q=StringToken_Split&type=Issues

[2020-06-30 10:39] pmulligan-rk commented on #1572
@markrad @ericwol-msft

Something is definitely wrong with the certificate and key files. When I check them with command : `openssl x509 -noout -text -in my_cert.pem`

This reads :

[code]

The same thing with the key file. I don't undertsnad it tho. The start lines are there, as shown in the file and also printed out on the terminal when when reading the file into a string with fread.

[2020-06-30 12:05] pmulligan-rk commented on #1571
@ericwol-msft Those examples are using CMake. I'm trying to compile this by just using Make.

Basically, I located all the library files that were built with the SDK, copied them to a single folder and I link my application against all of the libraries. I'm not sure what i'm missing here exactly.

[2020-06-30 13:28] pmulligan-rk commented on #1571
Hello @jebrando . I saw you reply to a similar problem previously and perhaps you might be able to help.

Basically, i'm trying to build a C application for provisioning and communication. I don't want to depend on the CMake files included with the SDK etc.

Below is my own Makefile, and the output is below it. I don't know why the linker has issues finding them functions. Am I missing any other l

[2020-06-30 17:08] ericwol-msft commented on #1572
probably needs to look at the file with a binary editor to see if there are issues.

[2020-06-30 18:42] pmulligan-rk commented on #1572
@ericwol-msft I've examined the files with a hex-editor. Everything looks ok to. I've uploaded the certificate file here for reference. I had to change the extension name to .txt as uploading .pem files is not supported here.
[my-cert.txt](https://github.com/Azure/azure-iot-sdk-c/files/4853813/my-cert.txt)

[2020-07-01 01:07] CIPop commented on #1488
@rerkcp I have a solution that is working, without any locks.
Please test the following:

1. Install https://tpm2-software.github.io/ for your Linux distribution. On Ubuntu this is available by running:
[code]

2. Sync provisioning_client/deps/utpm to https://github.com/Azure/azure-utpm-c/tree/tpm_threads

Your application should now use the TPM TSS Stack which supports multi-threading and multi-p

[2020-07-01 08:39] mucar-bmk opened #1574 "Functionality of IOTHUB_CLIENT_REPORTED_STATE_CALLBACK, best way to verify if devicetwin has been updated correctly"
Hello,

how does the send-callback for device-twin-updates actually work?
Which informations contains the status_code ?
Is this callback-function based on the QoS1-Service of MQTT ( at least once ) if the SDK is used with MQTT?
Or how can I verify if the devicetwin is updated properly, do you have any suggestions?

SDK Version used: LTS 2019/07

thanks!

[2020-07-01 14:04] rgamage opened #1575 "Confusing Instructions on Proof Of Possession Step"
In the doc, CACertificateOverview.md, in Step 3, it says:
"Only perform this step if you're setting up CA Certificates and proof of possession. For simple device certificates, such as Edge certificates, skip to the next step"

I have an Edge device, and want to use production CA Certificates to authenticate it to the hub.  Do I need to do Step 3 or not?  The statement in the doc is very confusing

[2020-07-01 15:11] pmulligan-rk opened #1576 "Linker problems when trying to build a provisioning application"
Hello,

My problem is quite similar to this issue https://github.com/Azure/azure-iot-sdk-c/issues/888 .

**Overview**
I am cross compiling an application based on this sample , https://github.com/Azure/azure-iot-sdk-c/blob/master/provisioning_client/samples/prov_dev_client_sample/prov_dev_client_sample.c on a Debian host machine for an embedded ARM device.

**Details**
This particular sample appli

[2020-07-01 23:32] ericwol-msft commented on #1576
what happens if you move libprov_device_ll_client.a below libprov_device_client.a ?

[2020-07-02 00:21] ericwol-msft commented on #1575
It's explained in the first paragraph why you should not use the generated certs _They contain hard-coded passwords ("123"), expire after 30 days, and most importantly are provided for demonstration purposes to help you quickly understand CA Certificates._

As always, when productizing against CA Certificates, you'll need to use your own security best practices for certification creation and lifet

[2020-07-02 00:23] ericwol-msft commented on #1575
The CACertificateOverview.md is for using device certs. (see step #4)

Please reference this link for Azure IoT Edge certificates
https://docs.microsoft.com/en-us/azure/iot-edge/iot-edge-certs

[2020-07-02 19:21] rgamage commented on #1575
My point is that these scripts are clearly stating they are not for
production use, and yet this repo is directly referenced by instructions on
how to create/ install production certificates, for both devices and Edge
devices.  It makes for a confusing dev experience for someone trying to get
their system ready for production.

On Wed, Jul 1, 2020 at 5:24 PM Eric Wolz <notifications@github.com> wr

[2020-07-02 20:04] ericwol-msft commented on #1575
suggestions on how this should be reworded?

[2020-07-02 20:51] ericwol-msft commented on #1574
_>>how does the send-callback for device-twin-updates actually work?_
When a twin update is send to the hub, the hub will respond on our subscription to the hubs topic $iothub/twin/res/{status}/?$rid={request id}. The response will invoke your func set by IoTHubDeviceClient_SetDeviceTwinCallback()

More detail in hub MQTT can be found here https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-mqt

[2020-07-02 23:19] rgamage commented on #1575
The best re-wording would be "Certificates created by these scripts MUST
NOT be used for production.  If you are managing certificates for
Production use, please use the scripts in this other, separate repo, <link
here> that includes production script templates and a walk-through of the
steps required for Production scenarios."

Of course I don't believe this separate repo, or template or walk-thr

[2020-07-03 07:44] mucar-bmk commented on #1574
Hello,

thanks for your answer, is there a way that i can verify the successfull update on device-side?
As far as I know, QoS 0 does not guarantee the delivery. Is there any configurations to gain QoS 1 ?
But when the callback is only invoked with an positive Status if the hub responses to the devicetwin-update,  can I be sure that the data has been transmitted?

[2020-07-03 10:53] slwojt opened #1578 "certGen.sh unable to create module certificates"
I am developing the IoT devices driver for Linux (currently Ubuntu 19.10 distribution).
I have created an IoT device that has a few modules which I'd like to authorize with X.509 certificates.
And I'd like to use certGen.sh script to generate public/private certificates for those modules.
But the script seems unable to do it.
When I run
[code]
I get errors probably due to the `/` presence in the m

[2020-07-07 01:15] ericwol-msft commented on #1574
_>>is there a way that i can verify the successfull update on device-side?_
the reportedStateCallback will have a status of 200

_>>As far as I know, QoS 0 does not guarantee the delivery. Is there any configurations to gain QoS 1 ?_
No. You need to monitor the reportedStateCallback, and if not received within a given time, send the update again.

_>>But when the callback is only invoked with an p

[2020-07-07 17:46] ericwol-msft commented on #1578
For IoT Hub the certificate Subject / CN for self-signed certificate identities doesn’t matter. Hub will only verify the thumbprint. Normally people just set the subject name to just the module name.

[2020-07-07 22:38] ericwol-msft commented on #1575
Most companies already have well defined procedure for creating and managing certificates in their production environment. The sample script creates a cert with a weak password for the private key, along with a short cert lifetime. The cert is signed in a manor with a CA, but the CA trust chain is also generated and does not come from a certificate issuer. You would not want to use this cert in an

[2020-07-08 00:19] rgamage commented on #1575
Eric,
Thanks for your response.  I spent 90 minutes with a Microsoft support
person on this issue, and we made very little progress. I have the root CA
cert, I've uploaded it to the hub.  I have an intermediate cert signed by
that root CA.  I have a set of powershell scripts that are only useful in
dev scenarios, and I have the documentation in the links from my last
message.. With all of these we

[2020-07-08 00:46] ericwol-msft commented on #1575
please describe your topology to better understand what your asking.

[2020-07-08 00:50] ericwol-msft commented on #1575
you can reach me directly via my email address in the profile, if you don't want to discuss this publicly.

[2020-07-08 17:15] #1488 closed

[2020-07-08 17:16] az-iot-builder-01 commented on #1488
@CIPop, @rerkcp, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-07-09 21:29] frayedknot opened #1586 "Create Individual Enrollment with Symmetric Key using API"
I'm trying to figure out how I can create an individual enrollment for a device using symmetric key. It seems that there are no methods in provisioning_sc_attestation_mechanism.h to do this. Is this just not supported?

All of the documentation at https://docs.microsoft.com/en-us/azure/iot-dps/ seems to have you create symmetric key enrollment by hand.

[2020-07-13 19:24] ewertons commented on #1422
@alaendle ,
we are currently investigating this issue. Thanks for all the explanation provided, your level of detail is very good and will help us narrow this root-causing.

We understand you have attempted this scenario quite some time ago, but just in case, would you have the complete logs for the failure instance you described? Not only the excerpts above, but the complete logs up to the crash

[2020-07-14 02:46] williamaccuenergy opened #1587 "IoTHubDeviceClient_SendEventAsync call back issue"
@Hi All,
I send 10 messages via IoTHubDeviceClient_SendEventAsync() function every 30 seconds. And I use an integer message id as a userContextCallback parameter, I will sleep 10 ms after IoTHubDeviceClient_SendEventAsync() . But In callback function, I find that there are duplicate userContextCallback parameters which is message id I set up when send message. I don't know what happened.
static ui

[2020-07-14 08:51] alaendle commented on #1422
@ewertons Thanks for the complements. Since it is easy for me to rerun the reproduction showcase I'm happy to provide the desired log. Hopefully it shows what you have expected - please don't hesitate to contact me if I am able to further contribute to your investigations.

[code]

Afterwards the module gets restarted and shows just...

[code]

[2020-07-15 00:01] ericwol-msft commented on #1587
msgId is allocated on the stack. IoTHubDeviceClient_SendEventAsync is an async call. ThreadAPI_Sleep sleeps for X milliseconds, so you are sleeping for 10ms. I doubt the hub call was less than 10ms, so this stack memory is gone.

userContextCallback is a void*, so nothing is stopping you using a size_t as the value. It does not need to be an actual pointer.

[2020-07-15 00:05] ericwol-msft commented on #1586
Correct, this does not take a symmetric key. Most people use the IoT Service SDK from the other languages, which does support this.

https://github.com/Azure/azure-iot-sdk-csharp
https://github.com/Azure/azure-iot-sdk-python
https://github.com/Azure/azure-iot-sdk-java
https://github.com/Azure/azure-iot-sdk-node

[2020-07-15 15:22] williamaccuenergy commented on #1587
@ericwol-msft Thanks for your replying.
msgId allocated on the stack, but it is assigned to a static global counter and it is different every time.
IoTHubDeviceClient_SendEventAsync is an async call. Yes. So I slow down send rate by ThreadAPI_Sleep on my application thread, But callback function should run on another thread. So I think ThreadAPI_Sleep 10ms should not result in hub memory gone.
I s

[2020-07-15 16:38] ewertons commented on #1422
Thanks @alaendle .
The logs are perfect. We are close to getting this issue sorted out.
We will update you briefly.

[2020-07-15 18:47] ericwol-msft commented on #1587
That is not how C works. You are still passing a pointer to the stack memory.

Yes, expect you are referencing stack memory that is no longer valid in the callback thread.

That is in correct. You can look at the implementation in the source code.

[2020-07-15 20:16] williamaccuenergy commented on #1587
@ericwol-msft Thank you very much. I will try it.

[2020-07-16 00:05] #1587 closed

[2020-07-16 00:05] az-iot-builder-01 commented on #1587
@williamaccuenergy, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-07-16 00:06] williamaccuenergy commented on #1587
@ericwol-msft It works fine now. thanks for your helping

[2020-07-16 18:16] williamaccuenergy opened #1589 "Hub client X509 Not Authorized"
1. I followed the steps described in [https://github.com/Azure/azure-iot-sdk-c/blob/master/tools/CACertificates/CACertificateOverview.md] to create root CA, certificate and private key. certificate file is new-device-full-chain.cert.pem
2.Register CA and verify it
3.create IoT device on https://portal.azure.com/. Device ID:AcuLink810-X509
4.follow sample [https://github.com/Azure/azure-iot-sdk-c/b

[2020-07-17 01:19] ericwol-msft commented on #1589
The error on the back end is "Remote IP Endpoint: 70.28.52.XXX, Details: **Password is empty**"

How is the device in the hub configured? When you created the device did you select X.509 Self-Signed or X.509 CA Signed?

You can try the simple SimulateX509Device.exe to see if it's a cert or hub config issue, or a config issue on your C application.

https://docs.microsoft.com/en-us/azure/iot-hub/io

[2020-07-17 01:32] williamaccuenergy commented on #1589
Thanks for your reply. The device in the hub is X.509 CA signed. I create IoT device follow https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-security-x509-get-started.

Thanks you again. I will try it

Regards

From: Eric Wolz [mailto:notifications@github.com]
Sent: July 16, 2020 9:20 PM
To: Azure/azure-iot-sdk-c
Cc: williamaccuenergy; Author
Subject: Re: [Azure/azure-iot-sdk-c] Hub client X

[2020-07-17 16:11] williamaccuenergy commented on #1589
1.IoTHubDeviceClient_SetOption(_device_handle, OPTION_TRUSTED_CERT, readFileIntoString(AZURE_CERT_FILE).c_str())
Do I need set OPTION_TRUSTED_CERT? If I want to read CA file to string. is this CA file extension  crt or pem?

2.IoTHubDeviceClient_SetOption(_device_handle, OPTION_X509_CERT, readFileIntoString(AZURE_CERT_FILE).c_str())
If I want to read device cert file to string. is this cert file e

[2020-07-17 16:59] ericwol-msft commented on #1589
**Do I need set OPTION_TRUSTED_CERT? or When I need to set OPTION_TRUSTED_CERT? If I want to read CA file to string. is this CA file extension crt or pem?**
This is the trusted root of the IoT hub endpoint. For azure this is DigiCert Baltimore Root. Do you need this? depends on your device and your tls stack. From your trace, it looks like you did connect to the hub using tls, even though you pass

[2020-07-17 17:40] ericwol-msft commented on #1589
**jut to be clear, yo do have cert parsing issues.**

[code]

[2020-07-17 17:49] williamaccuenergy commented on #1589
@ericwol-msft  thanks for your reply.
I just use openssl to create CA,cert, key, and try to connect hub using crt file. it is failed, so find the error information. thanks. But I am also failed to authorize to  Iot hub following your instruction:  https://github.com/Azure/azure-iot-sdk-c/blob/master/tools/CACertificates/CACertificateOverview.md. I don't why

[2020-07-17 17:52] danewalton commented on #1589
@williamaccuenergy just to be clear. `.crt` files could be encoded in as binary or pem. Can you make sure to convert the cert and key to base64 pem? Both the extensions should be `.pem`

[2020-07-17 18:08] williamaccuenergy commented on #1589
@danewalton  thanks a lot.
Azure IoT device's certificate and device key file  should be pem file. right?

[2020-07-17 18:22] danewalton commented on #1589
@williamaccuenergy are you doing CA signed with no intermediate or do you have an intermediate cert? Either way though, if you're getting the log message which @ericwol-msft copied above, you likely won't make any headway. There's something about the reading in of the cert that isn't working.

Could you try reading through this (https://github.com/Azure/azure-iot-sdk-c/issues/1572) and see if you

[2020-07-17 18:47] williamaccuenergy commented on #1589
@danewalton

Actually, I am just a developer don't care about intermediate or no intermediate. I will test again follow https://github.com/Azure/azure-iot-sdk-c/blob/master/tools/CACertificates/CACertificateOverview.md.

My log info:
/third-party/azure-iot-sdk/azure-iot-sdk-c/iothub_client/src/iothubtransport_mqtt_common.c Func:mqtt_operation_complete_callback Line:1755 Connection Not Accepted: 0x

[2020-07-17 18:55] danewalton commented on #1589
@williamaccuenergy hope you don't mind me editing your reply for formatting.

Yea while that log message might be true, the other underlying messages seem to point to the root cause of the "unauthorized" error. That being reading the private key (bolding mine):

Error: Time:Thu Jul 16 13:51:49 2020 File:/opt/accuenergy/third-party/azure-iot-sdk/azure-iot-sdk-c/c-utility/adapters/x509_openssl.c Fun

[2020-07-17 19:23] williamaccuenergy commented on #1589
@danewalton
I think it works fine now. the cause is :I create cert for device name as "deviceA", but I create X.509 signed device named another device id, so it failed to authorize. when I create a X.509 signed device named "deviceA". it work fine.
Anyway, Thank you taking your so much  time! Thanks again

Regards

[2020-07-17 21:07] #1589 closed

[2020-07-17 21:07] az-iot-builder-01 commented on #1589
@williamaccuenergy, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-07-17 21:07] williamaccuenergy commented on #1589
Thanks all people who helped me! Thanks!

[2020-07-17 21:23] #1578 closed

[2020-07-17 21:23] az-iot-builder-01 commented on #1578
@slwojt, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-07-20 06:37] rajaggrawal commented on #1568
we can route D2C messages to kusto/blob storage and purpose is to store **creation time** for each messages.
could you please let us know the correct way to send **creation time** along with D2C message and same can be redirect to kusto/blob?

[2020-07-20 17:57] ericwol-msft commented on #1550
There was a timing issue that was resolved with #1585

Twin updates are placed on a queue, so that they are correctly handled on disconnect/reconnects. These queues have timeout, so that undelivered updates are notified to the application.

[2020-07-21 12:52] sanjeev-magoo commented on #1568
@ericwol-msft - If application properties are not available this it will not solve our use case. We wanted to route data to following resources-
1. Blob storage
2. Event Hub
3. Kusto DB

We are providing interface to work with Azure IoT. Multiple teams will consuming this interface. One option(#1) is, each message body shall contain the creation-timestamp, in this case, each team consuming our int

[2020-07-21 13:09] sanjeev-magoo opened #1592 "Leaf device registration using x509 certificates via IoT Edge gateway"
We are trying to implement a transparent gateway use case using Azure IoT Edge. Our Edge device and leaf devices have their identity in the form of x509 certificates.
Requirement-
We want to register the leaf device having x509 certificate as identity using DPS service via IoT Edge.
Leaf device will not have internet connectivity, it can reach to internet via edge device only.

We are not able to

[2020-07-21 17:40] ehsaeed commented on #1363
@ewertons
Any progress on this issue?
I am also facing the same issue.

[2020-07-22 02:29] Garry-Anderson commented on #1363
For the moment, I have given up on Azure.
Garry.

[2020-07-22 17:24] williamaccuenergy commented on #1572
@pmulligan-rk  I passed authorization several days ago. But when I switch to SAS and switch back to X.509. My device failed to authorize.
I have same issue as yours: 1)strcmp return 10, 2)openssl x509 -noout -text -in key.pem return "unable to load certificate..PEM routines:get_name:no start line:../crypto/pem/pem_lib.c:745:Expecting: TRUSTED CERTIFICATE".
But When I copy both content to Sublime T

[2020-07-22 18:09] pmulligan-rk commented on #1572
Hi @williamaccuenergy . I forgot to update here.

My problem turned out to be something I didn't expect :

Reading the device certificate and private key from the files wasn't actually the problem. However, reading the device identity from a file was.

On startup, my device reads the device identity from flash via a bash script and then writes this to a file called Device_identity.txt , which is a

[2020-07-22 18:46] williamaccuenergy commented on #1572
@pmulligan-rk  Thanks for your reply. But I am curious why you need device identity in your device. I think we use device id as certificate common name, and creat IoT device with  a same device id in Azure IoT portal. we do not need device id in device side. thanks

[2020-07-22 19:13] pmulligan-rk commented on #1572
@williamaccuenergy You asked about why we need the device id on the device. This is the common name of the certificate, but I believe it also must be provided and is read via the API `custom_hsm_get_common_name` ?

I based my solution on this example :

https://kevinsaye.wordpress.com/2020/04/14/using-a-real-certificate-with-the-azure-iot-client-c-sdk-and-the-provisioning-service/

Are you doing s

[2020-07-22 20:35] williamaccuenergy commented on #1572
@pmulligan-rk thank you very much. I believe that reading cert and key file is not problem. I create X509 cert following https://github.com/Azure/azure-iot-sdk-c/blob/master/tools/CACertificates/CACertificateOverview.md. and create IoT device coresponding cert's common name. But I always faile to authorize. log information: "/third-party/azure-iot-sdk/azure-iot-sdk-c/iothub_client/src/iothubtransp

[2020-07-22 20:50] andpc opened #1595 "Device cannot connect to IoT Hub after several hours of correct communication - IOTHUB_CLIENT_CONNECTION_NO_NETWORK"
**Development Machine, OS, Compiler (and Other Relevant Toolchain Info)**

Raspberry Pi Zero W with Raspberry Pi OS - Lite (release 2020-05-27).
Cross Compiled on Docker Debian:stretch using arm-rpi-4.9.3-linux-gnueabihf.

**SDK Version (Please Give Commit SHA if Manually Compiling)**

Using latest LTS_07_2020_Ref1 - 2eab39c37bd31740f05e12599379ea83f4dd8802

**Protocol**

MQTT

**Describe the Bug*

[2020-07-22 23:04] williamaccuenergy commented on #1589
@danewalton, I am failed to authorize again now. I passed authorization several days ago. I switch to SAS, it is fine. I switch back to X.509, it is failed again.  I create X509 cert following https://github.com/Azure/azure-iot-sdk-c/blob/master/tools/CACertificates/CACertificateOverview.md. and create IoT device coresponding cert's common name on Azure IoT portal. But I always faile to authorize.

[2020-07-22 23:05] danewalton commented on #1589
Is this a new cert or the old one? Could it have expired?

[2020-07-22 23:07] williamaccuenergy commented on #1589
@danewalton, this is a new cert. the linititation is 30 days. I confirm that it is not expired

[2020-07-22 23:08] williamaccuenergy commented on #1589
I create a new cert today

[2020-07-22 23:26] danewalton commented on #1589
Getting the "Not Authorized" error could be from a variety of causes. Do you have any details on the cert or connection via Wireshark? Feel free to email me on the email in my profile if you think that info is sensitive.

[2020-07-23 02:19] williamaccuenergy commented on #1589
@danewalton,thanks for your great help. I create a project on PC computer, and re-create certificate, key, and a new IoT device. it seems to work fine. I will validate it on target machine. Thank you again!

[2020-07-23 08:16] pmulligan-rk commented on #1572
@williamaccuenergy  Another issue could be the system date. Does it have the correct date when it's trying to provision? If this is out of date it will also fail to authorize. I had problems with the system date just during boot-up of my device as it takes time to sync. I recently implemented a loop in my code to attempt to provision multiple times to solve it.

[2020-07-23 12:58] sanjeev-magoo commented on #1568
@ericwol-msft - Thanks for the PR. Hoping this feature is supported for MQTT over websocket protocol from device to IoTHub.

[2020-07-23 13:00] williamaccuenergy commented on #1572
@pmulligan-rk Thanks for your reply. I think  copying cert file from different OS may be problem. I force NTP sync when system reboot, and force NTP sync every 5 minutes at system run time. Thanks again

[2020-07-23 16:58] ehsaeed commented on #1363
@ewertons
Any workaround for this?
As the device does get registered but still these errors appear.

[2020-07-23 17:03] williamaccuenergy commented on #1589
@danewalton,I have another question:
`(void)IoTHub_Init();
......
 IoTHubDeviceClient_Destroy(_device_handle);
IoTHub_Deinit();`
code like aboe works fine.But If I change configuration and donnt reboot device I will do:
` IoTHubDeviceClient_Destroy(_device_handle);
IoTHub_Deinit();
(void)IoTHub_Init();
......
`
But I cannot connect to IoT Hub. For example both SAS and X.509 work fine. If I switch

[2020-07-23 23:54] danewalton commented on #1589
Hey @williamaccuenergy can you try a flow like the following:
[code]
Essentially `_init` and `_deinit` should only be called once during program execution.

[2020-07-24 00:02] ewertons commented on #1589
Also, please make sure you are not using the same device id with different types of authentication.
And there can be only one IoTHubDeviceClient for a given device ID at a given time.

[2020-07-24 00:08] ewertons commented on #1595
Hi @andpc ,
the log you provided actually doesn't show the errors that caused the connection to be dropped.
What can be inferred from your snipped is that the device client had some connection issue, and couldn't reconnect for 300 seconds (5 minutes), which then caused the retry logic to simply stop retrying to reconnect.
If you do not want the client to stop retrying, use retryTimeoutLimit = 0, o

[2020-07-24 00:14] ewertons commented on #1592
Hi @sanjeev-magoo ,

the plan you listed seems pretty good, and should work.

Unfortunately our device provisioning client cannot connect through the IoT Edge, it can only connect directly to the DPS service.

[2020-07-24 00:29] williamaccuenergy commented on #1589
@danewalton @ewertons Thanks a lot .   If _init and _deinit are called multiple times there will be some problem. So I reboot thread  after I chang Azure configuration, it works fine now. I remember  important information from @ewertons. Thank you both!

[2020-07-24 00:47] ewertons commented on #1576
Hi @pmulligan-rk have you tried @ericwol-msft 's suggestion?
This issue has been open for 3 weeks since the last comment. We will close it for now, but please feel free to reopen it if you would like to follow up.
Thanks,
Azure IoT Team

[2020-07-24 00:47] #1576 closed

[2020-07-24 00:47] az-iot-builder-01 commented on #1576
@pmulligan-rk, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-07-24 12:43] Lisa999 opened #1599 "Bug in sample iothub_ll_telemetry_sample file iothub_ll_telemetry_sample.c"
This code:

Should be:

The line:
 **//IoTHubDeviceClient_LL_SetOption(iothub_ll_handle, OPTION_AUTO_URL_ENCODE_DECODE, &urlEncodeOn);**
is containing a non-existing variable (iothub_ll_handle)...

[2020-07-24 13:04] MogheesBinZahid opened #1600 "IoTHubDeviceClient_SendReportedState not updating device twin on Azure portal"
**Development Machine, OS, Compiler (and Other Relevant Toolchain Info)**

Raspberry Pi, Raspbian Stretch Lite (Release 2018-11-13)
Cross Compiled on (Raspbian 8.3.0-6+rpi1) using GCC  8.3.0

**SDK Version (Please Give Commit SHA if Manually Compiling)**

Release 2019-01-31

**Protocol**

MQTT

**Describe the Bug**
I am using [azure iot c sdk](https://github.com/Azure/azure-iot-sdk-c). I have impl

[2020-07-24 15:54] ewertons commented on #1599
You are absolutely correct, @Lisa999 .
Thanks for reporting the issue.
We will fix it promptly.
For next issues like this, feel free to submit a PR as well. We greatly appreciate the community contributions.
-Azure IoT Team

[2020-07-24 18:05] ewertons commented on #1600
Hi @MogheesBinZahid ,
The code you posted presents some questions, since you are passing the size of `reportedState`, but `message` as the data variable to the function.
You should either use just `message` and strlen(`message`) or `reportedState` and strlen(`reportedState`).

I would say the problem you are having is not related to the SDK itself, but to the language and wrapper design you are us

[2020-07-24 18:19] ewertons commented on #1536
@dk1301 ,
this issue has been stale for some time, we apologize.

User Id is a "system property" supported by the Azure IoT Hub.
https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-messages-construct#system-properties-of-d2c-iot-hub-messages

Only non-system-properties are exposed through `IoTHubMessage_GetProperty`.

Unfortunately, the Azure IoT C SDK does not expose the `user id` sys

[2020-07-24 18:31] ewertons commented on #1599
Fixed, thanks.

[2020-07-24 18:31] #1599 closed

[2020-07-24 18:31] az-iot-builder-01 commented on #1599
@Lisa999, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-07-24 20:17] ewertons commented on #1544
Please follow up on the original issue if needed.
Thanks,
Azure IoT SDK Team

[2020-07-24 20:17] #1544 closed

[2020-07-24 20:17] az-iot-builder-01 commented on #1544
@vipeller, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-07-24 20:25] ewertons commented on #1542
Hi @dvescovi1 , apologies for the delay.
We will post an update soon with our findings.

[2020-07-24 20:32] ewertons commented on #1521
@dndsmith , sorry but we got reassigned to deal with new development, and follow ups got delayed. Apologies for that.

Well, the information you provided about Ubuntu matches what we verify on the gated builds we have.

However it still poses a question about why you saw the segmentation faults on 'Oracle Linux Server release 7.7 using gcc 8.2.0, cmake 3.16.2'.
Just to try to eliminate any variabi

[2020-07-24 20:37] ewertons commented on #1514
Hi @v-jiacz ,
Device Streaming is a public preview feature of azure-iot-sdk-c, and hasn't been integrated with Azure IoT Edge yet.
Indeed it will only be supported after we reach GA (General Availability) for this feature.
Unfortunately it is not planned for this semester.
Please hold until we reach GA for more details.
Thanks,
Azure IoT SDK Team.

[2020-07-24 20:37] #1514 closed

[2020-07-24 20:37] az-iot-builder-01 commented on #1514
@v-jiacz, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-07-24 20:38] ewertons commented on #1514
We are closing this issue since we believe a sufficient answer has been provided, however please feel free to reopen it if you would like to follow up.

[2020-07-24 20:44] ewertons commented on #1506
Hi @gri6507 ,
the azure-iot-sdk-c code seems to be behaving accordingly.
Your question is more related to the logic contained in the Azure IoT Edge code.
We posted an issue on the proper repo on your behalf.
https://github.com/Azure/iotedge/issues/3287

Please feel free to reopen this issue if you would like to follow up on any points related to the code of azure-iot-sdk-c.
Thanks,
Azure IoT SDK T

[2020-07-24 20:44] #1506 closed

[2020-07-24 20:44] az-iot-builder-01 commented on #1506
@gri6507, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-07-24 20:52] ewertons commented on #1520
If you would like to get more information about SAS token logic with MQTT, please refer to our documentation:
https://github.com/Azure/azure-iot-sdk-c/blob/LTS_07_2020_Ref01/doc/connection_and_messaging_reliability.md#connection-authentication
and
https://github.com/Azure/azure-iot-sdk-c/blob/LTS_07_2020_Ref01/doc/Iothub_sdk_options.md#standard-transport (please see option `OPTION_SAS_TOKEN_LIFETI

[2020-07-24 20:52] #1520 closed

[2020-07-24 20:52] az-iot-builder-01 commented on #1520
@tinfoilbroker, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-07-24 21:01] ewertons commented on #1416
Hi @koalo ,
This is part of a design of any client-server system that is based on an identity (device ID in this case).
The Azure IoT Hub is designed to allow only one endpoint connected with the same identity (device ID).

If you need multiple endpoints connected to the Azure IoT Hub you can either use unique device IDs per endpoint or use [AMQP device multiplexing](https://github.com/Azure/azure

[2020-07-24 21:01] #1416 closed

[2020-07-24 21:01] az-iot-builder-01 commented on #1416
@koalo, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-07-24 21:04] ewertons commented on #1478
Hi @xxxMIBCxxx ,
This issue has been fixed as per the commit history above.
If you would like to follow up on this issue, please feel free to reopen it.
Thanks for contributing to Azure IoT!

-Azure IoT SDK Team.

[2020-07-24 21:04] #1478 closed

[2020-07-24 21:04] az-iot-builder-01 commented on #1478
@xxxMIBCxxx, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-07-24 21:09] ewertons commented on #1481
@apostrophesoftware , there is a chance the issue you are seeing is because of the order of your link arguments.
Could you try a different sequence, most likely having
`-l"iothub_client" -l"iothub_client_mqtt_transport" -l"iothub_service_client" -l"umqtt" -l"aziotsharedutil" -l"umock_c" -l"parson"`

Other than that your sequence above seems correct.

[2020-07-24 21:16] ewertons commented on #1422
Hi @alaendle ,
upon verification our assessment is that the initial assumption that the Azure IoT Edge did not received a PUBACK for message 50 seems incorrect.
The code in umqtt (our mqtt client) sends a PUBACK right after the delivery callback is invoked from that layer.
However, as it seems the callback gets queued internally before it gets exposed to the user, so the function returns to umtt a

[2020-07-24 21:18] ewertons commented on #1418
Hi @yaroslav-zhurakovskiy ,
Thanks for reporting this issue and apologies for the long delay.

Would you be interested in posting a PR with your suggestion, so we can record your contribution on the history of our repo?

[2020-07-24 21:20] ewertons commented on #1408
Hi @prohith46 ,
did you have a chance to look into the suggestions made by @ericwol-msft ?
We will close this issue for now, but please feel free to reopen it if you would like to follow up on this issue.

Thanks,
Azure IoT SDK Team.

[2020-07-24 21:20] #1408 closed

[2020-07-24 21:20] az-iot-builder-01 commented on #1408
@prohith46, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-07-24 21:25] ewertons commented on #1463
Hi @IvanJobs ,
hiding the handle would mean we would need to expose a lot of the API functions from iothub_device_client on the Digital Twin API as well, creating a lot of duplication.
The design we have is aimed at simplifying the code and reducing memory usage, with the cost of having the handles individually managed by the user.

Thanks for your question, and please feel free to reopen this iss

[2020-07-24 21:25] #1463 closed

[2020-07-24 21:25] az-iot-builder-01 commented on #1463
@IvanJobs, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-07-24 21:29] ewertons commented on #1405
Hi @tdhj ,
this issue contains very few details and we are not able to provide any insight based only on these traces.
This SDK gets built daily for Linux and openssl and is validated.
If you still need assistance, please feel free to reopen this issue once you have all the details about your platform (OS flavor, version, architecture), version of the SDK used, version of openssl, gcc, you have in

[2020-07-24 21:29] #1405 closed

[2020-07-24 21:29] az-iot-builder-01 commented on #1405
@tdhj, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-07-24 21:51] ewertons commented on #1397
Hi @gri6507 , we deeply apologize, but we got reassigned to work on new development and some of the issues got delayed.

So the logs show that you eventually connect.
However, you get these failures a few times in the beginning:

If you look into the code, it logs the result of so_error, 111.
Which maps to:
https://elixir.bootlin.com/linux/latest/C/ident/ECONNREFUSED

So I would say the device is

[2020-07-24 22:01] ewertons commented on #1464
Hi @gri6507 ,

IOTHUB_MODULE_CLIENT_LL_HANDLE is only used by IoTHubModuleClient_LL_* functions, the same way that IOTHUB_DEVICE_CLIENT_LL_HANDLE is only used by IoTHubDeviceClient_LL_* functions.
There is no way to cross use these types!

Please see additional information for the questions you had:

Distributed tracing is a feature in public preview phase, not supported by IoT Edge or Modules yet

[2020-07-24 22:01] #1464 closed

[2020-07-24 22:01] az-iot-builder-01 commented on #1464
@gri6507, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-07-24 22:58] ewertons commented on #1377
Hi @larsonmpdx apologies for the delayed response.

Unfortunately we hadn't updated public-preview with those fixes yet. We will update you once that is scheduled.

[2020-07-24 23:00] ewertons commented on #1279
Hi @MoMeneam ,

Were you able to collect the data requested by @jbobotek ?

We will close this issue for now, but please feel free to reopen it if you would like to follow up.

Thanks,
Azure IoT SDK Team.

[2020-07-24 23:00] #1279 closed

[2020-07-24 23:00] az-iot-builder-01 commented on #1279
@MoMeneam, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-07-25 02:23] MogheesBinZahid commented on #1600
Thanks for the reply @ewertons . I am using strlen(`message`) in (`reportedStateSize`) it was a mistake in adding the code sorry for that. I have verified the json from json validator it is a valid json. I will attach and debugger and see what is happening inside IoTHubDeviceClient_SendReportedState. I will get back to you if problem persist

[2020-07-25 06:27] #1600 closed

[2020-07-25 06:27] az-iot-builder-01 commented on #1600
@MogheesBinZahid, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-07-26 17:35] dndsmith commented on #1521
Hi @ewertons ,

No worries. We have had successful experiments regardless.

In the meantime, I need to explain something. I use the word "experiments" because we have been doing research. I didn't find a need to mention it before, but the background will be useful now.

We programmed a synthetic data generator in C++ to model a device, and we utilized a high performance computing cluster so we cou

[2020-07-27 01:26] alonf opened #1602 "configure -Dhsm_type_symm when using vcpkg"
------------------------------- delete below -------------------------------
I am trying to follow this quickstart: https://docs.microsoft.com/en-us/azure/iot-dps/quick-create-simulated-device-symm-key
But instead of git clone, and cmake -Dhsm_type_symm_key:BOOL=ON -Duse_prov_client:BOOL=ON  ..
I'd like to use the VCPKG package manager.
I tried to run this: vcpkg install azure-iot-sdk-c[use-prov-c

[2020-07-27 06:08] alaendle commented on #1422
Hello @ewertons,
I think we are going round in circles :weary: - and I'm sorry to say so, but this aspect was already discussed in January - https://github.com/Azure/iotedge/issues/2089#issuecomment-580770221

Just assume a crash between the PUBACK and the INVOCATION of the callback - and as far as I get it there is no guarantee that this can't happen :smirk:

So I need to contradict, messages can

[2020-07-27 12:34] sanjeev-magoo commented on #1592
Thanks @ewertons for your response.
We would also like to understand, if say leaf device has connectivity (for registration only) and is getting registered using DPS to IoTHub, edge device is also registered to same IoTHub. what is the MS recommendation on -
1. Establishment of parent/child relation between edge and leaf device (looking for non-manual solution). if we use "GatewayHostName" in IoTH

[2020-07-27 15:21] gri6507 commented on #1397
@ewertons Thank you for the follow-up. With regards to your comment

    We will need to understand who is setting the correlation-id property and why it is not of uuid type.

Is there anything that you need from my app to understand this? Or is this an internal MSFT investagation?

[2020-07-28 00:22] ewertons commented on #1592
Hi @sanjeev-magoo ,
thanks for your questions but they seem to be related to Azure IoT Edge, not the C SDK client itself.
It would be something to be posted on https://github.com/azure/iotedge, however to save you a hoop I will direct the question internally.

[2020-07-28 00:26] ewertons commented on #1574
Hi @mucar-bmk ,

we will close this issue for now, but please feel free to reopen it if you would like to follow up.

Thanks,
Azure IoT SDK Team.

[2020-07-28 00:26] #1574 closed

[2020-07-28 00:26] az-iot-builder-01 commented on #1574
@mucar-bmk, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-07-28 00:28] mlunt-msft commented on #1602
Hi Alon,

Inside the port file (portfile.cmake, under ...\vcpkg\ports\azure-iot-sdk-c ) you'll see:

vcpkg_configure_cmake(SOURCE_PATH ${SOURCE_PATH}
    PREFER_NINJA
    OPTIONS ${FEATURE_OPTIONS}
        -Dskip_samples=ON
        -Duse_installed_dependencies=ON
        -Duse_default_uuid=ON
        -Dbuild_as_dynamic=OFF
        -Duse_edge_modules=ON
        **-Dhsm_type_symm_key=${use_prov_clie

[2020-07-28 00:30] ewertons commented on #1572
@pmulligan-rk , thanks for posting back the solution to this issue.
We really appreciate your contribution.

This issue will be closed for now, but please feel free to reopen it if you would like to follow up on this matter.
Thanks,
Azure IoT SDK Team.

[2020-07-28 00:30] #1572 closed

[2020-07-28 00:30] az-iot-builder-01 commented on #1572
@SatishBoddu-MSFT, @pmulligan-rk, @williamaccuenergy, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-07-28 09:28] alonf commented on #1602
Hi,

Thanks, this is what I did, and it solved the problem.
I've got an answer that this issue will be fixed in the next release.

Alon.

From: mlunt-msft <notifications@github.com>
Sent: Tuesday, July 28, 2020 3:28 AM
To: Azure/azure-iot-sdk-c <azure-iot-sdk-c@noreply.github.com>
Cc: Alon Fliess <AlonF@codevalue.net>; Author <author@noreply.github.com>
Subject: Re: [Azure/azure-iot-sdk-c] configu

[2020-07-28 14:32] rajaggrawal opened #1603 "C sdk crash when sending D2C messages continuously ."
i am trying to send 1,00,000 device to cloud message continuously in loop. but sdk crash intermittently.

following **SendD2CMessage** sends device to cloud messages.

void SendD2CMessage(const std::string& message, const std::string& tagName, const std::string& tagValue)
{
    if (nullptr == m_iotHubHandle) {
        Log::error(LOG_TAG, "IoT hub handle is not initialised");
        throw std::run

[2020-07-28 19:28] ewertons commented on #1603
Hi @rajaggrawal ,

the memory being freed is in a path owned by the SDK, so that would be an issue to investigate right away.
However, we do have long haul tests and they haven't failed with memory leaks or corruption.

To help us assess the issue, could you run your application under valgrind, and share the details please? It would be better to have it attached as a file, since you might get a lo

[2020-07-28 20:19] RotateAt60MPH opened #1604 "Missing include files from azure-iot-c-sdk apt-get package"
**Development Machine, OS, Compiler (and Other Relevant Toolchain Info)**

Raspberry Pi4: arm32v7/ubuntu:xenial

**SDK Version (Please Give Commit SHA if Manually Compiling)**

apt-get package as of 2020-07-28

**Protocol**

**Describe the Bug**

Cannot compile sample code [Get started with IoT Hub module identity and module twin (C)](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-c-c-modu

[2020-07-28 21:03] ewertons commented on #1604
Hi @RotateAt60MPH , this is not expected, you should be able to install the published packages.
We will verify that and reply to you shortly.

[2020-07-29 07:48] rajaggrawal commented on #1603
Hi @ewertons

please find the attached report.

Thanks
Raj
[Valgrind report.zip](https://github.com/Azure/azure-iot-sdk-c/files/4993409/Valgrind.report.zip)

[2020-07-29 13:05] bbpaulvanharen opened #1606 "How to cross compile IoT C-sample code for RPI?"
I've followed the instructions on https://github.com/Azure/azure-iot-sdk-c/blob/master/doc/SDK_cross_compile_example.md to create / set-up the cross compilation environment for the Azure IoT SDK for the Raspberry Pi.

Now, I'm looking for guidance how to build the sample code from the iothub_client/samples and the provisioning_client/samples. What are the next steps once the SDK is build?

[2020-07-29 19:00] ewertons commented on #1606
@jbobotek , do we have documentation showing how to build our samples using installed azure-iot-sdk-c libraries?

[2020-07-29 19:11] ewertons commented on #1571
Hi @pmulligan-rk , these functions are defined in the prov_device_ll_client library.
I see you have it in your link list, but it could be that the linker is failing to find them because of the order of the libraries in your list.
Could you try moving -lprov_device_ll_client to after -lprov_device_client ?

[2020-07-29 19:16] ewertons commented on #1521
@dndsmith ,

thanks for sharing the details. Looks like you folks are doing some very interesting things there. Very cool!
We understand that conditions change, so it is ok. Of course if you could try the same on the new system and let us know that will help a lot. It will be a lot easier than us reserving resources to deploy an Oracle LS.
For the sake of the time this issue has been open, do you

[2020-07-29 21:32] ewertons commented on #1437
Hi @szsobocinski ,
apologies for the delay on the response, we have been reassigned to work on new development and that impacted the replies.

Your point seems very valid, we can see that METHOD_HANDLE is exposed through the [IOTHUB_CLIENT_INBOUND_DEVICE_METHOD_CALLBACK](https://github.com/Azure/azure-iot-sdk-c/blob/master/iothub_client/inc/iothub_client_core_common.h#L159) function pointer.

This

[2020-07-29 22:08] ewertons commented on #1423
Hi @maskimthedog ,
suppressing any signals can be problematic, as other signals generated by the socket are valid and should be handled by the calling application.
We catch the SIGPIPE only because it is part of the logic we have for reconnection.

Could you share details about what system you are running the code on?

[2020-07-29 23:06] jbobotek commented on #1606
Thanks @ewertons for passing this my way. @bbpaulvanharen if you have already set up the cross compile environment like you say, the samples should be built as a part of the build.sh. [This Readme](https://github.com/Azure/azure-iot-sdk-c/tree/master/samples#azure-iot-c-sdk-samples) has a link to the various samples. Make sure you fill in your hub and DPS credentials in places like [here](https://

[2020-07-29 23:20] ewertons commented on #1077
Hi @mms- , unfortunately we have other high-priority features being completed at this moment, and we have no ETA for when device streaming will go GA. Thanks for checking it out.

[2020-07-29 23:29] ewertons commented on #1374
@ling0015 ,
apologies for the long delay on replying, but we were reassigned to work on new development and that impacted on the github issue response time.

A connection string (more specifically, a device ID or module ID) can only be used once per connection with the Azure IoT Hub at any given time. If you need to have more than one connection at a time, please create another device with a diffe

[2020-07-29 23:29] #1374 closed

[2020-07-29 23:29] az-iot-builder-01 commented on #1374
@ling0015, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-07-29 23:35] ewertons commented on #1243
Hi @FreddieChopin , we apologize for the delay. We have been reassigned for new code development and that affected our response time.

Is this still a valid issue for you, or you found a workaround?

[2020-07-30 04:46] danewalton commented on #1516
Hi @omersalam if you have any further issues please reopen this or open another issue

[2020-07-30 04:46] #1516 closed

[2020-07-30 04:46] az-iot-builder-01 commented on #1516
@omersalam, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-07-30 06:38] bbpaulvanharen commented on #1606
@jbobotek : I've reloaded and rebuild the SDK and I can now find the sample executables as expected.

May I suggest to describe the structure of the SDK file tree somewhere?

[2020-07-30 12:00] maskimthedog commented on #1423
Hi @ewertons ,

Thanks for your response.  We have created a CMake project in Visual Studio to build executables to be run on a remote Linux system (with the build actually taking place on WSL on behalf of Visual Studio).  We ran into problems debugging where the debugger would always break when a SIGPIPE occurred on the remote Linux system while debugging one of the aforementioned executables.  W

[2020-07-30 12:37] bbpaulvanharen opened #1608 "Segmentation fault on dice_device_enrollment"
I've build dice_device_enrollment on a Ubuntu 18.04 LTS x86 computer.
OpenSSL version is 1.1.1.

Generating a certificate for individual enrollment is okay, generating a certificate for group enrollment results in a segmentation fault.

The stack trace of this crash is as follows:

[2020-07-30 16:55] FreddieChopin commented on #1243
I haven't checked whether this is still an issue in current HEAD, as I need to use a forked (based on the working tag mentioned above) and slightly modified version of Azure's SDK. Updating my fork and re-applying all the required changes is something I cannot do right now.

[2020-07-30 17:05] danelikethedog opened #1609 "Test for Closing Issues"

[2020-07-30 17:05] az-iot-builder-01 commented on #1609
@danelikethedog, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-07-30 17:06] danelikethedog commented on #1609
testing closed issue

[2020-07-30 17:06] ewertons commented on #1609
Ok, so we are reopening.

[2020-07-30 17:35] ewertons commented on #1376
Hi @ellainec  and @dangerousHobo ,
as you have verified, the Azure IoT Hub is not a full MQTT broker, and the messaging features (telemetry, C2D events, direct methods, device twin) all have predefined QoS values and are expected to be sent as defined in the SDK.

Even uMQTT is developed with a very thin design, made to be used by the azure-iot-sdk-c SDK. By itself, it won't support all QoS levels

[2020-07-30 17:35] #1376 closed

[2020-07-30 17:35] az-iot-builder-01 commented on #1376
@ellainec, @etcetc, @dangerousHobo, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-07-31 11:51] karthago1 commented on #1397
I can confirm this. With Amqp I can not execute Direct Method or even send messages. below the logs of the sample Module.
(with mqtt everything is working fine)

Waiting for incoming messages.
-> Header (AMQP 0.1.0.0)
<- Header (AMQP 0.1.0.0)
-> [OPEN]* {08986977-8814-44c5-a14f-74fdfb565fa3,ca-linux,4294967295,65535,240000}
<- [OPEN]* {DeviceGateway_ccdfd10852cd4ed6864dd9e336bc1a51,localhost,65536

[2020-07-31 19:30] ewertons commented on #1542
@dvescovi1 , unfortunately we do not have a bitbake recipe.

[2020-07-31 19:36] ewertons commented on #1541
Hi @Fyusel , if the TLS or socket layers are not returning failures, there is no way the code can identify network other than the ping timeouts.
Could you share the complete, verbose logs, please? If you have any error messages from tlsio* or socketio* layers, we could consider evaluating an enhancement for this platform, otherwise the SDK code has no option other than the pings.

[2020-07-31 19:44] ewertons commented on #1505
Hi @apostrophesoftware ,
we will close this issue, but if you would like it to be reopened and follow up on this matter, please post a comment requesting so.

Thanks,
Azure IoT SDK Team.

[2020-07-31 19:44] #1505 closed

[2020-07-31 19:44] az-iot-builder-01 commented on #1505
@apostrophesoftware, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-07-31 19:49] ewertons commented on #1501
Hi @gri6507 ,

We apologize for the long delay, but we were assigned to work on new code development and that affected our github response time.

Your question should have been filed on iotedge repo, since it seems specific to Azure IoT Edge.
We filed this issue on your behalf on the correct repo: https://github.com/Azure/iotedge/issues/3327

This issue will now be closed. Please feel free to open

[2020-07-31 19:49] #1501 closed

[2020-07-31 19:49] az-iot-builder-01 commented on #1501
@gri6507, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-07-31 20:14] RotateAt60MPH commented on #1604
Looks like a few more header files are missing:

iothub_devicetwin.h
iothub_service_client_auth.h

[2020-07-31 20:57] ewertons commented on #1402
Hey @vpaladino778  and @hellyzh ,

We apologize for the long delay, but we were assigned to work on new code development and that affected our github response time.

Thank you very much for posting back your findings, that will help the community in case they see the same issue.

We will close this issue, but if you would like it to be reopened and follow up on this matter, please post a comment r

[2020-07-31 20:57] #1402 closed

[2020-07-31 20:57] az-iot-builder-01 commented on #1402
@vpaladino778, @hellyzh, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-08-01 02:59] joehal9000 commented on #1521
Thank you for working with us on this. The new system will be up next week, so we will be able to follow up on this then.  Of course feel free to close this until then.

[2020-08-01 10:27] dvescovi1 commented on #1542
Of course I know you don't have a bitbake recipe or else I would not have created an issue. Duh.
I am saying you should create one as it would greatly expand the reach and usefulness of this project.

[2020-08-01 15:09] blackzw opened #1613 "NULL iothubClientHandle issue"
**Development Machine, OS, Compiler (and Other Relevant Toolchain Info)**
Linux

**SDK Version (Please Give Commit SHA if Manually Compiling)**

tag 1.3.8

**Protocol**

MQTT

**Describe the Bug**

the connection between device and IoTHub is crashed with the log follow:
[code]

**Console Logs**

[code]

[2020-08-01 17:47] ewertons commented on #1423
Hey @maskimthedog ,
by any means please don't apologize, we always benefit from getting as many details about an issue as possible.
Thanks for sharing.
However that still puzzles us why you would get the SIGPIPE break using azure-iot-sdk-c, but not with Azure Sphere (which also uses azure-iot-sdk-c underneath!!).
If you find more details, would you mind sharing them here on this issue, even if clo

[2020-08-01 17:48] az-iot-builder-01 commented on #1423
@maskimthedog, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-08-01 17:50] ewertons commented on #1613
Hi @blackzw ,
please attach a debugger and verify if you are using the SDK properly.
This error message is accurate and it is exactly what it means, you are passing a NULL reference for the handle argument to that particular function.
Please debug and fix that on your application, and you should then have it working.

-Azure IoT SDK Team.

[2020-08-01 17:50] #1613 closed

[2020-08-01 17:50] az-iot-builder-01 commented on #1613
@blackzw, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-08-01 17:52] ewertons commented on #1613
For more details please use one of our samples as reference: https://github.com/Azure/azure-iot-sdk-c/tree/master/iothub_client/samples

[2020-08-03 16:27] danewalton commented on #1575
I'm going to go ahead and close this for inactivity for now. @rgamage if you would like some additional help please post a comment and we can reopen it.

[2020-08-03 16:28] az-iot-builder-01 commented on #1575
@rgamage, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-08-03 17:01] rgamage commented on #1575
I would like to re-open this issue, and request a simple addition to the docs, to add this sentence, shown prominently: "Azure Edge Devices do NOT currently support the use of CA-signed certificates".  It took me a month of working with Microsoft to arrive at this conclusion.  No wonder nobody could show me how - it's not supported!  Only simple devices currently support CA-signed certificates.  E

[2020-08-03 17:48] ewertons commented on #1542
@dvescovi1 ,
thanks for your reply. At this moment we do not have plans to add a recipe for bitbake.
Thanks,
Azure IoT SDK Team.

[2020-08-03 17:48] #1542 closed

[2020-08-03 17:48] az-iot-builder-01 commented on #1542
@dvescovi1, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-08-03 18:41] ewertons commented on #1367
Hi @NOA-Vernon ,

We apologize for the long delay, but we were assigned to work on new code development and that affected our github response time.

So looks like you actually have two questions on this issue.

1. If the client never connects, why messages do not timeout (and callback gets invoked to user)?

2. Why the provisioning client SDK considers that an error?

Also, you mention that the pr

[2020-08-03 20:40] ewertons commented on #1608
Hi @bbpaulvanharen ,

thanks for reporting this issue. We will investigate in from our side, but just to help us debug it could you run your application (built with debug info) under valgrind?
Valgrind will give us a view of all the memory issues during runtime.

[code]

[2020-08-03 20:45] ewertons commented on #1481
We will close this issue for now but if you would like it to be reopened and follow up on this matter, please post a comment requesting so.

Thanks,
Azure IoT SDK Team.

[2020-08-03 20:45] #1481 closed

[2020-08-03 20:45] az-iot-builder-01 commented on #1481
@apostrophesoftware, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-08-03 22:52] hihigupt commented on #1445
Our top level cmake handles the dependencies properly. Please use the following command to compile:

git clone https://github.com/Azure/azure-iot-sdk-c.git
git checkout public-preview
git submodule update --init --recursive --depth 1
mkdir cmake
cd cmake
cmake -Duse_prov_client=1  -Dhsm_type_x509=1 ..
cmake --build .

this should build your prov_dev_client_ll_sample under path

<githubroot>/cmake/

[2020-08-04 01:19] ewertons commented on #937
Hi @mlilien ,

We apologize for the long delay, but we were assigned to work on new code development and that affected our github response time.

Is this still an issue for you?

[2020-08-04 01:21] ewertons commented on #1093
Hi @z466chen

We apologize for the long delay, but we were assigned to work on new code development and that affected our github response time.

Is this still an issue for you?

[2020-08-04 01:24] ewertons commented on #1188
Hi @FreddieChopin ,

We apologize for the long delay, but we were assigned to work on new code development and that affected our github response time.

There is now a better option for bare-metal systems for connecting with the Azure IoT services.
Please check the new [Azure SDK for Embedded C](https://github.com/azure/azure-sdk-for-c) solution.
That should be a better fit for your project.

We wi

[2020-08-04 01:24] #1188 closed

[2020-08-04 01:24] az-iot-builder-01 commented on #1188
@FreddieChopin, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-08-04 01:47] ewertons commented on #1396
Hi @gksreal ,

We apologize for the long delay, but we were assigned to work on new code development and that affected our github response time.

We will close this issue, but if you would like it to be reopened and follow up on this matter, please post a comment requesting so.

Thanks,
Azure IoT SDK Team.

[2020-08-04 01:47] #1396 closed

[2020-08-04 01:47] az-iot-builder-01 commented on #1396
@gksreal, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-08-04 01:53] ewertons commented on #1428
Hi @ethensnow ,

We apologize for the long delay, but we were assigned to work on new code development and that affected our github response time.

There is now a much better solution for embedded systems like yours.
Please check the new [Azure SDK for Embedded C](https://github.com/azure/azure-sdk-for-c) suite.
You can find [samples for Device Provisioning](https://github.com/Azure/azure-sdk-for-

[2020-08-04 01:53] #1428 closed

[2020-08-04 01:53] az-iot-builder-01 commented on #1428
@ethensnow, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-08-04 01:56] NOA-Vernon commented on #1367
Hi @ewertons,
I try to register the device and certificate against the DPS through MQTT, but no succeed, if register against DPS through HTTP, then it works.
Also, I want to catch the 401002 error code for re-new the certificate if the certificate expired, are you intend to implement this function in the near future

[2020-08-04 01:58] ewertons commented on #1517
Hi @omersalam ,

We apologize for the long delay, but we were assigned to work on new code development and that affected our github response time.

Did you have chance to get your question addressed by the link posted by @wesmc7777 ?

We will close this issue for now, but if you would like it to be reopened and follow up on this matter, please post a comment requesting so.

Thanks,
Azure IoT SDK T

[2020-08-04 01:58] #1517 closed

[2020-08-04 01:58] az-iot-builder-01 commented on #1517
@omersalam, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-08-04 02:56] ewertons commented on #1360
Hi @aneesalappatt ,

We apologize for the long delay, but we were assigned to work on new code development and that affected our github response time.

The next step would be to ask client logs to verify if you are getting messages resent.

Could you [enable verbose logging](https://github.com/Azure/azure-iot-sdk-c/blob/master/iothub_client/samples/iothub_convenience_sample/iothub_convenience_samp

[2020-08-04 13:38] Hmaalla commented on #1550
For us, when connected status is received, that's means that all cloud/device synchronisation are finished and we can rely on this status to deal with twins , sending message etc
In the following example, we report some information on the twin just after receiving connected status, but when receiving complete device twin, we d'ont found the reported information

[code]

[2020-08-04 15:12] maskimthedog commented on #1423
@ewertons I spoke to soon.  Our Azure Sphere based gateways were hit with version 20.07 version of the Azure Sphere OS.  The sigpipe appeared constantly and made debugging difficult to find.  Our lead firmware engineer dug into it and came up with a solution.  His solution is below and his explanation further below.  His fix squashed the unhandled sigpipe seen in the debugger.

    /* Block SIGPIP

[2020-08-04 18:46] contre opened #1614 "Incorrect Log message in Prov_Device_LL_SetOption"
When passing the PROV_OPTION_TIMEOUT option name, the error message will say "setting proxy options" which is incorrect as the timeout is being set.

https://github.com/Azure/azure-iot-sdk-c/blob/e6244f3664e86fc8c15d395ccd2375dda3dd404c/provisioning_client/src/prov_device_ll_client.c#L1281

This appears to be a copy paste error and I believe the message should be different.

[2020-08-04 19:05] ewertons commented on #1423
So is this code added to your main, before it creates the client to connect with the IoT Hub?
If this is the case, maybe it would be correct to add the suppression in the SDK code itself for the thread-safe API (functions that do not have *_ll_* in the name), since there the SDK creates a thread to do the I/O.
This is great information, @maskimthedog ! Thank you very much for sharing. We will brin

[2020-08-04 19:09] ewertons commented on #1614
Absolutely correct, thanks for reporting it.

[2020-08-04 19:12] ewertons commented on #1371
Hi @wlisac,
thank you very much for your suggestion.
We have evaluated the request and, unfortunately, we will not have a chance to add support for Swift package manager for now.
There are already options for packages for the systems you listed (cocoapods for iOS and vcpkg for Linux/Mac/Windows), so it would be somehow redundant, with the addition of extra code we would need to maintain, plus it w

[2020-08-04 19:12] #1371 closed

[2020-08-04 19:12] az-iot-builder-01 commented on #1371
@wlisac, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-08-04 19:18] wlisac commented on #1371
@ewertons Thanks for the update.

As SPM continues to become the de facto standard for integrating 3rd party libraries in Xcode (on all Apple platforms and on Linux), I hope this decision will be reconsidered in the future.

[2020-08-04 21:45] ewertons commented on #1371
@wlisac , for sure we are always watching the trends.
If SPM becomes an option with stronger adoption than the current ones we certainly will reconsider it.

[2020-08-04 23:24] ewertons commented on #1614
Fixed.
Thanks for contributing to the Azure IoT SDKs!

[2020-08-04 23:24] #1614 closed

[2020-08-04 23:24] az-iot-builder-01 commented on #1614
@contre, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-08-04 23:48] ewertons commented on #1543
We apologize for the long delay, but we were assigned to work on new code development and that affected our github response time.

We will close this issue, but if you would like it to be reopened and follow up on this matter, please post a comment requesting so.

Thanks,
Azure IoT SDK Team.

[2020-08-04 23:48] #1543 closed

[2020-08-04 23:48] az-iot-builder-01 commented on #1543
@vipeller, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-08-05 05:26] rajaggrawal commented on #1603
Hi @ewertons ,

any update on this ?

Thanks

[2020-08-05 13:22] maskimthedog commented on #1423
@ewertons you are correct.  We placed the code at the very start of main.  Also, I cannot take credit.  Our lead firmware engineer came up with this after I mentioned to him that I had closed this case and he started seeing sigpipe on Azure Sphere after MS pushed the 20.07 OS update to our Azure Sphere gateways.

[2020-08-05 21:09] markrad commented on #1423
I'm not sure what debugger is in use on Azure Sphere however I thought this might be useful. Debugging with Visual Studio Code on a Linux target using gdb the debugger will **always** break on a SIGPIPE even if you have requested it be ignored in the application code. I resolved this by passing
[code]
in the gdb set up commands. This will prevent gdb stopping on the interrupt and allow the applica

[2020-08-05 21:19] ewertons commented on #1423
@markrad, thanks for the input.
My concern is if the code would do the same in production, not under debugger. If that is not the case, then this should be noted as a workaround and nothing would need to change in the SDK code.
@maskimthedog , could you confirm if @markrad mitigates the breaks you have been experiencing?

[2020-08-05 21:24] maskimthedog commented on #1423
From our lead:

"more likely it is that if you try to ignore it using signal(SIGPIPE, SIG_IGN) it does not get ignored by the application because signal is undefined with threads, just the fact that we are using gdb via Visual Studio and masking with pthread_sigmask stopped the exceptions hitting the debugger proves that"

[2020-08-05 21:24] markrad commented on #1423
I can't say for sure on Sphere if this is an issue with signal SIGIGN or just the debugger behaving in the same manner as on other Linux systems. I agree it needs to be tested.

[2020-08-05 21:32] ewertons commented on #1246
As per offline discussion, we have come to an agreement that the new Azure SDK for Embedded C suite would be the best place for this enhancement to be done.
We filed an internal task to track this request.
Thanks,
Azure IoT SDK Team.

[2020-08-05 21:32] #1246 closed

[2020-08-05 21:39] ewertons commented on #1606
Hi @bbpaulvanharen , thanks for letting us know that your project is unblocked.

We also thank you for the suggestion, however the internal file structure of the SDK changes with a certain frequency and it might not add as much value as we would expect.
There are other work items open internally to improve documentation, so we have plans for improvement there.

Thanks for your question.
Azure IoT

[2020-08-05 21:39] #1606 closed

[2020-08-05 21:39] az-iot-builder-01 commented on #1606
@bbpaulvanharen, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-08-05 21:42] maskimthedog commented on #1423
signal(SIGPIPE, SIG_IGN); is throughout the IoT Hub SDK and the signal still hits the debugger.  signal(SIGPIPE, SIG_IGN); will not mask on threads, thread_sigmask(SIG_BLOCK, &set, NULL); will.

[2020-08-06 08:41] schroedermarius opened #1617 "No Reconnect attempt or device disabled notification"
**Development Machine, OS, Compiler (and Other Relevant Toolchain Info)**
Mac OS - ESP-IDF

ESP32-WROOM32

**Protocol**

MQTT

**Describe the Bug**

When the ESP32 loses the connection to the Azure IoT Hub, I cant see any reconnect-attempt. Also If im deactivating the device in azure iot hub, I cant see any callback happening in the client.
Im expecting to get at least a IOTHUB_CLIENT_CONNECTION_D

[2020-08-06 09:53] schroedermarius commented on #1617
Seems to only happen when navigating through an iot edge gateway running on ubuntu.

[2020-08-06 14:56] DonHomer1942 opened #1618 "Heap Buffer Overflow when sending message with Property"
Heap Buffer Overflow in iothubtransport_mqtt_common.c in function
[code]
The overflow occurs at the memcmp, this happens when tokenData is shorter than a SystemProperty.
I noticed this because i always have -fsanitize=address in my build flags and the iothub_convenience_sample always crashed when I tried to send a message with a short Property attached to it.

[2020-08-06 16:54] ewertons commented on #1617
@schroedermarius , we need more information to be able to help.
Could you share where you got our code from, which version/commit hash and which sample you used?
Also would you be able to collect verbose logs?

[2020-08-06 16:58] ewertons commented on #1618
Thank you for reporting this issue, @DonHomer1942 !
It is indeed a bug and we shall fix is briefly.

[2020-08-06 17:10] hihigupt commented on #1445
Also please check following issue, when using custom HSM
https://github.com/Azure/azure-iot-sdk-c/issues/1516#issuecomment-648450676

[2020-08-06 17:53] ericwol-msft commented on #1568
This is now in master branch. Please use IoTHubMessage_SetMessageCreationTimeUtcSystemProperty to set the creation time on the message

[2020-08-06 17:53] #1568 closed

[2020-08-06 17:54] az-iot-builder-01 commented on #1568
@rajaggrawal, @sanjeev-magoo, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-08-06 17:56] ericwol-msft commented on #1536
Support for this issue is now in the master branch. Please use IoTHubMessage_GetMessageUserIdSystemProperty to get the user ID of the message.

[2020-08-06 17:56] #1536 closed

[2020-08-06 17:56] az-iot-builder-01 commented on #1536
@dk1301, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-08-07 02:48] RotateAt60MPH commented on #1604
While this is being reviewed, is my only alternative to load the azureiot SDK into the module container and compile it?

[2020-08-07 06:12] schroedermarius commented on #1617
@ewertons Thanks for your response! I've done that by using the sample code "iothub_client_sample_mqtt" from the esp-azure project current master, which is using the azure-iot-sdk-c library.

I was able to narrow down the error a little more. It seems that the library does not notice if there is a communication error if you just send messages. By only sending messages every 5 seconds, the client i

[2020-08-07 06:25] Fyusel commented on #1541
Hi @ewertons , thanks for your answer.
I activated "Enable mbedTLS debugging", set it to verbose level and rerun the example like described above. That are the errors I see on my side:

[code]

I hope it helps.

[2020-08-07 16:17] ewertons commented on #1423
Adding a resource for reference: https://www.linuxjournal.com/article/2121

[2020-08-07 17:24] ericwol-msft commented on #1617
This is per the MQTT spec.

 _In the absence of sending any other Control Packets, the Client MUST send a PINGREQ Packet_

https://docs.solace.com/MQTT-311-Prtl-Conformance-Spec/MQTT%20Control%20Packets.htm#_Ref363645900

[2020-08-07 21:25] coffeeaddict19 opened #1621 "Azure C SDK is omitting the first 2 minutes of queued telemetry on connection loss"
**Development Machine, OS, Compiler (and Other Relevant Toolchain Info)**

I compiled the Azure SDK for C on a raspberry pi with GCC 6.3.0
I compiled my project on the same raspberry pi against the Azure SDK with GCC 9.2
I ran my project on a Freewave ZumIQ loaded with Debian 9

**SDK Version (Please Give Commit SHA if Manually Compiling)**

tag: LTS_07_2020_Ref01
commit: 2bff372a9b22b54d3d4bc9a3e

[2020-08-08 09:30] schroedermarius commented on #1617
@ericwol-msft
Thats right, and I can understand that. But when sending messages every 5 seconds, there will never be a PINGREQ Packet, which is also right regarding the MQTT spec. But the Keep-Alive timer gets also resetted, when the MQTT Packet (my message) fails to send, which should not happen, right?

[2020-08-10 11:05] MogheesBinZahid opened #1622 "iothub_convenience_sample works fine outside docker container but gives error certificate verify failed when run inside a docker container"
**Development Machine, OS, Compiler (and Other Relevant Toolchain Info)**

Raspberry Pi, Raspbian Stretch Lite (Release 2018-11-13)
Cross Compiled on (Raspbian 8.3.0-6+rpi1) using GCC  8.3.0
Docker file based on debian

**SDK Version (Please Give Commit SHA if Manually Compiling)**

Release 2019-01-31

**Protocol**

MQTT

**Describe the Bug**
I am using [azure iot c sdk](https://github.com/Azure/a

[2020-08-10 15:13] joehal9000 commented on #1521
The server that we're using is still ongoing maintenance post updates. We're closing this issue for the sake of time and we'll reopen it once we are able to test the new system and offer new data.

[2020-08-10 15:13] #1521 closed

[2020-08-10 15:13] az-iot-builder-01 commented on #1521
@dndsmith, @joehal9000, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-08-10 16:40] ewertons commented on #1622
You are most likely not setting the trusted certificate for validating the server cert.

Please verify the code is being compiled to set the [trusted cert](https://github.com/Azure/azure-iot-sdk-c/blob/master/iothub_client/samples/iothub_convenience_sample/iothub_convenience_sample.c#L284).

[2020-08-10 16:56] ericwol-msft commented on #1617
I assume if your MQTT packet fails to send, so will the PINGREQ packet, most likely due to network connectivity issue. Are you saying that PINGREQ packets are successful, but your MQTT packets are not?

[2020-08-11 06:01] schroedermarius commented on #1617
Please excuse me, I must have put myself wrong.

I have messages that are sent every 5 seconds.
If I now leave the KeepAlive timer at the default value, a PINGREQ is never sent even with faulty messages, which means that the client does not rehabilitate itself and continues to run with a faulty connection.

[2020-08-11 08:13] MogheesBinZahid commented on #1622
Thanks got it

[2020-08-11 09:49] alevincenzi opened #1623 "Deb package with tpm_device_provision"
Hello

following your documentation, we are using the tool `tpm_device_provision` to extract the endorsement key from the tpm and register it in a DPS service. We clearly understood that we should not use the tpm2-tools (the ek is not accepted) but with your tool everithing works fine.

We are making this process automatic and to do so we would like to have a deb package that install `tpm_device_p

[2020-08-12 10:47] bryanposas opened #1624 "iOS 14 unrecognized selector sent to instance exception on IoTHubClient_LL_DoWork()"
**Development Machine, OS, Compiler (and Other Relevant Toolchain Info)**

Mac 10.15.4
XCode 12.0 beta 4

**SDK Version (Please Give Commit SHA if Manually Compiling)**

AzureIoTHubClient 1.3.9
AzureIoTUtility 1.3.9
AzureIoTuAmqp 1.3.9
AzureIoTuMqtt 1.3.9
AzureMacroUtils 1.3.9
AzureuMockC 1.3.9

**Describe the Bug**

In iOS 14, the app is crashing everytime it's doing the IoTHubClient_LL_DoWork(io

[2020-08-12 10:47] bryanposas commented on #1624
https://stackoverflow.com/questions/63374931/ios-14-unrecognized-selector-sent-to-instance-exception-on-iothubclient-ll-dowor

[2020-08-12 18:37] wduraes commented on #1308
Hi @reaction1989,

Your question became an item on the IoT Hub team backlog which will be prioritized for implementation, but there is no timeline yet for the team to address it yet.

Until we have this implemented, the release notes (https://github.com/Azure/azure-iot-sdk-c/releases) on the SDK repo will be the best place to get that information.

We will close this issue for now, but if you woul

[2020-08-12 18:37] #1308 closed

[2020-08-12 18:37] az-iot-builder-01 commented on #1308
@reaction1989, @wduraes, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-08-13 01:35] bryanposas commented on #1624
It's having the error in `static void dowork_poll_socket(TLS_IO_INSTANCE* tls_io_instance)` line 524 of the `tlsio_appleios.c`:
`CFReadStreamSetProperty(tls_io_instance->sockRead, kCFStreamPropertySSLSettings, kCFStreamSocketSecurityLevelNegotiatedSSL)`

[2020-08-13 08:27] bbpaulvanharen commented on #1093
I had the same issue. Quick hack:
In the directory `$RPI_ROOT/usr/lib/arm-linux-gnueabihf` create a symbolic link to `../../../lib/arm-linux-gnueabihf/libpthread.so.0`.

Just run
`ln -s ../../../lib/arm-linux-gnueabihf/libpthread.so.0 libpthread.so`

[2020-08-13 11:26] MartinTJDK opened #1625 "Renew SAS token without disconnect using AMQP"
We have been using MQTT (WebSocket) and SAS token with an expiry time of 1 hour.
The SAS token is generated and fetched from a server, and is refreshed/requested each hour.
To avoid the need for disconnect and the reconnect, which MQTT requires in order to accept a new SAS token, we are trying to use AMQP.
But it is difficult to find out how we can force the revalidation of the connection using a

[2020-08-13 14:50] coffeeaddict19 opened #1626 "does azure limit the queue size on loss of connection to IoT Hub?"
I am running azure-iot-sdk-c on a memory constrained device (512MB). When there is a connection outage, I see the data is buffered by the SDK into a queue (RAM) until the connection is re-established, then it is emptied and sent to IoT Hub.

Can I expect the queue to grow in size until it exceeds the memory available on the device -or- can it be expected to sense that condition before it occurs? I

[2020-08-13 16:32] ewertons commented on #1626
Hi @coffeeaddict19 ,
our telemetry queue has no limit in size. So if you send too many too fast, the RAM will be exhausted.
But there is a timeout control for how long a telemetry message can be in the queue (either unsent or in-flight waiting for the IoT Hub Ack). This timeout is configurable, with default value of 4 minutes. If any telemetry message does not get sent within that timeout, your ge

[2020-08-13 17:22] coffeeaddict19 commented on #1626
This is interesting. Using MQTT as the selected protocol the queue was holding 8 minutes of data after being disconnected for 10 minutes and I did not set this option. It resent the 8 minutes after being reconnected. Not 4 minutes. How is that possible? I'll re run it and turn on SDK trace logging, maybe that will be revealing.

[2020-08-14 00:26] ewertons commented on #1625
Hi @MartinTJDK ,
the Azure IoT C SDK does not have logic to request a new SAS token if the one provided expires.
Currently the only option is to destroy the device client and create a new one with the new SAS token.

[2020-08-14 01:03] ewertons commented on #1625
The SAS token is held by the "Authorization Module":
https://github.com/Azure/azure-iot-sdk-c/blob/41ffe848773c03985df395a4ca29d986b142033b/iothub_client/src/iothub_client_core_ll.c#L829

The validation of tokens is done in this part of the code:
https://github.com/Azure/azure-iot-sdk-c/blob/41ffe848773c03985df395a4ca29d986b142033b/iothub_client/src/iothub_client_authorization.c#L573

That functio

[2020-08-14 17:04] ewertons commented on #1626
@coffeeaddict19 , thanks for running these experiments. I misspoke on my previous comment. The 4 minute timeout is pretty consistent when using the AMQP protocol.
However, upon checking our MQTT transport code I see that that is not applicable.

Messages that are sent to the the actual mqtt client are monitored by this function:
https://github.com/Azure/azure-iot-sdk-c/blob/41ffe848773c03985df395a

[2020-08-14 17:26] ewertons commented on #1625
If you would like to collaborate with a PR I can discuss with my team to help add tests and get this enhancement added to the SDK code base.

[2020-08-14 19:37] brandonmaul commented on #1603
+1

Currently experiencing this same issue. The memory in the C module's docker container continually increases until it hits the maximum allowed, and crashes.

My code:

`static void TEST_ConstructAndSendTelemetry(IOTHUB_MODULE_CLIENT_LL_HANDLE iotHubModuleClientHandle)
{
    char serialized_string[32000]="{\"dateTime\":\"2020-07-24T16:24Z\",\"channel\":\"AIN3\",\"data\":[2.9745199680328369,2.974

[2020-08-14 19:39] brandonmaul commented on #1603
+1

I'm currently experiencing this issue as well. I'm sending fairly long telemetry messages and eventually after running the below method on repeat, my C modules container runs out of memory, causing it to crash...

my code:

`
static void TEST_ConstructAndSendTelemetry(IOTHUB_MODULE_CLIENT_LL_HANDLE iotHubModuleClientHandle)
{
    char serialized_string[32000]= // a very long string here
    co

[2020-08-15 18:56] joehal9000 commented on #1521
### Development Machine, OS, Compiler
CentOS Linux release 8.2.2004 (Core)  gcc 8.2.0, cmake 3.16.2

### SDK Version
LTS_07_2020_Ref01

### Protocol
MQTT

We ran the same sample program as before twice but using the new release on a CentOS 8 machine.  Once sending 30,000 messages at 100 msgs/seconds, and another sending 60,000 messages at the same rate.  Neither segfaulted.

The valgrind output fr

[2020-08-17 07:20] MartinTJDK commented on #1625
Hi @ewertons,
Thanks a lot for the detailed description of adding the feature. Since I am working for a client (on this issue), I will have to ask them, if we should move forward with the enhancement.
Does any of the other SDKs (python/java/C#/...) lack the same feature, or do they implement the feature?
Please ask you team, if they will help with questions and review feedback, if I (and/or my cli

[2020-08-17 14:37] alexmrtn commented on #1432
fixed by #1585
Available in release 1.3.9

[2020-08-17 15:50] coffeeaddict19 commented on #1626
That's good to know.

One of my team members from Calgary ran a similar test of the queue. However, instead of testing a 10 minute outage, he tested a 3 day outage.

While sending telemetry to the azure-iot-sdk-c once a second throughout the entire test, he:
1. Connected to Azure IoT Hub at 08/13/20 21:19:01
2. Caused an outage to Azure IoT Hub by disconnecting from the internet (pull internet cab

[2020-08-17 16:53] sanjeev-magoo opened #1629 "Custom HSM exposing interface to get private key"
We are using custom HSM to register IoT devices using x509 certificate to IoTHub using DPS. We have followed example given at https://github.com/Azure/azure-iot-sdk-c/blob/master/provisioning_client/samples/custom_hsm_example/custom_hsm_example.c for custom HSM module.

This module return a structure of function pointers where one of the function (custom_hsm_get_key) is to return the private key.

[2020-08-17 17:17] #1445 closed

[2020-08-17 17:17] az-iot-builder-01 commented on #1445
@ShanmathiP, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-08-17 17:18] hihigupt commented on #1445
Please feel free to open new issue, if you still need help on this.

[2020-08-17 21:18] linux-devil opened #1630 "Segmentation fault on edge device and streaming_proxy_sample closes when remote connection is closed"
**Development Machine, OS, Compiler (and Other Relevant Toolchain Info)** Linux

Raspberry Pi, Raspbian Stretch Lite (Release 2018-11-13)
Cross Compiled on Ubuntu 18.04 using GCC 6.3.0

**SDK Version (Please Give Commit SHA if Manually Compiling)**

Release 2019-01-31

**Protocol**

MQTT

**Describe the Bug**

I am able to do ssh to remote iot edge device , but when I close connection from device

[2020-08-19 05:51] Michaff commented on #1624
It need a dictionary. Reface the following code

static void dowork_poll_socket(TLS_IO_INSTANCE* tls_io_instance)
{
    // This will pretty much only fail if we run out of memory

    CFStreamCreatePairWithSocketToHost(NULL, tls_io_instance->hostname, tls_io_instance->port, &tls_io_instance->sockRead, &tls_io_instance->sockWrite);

    if (tls_io_instance->sockRead != NULL && tls_io_instance->sock

[2020-08-19 11:42] nitu011 commented on #369
Hi ,
I am also facing the same issue , iot disconnect message is coming after 4 minutes only. is there any way I can resolve this. I checked the code , fix is already present in my source code. The option you suggested is throwing following error:

/home/nitu/develop/gateway-app/sentience2.cloud_connector.cpp/src/message/IoTHubMessagingClient.cpp:239:56: error: 'OPTION_SERVICE_SIDE_KEEP_ALIVE_FREQ

[2020-08-19 13:03] alexmrtn commented on #1432
Hi,

As you told me the device *must* wait for the acknowledgement before sending the next update, I worked on a solution directly at transport level so that the async pattern can be ensured at user level. As a result the device twin API can now be used in the same way as the telemetry API without having manualy to wait ACKs.

The idea is basically to only send twin messages when the ACK of the pr

[2020-08-19 17:24] danewalton opened #1633 "test for teams integration"

[2020-08-19 17:24] #1633 closed

[2020-08-19 17:24] az-iot-builder-01 commented on #1633
@danewalton, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-08-19 20:59] jspaith commented on #369
@nitu011 - our team typically doesn't track closed GitHub issues.  Could you please open up a new issue and reference back to this one?

In the new issue creation (https://github.com/Azure/azure-iot-sdk-c/issues/new?assignees=&template=bug-report.md&title=) there's a number of questions we ask up front so if you could answer as many of those as possible when creating your entry it'll help expedite

[2020-08-19 23:58] shantanu1singh commented on #1521
I believe I'm facing the same problem. I'm unable to repro the error when I run the executable using valgrind however.
I'm sending 20k messages using the C SDK in quick succession.

Here's the error call stack I get when I run the executable after building it with debug information

[code]

Any tips on how we can figure out what's going on?

# Development Machine, OS, Compiler
Ubuntu 18.04 on WSL,

[2020-08-20 08:24] nitu011 opened #1635 "C SDK AMQP_WS Network Disconnect and Reconnect"
------------------------------- delete below -------------------------------

Azure C SDK is taking 4 minutes to identify the Network Disconnection and Network Availability while using AMQP_WS protocol.
In this forum , I got solution:

size_t keepAliveFrequencySecs = 60;
IoTHubClient_SetOption(iothubClientHandle, OPTION_SERVICE_SIDE_KEEP_ALIVE_FREQ_SECS, &keepAliveFrequencySecs);

After this , its

[2020-08-20 10:22] ma2teo opened #1636 "Azure IoT SDK cross compiling and next steps"
Dear all,
I have some difficulties to understand how proceed after I cross compile the Azure IoT SDK.

Following the document https://github.com/Azure/azure-iot-sdk-c/blob/master/doc/SDK_cross_compile_example.md , I am able to cross compile the Azure IoT SDK without errors.
Once I have built the SDK, how can I use the cross compiled SDK to build a simple program? How do I have to use the .a files

[2020-08-20 14:07] nitu011 commented on #1635
I am also seeing in case iot disconnection or network disconnect , it takes 10-15 seconds with latest change but in this time interval, events are getting missed since device dont know  iot disconnected . Any suggestion ?

[2020-08-20 14:08] nitu011 commented on #1635
raising a bug so closing this one

[2020-08-20 14:08] #1635 closed

[2020-08-20 14:08] az-iot-builder-01 commented on #1635
@nitu011, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-08-20 14:10] nitu011 opened #1637 "events getting lost when C SDK AMQP_WS Network Disconnect"
------------------------------- delete below -------------------------------
Azure C SDK is taking 4 minutes to identify the Network Disconnection and Network Availability while using AMQP_WS protocol.
In this forum , I got solution:

size_t keepAliveFrequencySecs = 60;
IoTHubClient_SetOption(iothubClientHandle, OPTION_SERVICE_SIDE_KEEP_ALIVE_FREQ_SECS, &keepAliveFrequencySecs);

After this , its

[2020-08-21 14:16] nitu011 opened #1638 "[AMQP]D2C events are getting lost when network is disconnected and not resent after network connects"
------------------------------- delete below -------------------------------

azure iot c sdk :1.3.4

During network disconnect , I am getting event sent failed message but after network reconnect, event is not resent.
I am using IoTHubModuleClient_SendEventAsync function for sending D2C events.
We have a provision where if internet is not there , message will not be sent but the device detect net

[2020-08-24 02:28] bryanposas commented on #1624
@Michaff 's solution worked. Thanks!

[2020-08-24 07:11] ma2teo commented on #1636
Hi @danewalton ,
Thanks for the interest to the matter.

I am trying to use Microsoft Azure IoT device SDK for C for my BeagleBone Black.

So I have followed the document https://github.com/Azure/azure-iot-sdk-c/blob/master/doc/SDK_cross_compile_example.md as guideline for the cross compilation. I have modified the toolchain-rpi.cmake file with the appropriate C compiler and the file system root,

[2020-08-24 07:25] #1550 closed

[2020-08-24 07:26] az-iot-builder-01 commented on #1550
@ericwol-msft, @Hmaalla, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-08-25 07:04] nitu011 commented on #1638
Any update ? its really critical for me to fix

[2020-08-25 23:51] ericwol-msft commented on #1621
Setting IOTHUB_CLIENT_RETRY_INTERVAL as your retry policy, parameter of the IoTHubClient_LL_SetRetryPolicy function is not the message retry interval, but the timeout after which any "connection retry" attempt is given up.

The OPTION_EVENT_SEND_TIMEOUT_SECS message retry option only applies if using AMQP protocol (not MQTT).

For MQTT the retry is controled by defines in [iothubtransport_mqtt_com

[2020-08-26 17:50] dndsmith commented on #1521
I only just saw this. Um, there's not much advice I can give you besides lowering the frequency at which you send messages. We received errors similar to that and resolved them by not sending as many messages a second (e.g. don't send 100 msgs/sec. 10 msgs/sec is more reasonable). We never fixed the issue causing segfaults. It could only be reproduced in our specific environment (which was on an H

[2020-08-26 17:54] wzawisa commented on #1479
@dangerousHobo what was the resolution to this issue? I am experiencing a similar issue with Prov_Device_HTTP_Protocol.

[2020-08-26 17:56] markrad commented on #1636
Hi @ma2teo

I recommend that you take a look at this document: https://github.com/Azure/azure-iot-sdk-c/blob/master/doc/Docker_SDK_Cross_Compile.md. Though you may not wish to use a docker container to cross compile the SDK, it still provides the steps needed to accomplish that in the dockerfile. You can simply run those commands at the console if you wish.

However, unlike the document you refere

[2020-08-26 18:01] markrad commented on #1603
Hi @rajaggrawal

When you send your 1,000,000 messages do you have any type of delay in the loop? If you are sending them as fast as the CPU can process them then you will overwhelm your network connection. The TCP layer will not be able to send the messages fast enough which will cause the messages in the SDK to be buffered until you run out of memory.

[2020-08-27 03:17] coffeeaddict19 commented on #1621
@ericwol-msft  This is very helpful.

I'll pass a pointer to my queue into the void pointer argument set in IoTHubDeviceClient_LL_SendEventAsync. If IOTHUB_CLIENT_CONFIRMATION_RESULT in the callback says IOTHUB_CLIENT_CONFIRMATION_MESSAGE_TIMEOUT then I'll insert into my queue.

I'll do the same with IoTHubDeviceClient_LL_SetConnectionStatusCallback and depopulate the queue when the connection is

[2020-08-27 03:17] #1621 closed

[2020-08-27 03:17] az-iot-builder-01 commented on #1621
@ericwol-msft, @coffeeaddict19, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-08-27 11:10] harikeshydv opened #1641 "Direct method "DeviceMethodCallback" response not in valid JSON format"
I am running IoT Hub sample project on ESP32 device using Azure IoT Device SDK for C. It's returning the following response for a direct method when I am calling it from Azure portal:
"Successfully invoke device method"

However, we are using the Node SDK's invokeDeviceMethod() of azure-iothub to invoke the direct method. I get an exception on this method with the following error string:
'Unexpect

[2020-08-27 11:11] rajaggrawal commented on #1603
Hi @markrad,

Thanks for your response.
yes  , there is 1ms delay between each messages.
but incase TCP layer is not able be to send the messages then azure should give specific error to application, so application can slow down the sending of messages.
crash should not be expected behaviour.

[2020-08-27 12:52] Nnalawade-eic opened #1642 "[azure-iot-sdk-c-1.3.4] : segfault when ThreadAPI_Sleep(x), x is changes to 1000"
machine - congatec IA5 Intel(R) Atom(TM) Processor E3930 @ 1.30GHz
build environment - yocto warrier
machine instruction set - 64 bit
SDK version - azure-iot-sdk-c-1.3.4
protocol MQTT

**Describe the Bug**
At the time of registration, if the value passed to ThreadAPI_Sleep() is changed to 1000, it crashes immediately with below error -

kern.info,2020-08-25 19:16:28,99889N,kernel:,communication-m[

[2020-08-27 15:15] ma2teo commented on #1636
Hi @markrad,
Thanks a lot for your suggestions,

I have followed that document and now I am able to cross compile my custom code without cross compile all the Microsoft Azure IoT device SDK each time.

Thanks again.
Regards

[2020-08-27 15:15] #1636 closed

[2020-08-27 15:15] az-iot-builder-01 commented on #1636
@danewalton, @ma2teo, @markrad, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-08-27 15:15] ma2teo commented on #1636
Hi @markrad,
Thanks a lot for your suggestions,

I have followed that document and now I am able to cross compile my custom code without cross compile all the Microsoft Azure IoT device SDK each time.

Thanks again.
Regards

[2020-08-27 15:38] danewalton commented on #1641
Can you detail what sample you are using or how you are using the API's?

[2020-08-27 15:40] danewalton commented on #1642
The failure seems to not be in our SDK from those logs. Can you see something like [this](https://github.com/sddm/sddm/issues/1179) to see if it helps at all?

[2020-08-27 15:40] danewalton commented on #1642
Related issue from that link above: https://github.com/sddm/sddm/issues/1206

[2020-08-27 16:10] harikeshydv commented on #1641
Thanks @danewalton for your quick reply

I have setup ESP32 Device as per the steps mentioned in article below to integrate with Azure IoT Hub:
https://docs.microsoft.com/en-us/samples/azure-samples/esp32-iot-devkit-get-started/sample/

And I am using NodeJS BackEndApplication.js file to call the direct method as mentioned in this link:
https://docs.microsoft.com/en-us/azure/iot-hub/quickstart-con

[2020-08-27 17:58] markrad commented on #1603
Hi @rajaggrawal

Though I agree with you that a crash is not ideal my point is that, even if the crash were to be fixed, you will still not be able to send a message every millisecond without overwhelming your network connection. I would try experimenting with longer delays to see what rate your network is able to keep up with. If your requirement is to deliver these messages in a certain time spa

[2020-08-27 18:00] ericwol-msft commented on #1603
There is no limit on memory usage of the internal queue and memory exhaustion can occur. Message transmission can be impacted by several factor, including network speed, device memory size and message QOS level. You can use the message confirmation callback to track when packets are removed from our queue (successfully transmitted or not).

[2020-08-28 00:38] jbobotek commented on #595
Note that a resolution to this issue has now been found, via [Issue # 1247](https://github.com/Azure/azure-iot-sdk-c/issues/1247#issuecomment-546273588). When building the SDK using openssl for Mac OSX or iOS, please use the [OpenSSL-Universal Pod](https://github.com/krzyzanowskim/OpenSSL#cocoapods) linked in that issue. Then make sure to use the pod location as the openssl library, header, and st

[2020-08-28 00:38] #595 closed

[2020-08-28 15:58] Nnalawade-eic commented on #1642
Thank you @danewalton  for replay.

I am not sure, why segfault stops after changing the value in ThreadAPI_Sleep(). Is there anything specific thing require for 64bit machine in yocto linux ?

[2020-09-01 04:06] datemoon commented on #1423
@maskimthedog thank you for your share.

[2020-09-01 19:39] danewalton commented on #1642
are you able to use this to try and diagnose what caused this segfault?
https://stackoverflow.com/questions/2179403/how-do-you-read-a-segfault-kernel-log-message

[2020-09-02 21:44] qzzf1w opened #1643 "hsm_custom_lib > Compile issue"
Am on Raspberry PI (Latest version)

Am trying to compile the custom hsm sample.

Running into an issue recognizing libcustom_hsm_example.a

[Command]---------------------------------------------------------

cmake -Duse_prov_client:BOOL=ON -Dhsm_custom_lib="~/azure-iot-sdk-c/cmake/provisioning_client/samples/custom_hsm_example/libcustom_hsm_example.a" .
cmake --build .

[Errror]------------------

[2020-09-02 23:28] danewalton commented on #1643
Hi @qzzf1w can you try adding this -> `-Dhsm_type_custom=ON` to your cmake command?

[2020-09-03 01:01] qzzf1w commented on #1643
And one more thing.

All of this works on windows

[2020-09-03 02:16] danewalton commented on #1643
Okay yea so unfortunately I think the CMake situation could be better here.
TLDR to get you unblocked:
[code]

Reasoning being the first pass, it will build the custom lib and then the second pass it will link that newly built lib in your solution.

Let me know if that works. I can look to get this to work better on a first pass only but for now that's how it'll work.

[2020-09-03 02:20] qzzf1w commented on #1643
I beleive I did two pass but will try again
Stay posted

[2020-09-03 02:23] danewalton commented on #1571
I'm going to go ahead and close this for inactivity. If anyone is still having issues please make a comment here and we can reopen.

[2020-09-03 02:23] #1571 closed

[2020-09-03 02:23] az-iot-builder-01 commented on #1571
@pmulligan-rk, @ericwol-msft, @danewalton, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-09-03 02:29] danewalton commented on #1641
Are you able to verify using the [IoT Explorer](https://github.com/Azure/azure-iot-explorer/releases) what the message is that comes in?

[2020-09-03 03:21] qzzf1w commented on #1643
Here is what I am using (Latest Raspbian build)

----------------------------------------------------------------------
Operating System: Raspbian GNU/Linux 10 (buster)
                  Kernel: Linux 5.4.51+
-----------------------------------------------------

My precise steps to repro as follows

1. Install new Raspbian image on Micro SD Card
2.  sudo apt-get install cmake build-essential

[2020-09-03 04:44] harikeshydv commented on #1641
Getting exactly the same error as I was getting in NodeJs application:
**Error: Unexpected token  in JSON at position 70**

[2020-09-03 06:08] neethuantony42 opened #1644 "@azure-iot-sdk - When the IoT hub Connection error occur due to the reason "IOTHUB_CLIENT_CONNECTION_NO_PING_RESPONSE" ?"
We are using the azure-iot-sdk -c 1.3.8 version.
When this IoT hub Connection error occurs due to the reason "IOTHUB_CLIENT_CONNECTION_NO_PING_RESPONSE". It is not reconnecting back.
Could you please tell us when this error reason IOTHUB_CLIENT_CONNECTION_NO_PING_RESPONSE occurs.
At the same time we could ping to google that means network is available.
Please help us in this case.

Thanks,
Neethu

[2020-09-03 16:01] danewalton commented on #1643
actually maybe try expanding out the relative path of the custom lib?

[2020-09-03 16:20] qzzf1w commented on #1643
That is it ~ resolves to "root" I wanted "home/pi"

[2020-09-03 17:04] danewalton commented on #1643
Nice! Alright so I'll go ahead and close this for now. Let me know if you want it reopened for any reason.

[2020-09-03 17:04] #1643 closed

[2020-09-03 17:04] az-iot-builder-01 commented on #1643
@danewalton, @qzzf1w, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-09-03 17:12] qzzf1w commented on #1643
Great support Dane!

[2020-09-03 17:38] danewalton commented on #1644
Hi @neethuantony42
A decent explanation for this dynamic can be found [here](http://www.steves-internet-guide.com/mqtt-keep-alive-by-example/). It has to do with the keep alive and whether the service responds back with a ping response. Are you having issues with this functionality? Could you provide more details about how you think it might be misbehaving?

[2020-09-03 17:38] ericwol-msft commented on #1644
This is part of the MQTT protocal (not ICMP ping)

http://www.steves-internet-guide.com/mqtt-keep-alive-by-example/

[2020-09-03 17:48] danewalton commented on #1641
What is the message you are sending back from the method? At least from what I can tell with the sample, the response would be valid JSON.

[2020-09-03 18:18] neethuantony42 commented on #1644
Hi @danewalton ,
Thank you for your reply.
We are  developing an C++ QT application using azure-iot-sdk -c. And we are testing using roaming sim.
In our scenario the connection to iot hub fails due to  IOTHUB_CLIENT_CONNECTION_NO_PING_RESPONSE reason.
 And our connection status callback invoked only for around 30 mins from the time of disconnection after that the callback is not invoked.

While es

[2020-09-03 18:22] danewalton commented on #1638
Hi @nitu011 can you please take a look at this issue:
https://github.com/Azure/azure-iot-sdk-c/issues/1621
to see if it helps at all?

[2020-09-03 18:26] danewalton commented on #1644
Are you able to post the full log from the application using
[code]
for verbose logs.

[2020-09-03 18:30] neethuantony42 commented on #1644
Thank you.
Will share the log as soon as possible.

[2020-09-04 00:27] qzzf1w opened #1645 "Creating IOT Hub App Project"
I am running your samples on RaspBerry PI

Great!!

Now I want to write my own app.

I can recall seeing a page that walked through some of the steps.

I cant find it now.

Was it yours?

In particular I have created a custom HSM.

Which was a bit hairy to get working in t he sample environment.

How do I productionize this code?
Create the make files etc.
On Raspbian

[2020-09-04 11:37] harikeshydv commented on #1641
I have not changed the response message. it's exactly the same which is mentioned in example:
**const char *responseMessage = "\"Successfully invoke device method\"";**

[2020-09-04 14:41] danewalton commented on #1641
Interesting....the error says unexpected token at position 70 but the message is only 33 characters long? And if I put it  in that wrapper from the other issue:
[code]
that's only 62 characters long. Can you post the raw data that the hub is receiving? So in the NodeJS case print out what the application receives before parsing the doc.

[2020-09-04 15:56] harikeshydv commented on #1641
Just a small correction. The error is happening at position no 59 with default response message.
Response Message:
`const char *responseMessage = "\"Successfully invoke device method\"";`

Error:
**Failed to invoke method on device ESP32*********: Error: Unexpected token  in JSON at position 59**

[2020-09-04 17:08] anthonyvercolano commented on #1432
@alexmrtn , The best way to get your patch reviewed is to submit the actual PR.  In general however, most patches that we submit ourselves contain tests.  So if you make a change, you might look to see if there are any unit tests that cover that area of the code.  In addition, you might see if the e2e tests cover this particular area and add those tests.  These proposed tests can really help burni

[2020-09-04 17:15] danewalton commented on #1645
Few things here:

Note that the "custom hsm" that you have compiled is likely not secure as the private key is stored in memory and is just passed through in the function. So I hesitate to say that this implementation is enough for "production". There are security risks there. There is some good documentation [here](https://docs.microsoft.com/en-us/azure/iot-fundamentals/security-recommendations)

[2020-09-04 17:45] qzzf1w commented on #1645
Thanks @danewalton for the speedy response!

I am not using the sample outright.
I am using a unique X509 certificate for each device.

Unfortunately my device does not have a physical HSM (or TPM)
My actual preference would be to use an Azuresphere.
But my customer (a manufacturer) has chosen against these
HW solutions for cost reasons.
So I am using file system based storage.

My customer is awa

[2020-09-04 19:48] danewalton commented on #1641
Ah okay here's what's happening. So
[code]
is valid JSON by itself. This would parse out correctly. Now underneath the covers, this value is getting wrapped in the
[code]
wrapper. This is no longer valid JSON. Try changing the `*responseMessage`
to
[code]

[2020-09-04 19:54] danewalton commented on #1645
We have some directions for cross compiling here:
https://github.com/Azure/azure-iot-sdk-c/blob/d59cc5c46d6d92881578c55d12b6f4449954e859/doc/SDK_cross_compile_example.md

If you have some specific questions/issues, feel free to open issues targeting them. It makes it easier to track and easy for others to learn from similar circumstances. I will go ahead and close this issue for now since the root

[2020-09-04 19:54] #1645 closed

[2020-09-04 19:54] az-iot-builder-01 commented on #1645
@danewalton, @qzzf1w, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-09-05 09:57] harikeshydv commented on #1641
Hi @danewalton

I already tried all these options, but it doesn't work.

Here is the error I am getting when passing the *responseMessage as the string you mentioned:
{"message":"{\"Message\":\"{\\\"errorCode\\\":502101,\\\"trackingId\\\":\\\"0b205c42b5f94fef980fab9e7bf12f9a-G:21-TimeStamp:09/05/2020 09:50:22-G:9-TimeStamp:09/05/2020 09:50:22\\\",\\\"message\\\":\\\"Payload is not a valid document

[2020-09-07 13:58] alexmrtn commented on #1432
Hi!

Thanks for the feedback, I wanted to ask first if this was the right direction to address this issue. If the idea of this patch is going to the right direction I would be happy to contribute with a full PR with code and associated tests.

Please, let me know if I should put more efforts in this PR! Thanks

[2020-09-07 15:15] hpatel2 opened #1646 "GCC 9.3 compiler gives error when use azure-iot-sdk-c with my application"
Hello,

I am using this SDK with my application. Till now I was using GCC 7.3 for my application build and it was working properly. Recently I have upgraded the GCC version to 9.3 and I am getting below error. Please help me to debug and resolve this issue. Below is log for the error.

Is there any compiler flag using which I can disable this error so that GCC 9 allows backward compatibility?

LOG

[2020-09-08 08:19] hpatel2 commented on #1646
I found that the resolution for this issue is present under below pull request.
https://github.com/Azure/azure-iot-sdk-c/pull/1342

But it is not yet merged with master.

Is there any plan to merge this with master?

[2020-09-08 18:55] ericwol-msft commented on #1644
Please don't set OPTION_KEEP_ALIVE. Use the SDK default.

[2020-09-08 20:56] danewalton commented on #1646
It seems you might have various versions of the SDK and its submodule dependencies.

and then later

| | ^~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
| make: *** [Makefile:87: iothub.o] Error 1

That `ENUM_TO_STRING` had a name change to `MU_ENUM_TO_STRING`. For verification, I checked and compiled using GCC version 9.3 and everything works okay.

If you want to stay pinned to a certain LTS or commit, reset

[2020-09-08 22:32] danewalton commented on #1641
Damn that's weird. So the core "wrapper" code seems to be living here:
https://github.com/VSChina/ESP32_AzureIoT_Arduino
They do a wrapping around our SDK that could be doing some unintended stuff. I'll have to get a board to try this out for myself so might take a bit of time. Thanks for your patience here.

[2020-09-09 04:33] harikeshydv commented on #1641
Thanks for the update

[2020-09-09 07:02] harikeshydv commented on #1641
Hi @danewalton

JFYI...I tried the steps mentioned in below git repo, but getting exactly the same error:
https://github.com/VSChina/ESP32_AzureIoT_Arduino

[2020-09-09 08:07] rajaggrawal commented on #1603
we are already using message confirmation callback  and retrying the messages which is failed.
how a application will know at what speed telemetry messages can be send from device ?

[2020-09-09 08:27] neethuantony42 commented on #1644
@ericwol-msft
Could you please explain reason why don't we use the OPTION_KEEP_ALIVE?
It will be more helpful for us.
What will be the SDK default value how can we set it?

Could you please share us an example.

Can we set retry policy :
IoTHubDeviceClient_SetOption(m_hDeviceHandle, OPTION_RETRY_INTERVAL_SEC,&nPingInterval); // pinginterval was set to 5 sec.
Is it ok to set the retry policy?

[2020-09-09 13:53] hpatel2 commented on #1646
Thank you for the information.

That is true the error regarding ENUM_TO_STRING is because of the change in name and those errors are resolved by changing the enum as MU_ENUM_TO_STRING.

But here the main issue is other errors stated as **"error: expected declaration specifiers or '...' before"**

I am using yocto dunfell version to build this SDK. In my case also the SDK is compiling successfully

[2020-09-09 14:39] hpatel2 commented on #1646
Thank you for your quick support.

Issue is resolved after updating the defines in my application.

[2020-09-09 16:27] alaendle opened #1647 "C API should allow asynchronous acknowledgement of incoming messages"
The C API design leads to poor performance and therefore isn't suitable for high throughput/streaming scenarios.

Let me explain the problem in more detail: Currently the message handler callback (https://docs.microsoft.com/en-us/azure/iot-hub/iot-c-sdk-ref/iothub-client-core-common-h#iothubclientmessagecallbackasync) needs to return the result in a synchronous way. But think of use cases where ha

[2020-09-09 16:55] danewalton commented on #1646
awesome thanks for the question. feel free to open another GH issue if you have any more!

[2020-09-09 16:55] #1646 closed

[2020-09-09 16:56] az-iot-builder-01 commented on #1646
@hpatel2, @danewalton, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-09-09 16:56] ewertons opened #1648 "PUBLISHes without PUBACK during disconnection"
Platform/OS: [please fill this information in]
SDK version: [please fill this information in]

Description: [please fill this information in]

Repro Steps: [please fill this information in]

[2020-09-09 17:00] ewertons opened #1649 "Connection Status callback not raised for network disconnection if using MQTT transport"
Platform/OS: [please fill this information in]
SDK version: [please fill this information in]

Description:
[please fill this information in]

Repro Steps:
[please fill this information in]

[2020-09-09 18:39] ericwol-msft commented on #1644
Setting the OPTION_KEEP_ALIVE outside the recommended value can cause disconnects if the send interval is too aggressive.
The default OPTION_KEEP_ALIVE value is defined below.

`#define DEFAULT_MQTT_KEEPALIVE              4*60 // 4 min`

Setting the `OPTION_RETRY_INTERVAL_SEC` only effects the retry interval of the device re-connection to the hub service if there is a disconnect. Setting a low num

[2020-09-09 19:39] neethuantony42 commented on #1644
Hi @ericwol-msft
Thank you for the clarification.
If OPTION_KEEP_ALIVE  value is less than 4 mins it can cause cloud disconnection and it will not be retained again?

Our problem is after some period when the disconnection occurs due to   AICL_IOTHUBCONNSTATUS_NO_PING_RESPONSE      re connection to cloud IoT hub is not done and connectionstatuscallback is not invoked (means retry is not happening)

[2020-09-09 19:54] danewalton commented on #1647
Hi @alaendle quick question here.
As an alternative design, would it be possible to use the callback as is and queue the processing of the messages. IE decouple the acknowledgement that the message is coming in and the actual handling of the message itself? (I might be saying the same thing as you here).

Just to clarify I think: You would like to acknowledge the message at the MQTT level and at t

[2020-09-10 18:52] ewertons commented on #1648
The log provided starts at 2020-08-19 16:02:28 and ends at 2020-08-20 08:04:33.

There were five instances in the log where telemetry messages had to be sent twice, with no PUBACK for both attempts.

2020-08-19 17:14:44	<REDACTED>-> 22:14:26 PUBLISH | IS_DUP: false | RETAIN: 0 | QOS: DELIVER_AT_LEAST_ONCE | TOPIC_NAME: devices/<REDACTED>/messages/events/ | PACKET_ID: 266 | PAYLOAD_LEN: 466
2020-08

[2020-09-10 22:18] ewertons commented on #1432
Hi @alexmrtn ,
I took a look at the patch you posted above (with the `allow_send` flag) and I understand the purpose if it.
However, the synchronization of reported property updates can be done at the application level. That solves the concurrency problem for you, with the advantage that we will not need to carry more code for other users that do not send so many reported property updates like how

[2020-09-11 16:38] Abhi2109 opened #1650 "Status variable in function on_underlying_io_bytes_received of tlsio_Schannel.c is coming as Unknown Number"
When i am trying to get the status value from function "on_underlying_io_bytes_received" of file tlsio_Schannel.c is coming as some default value.

Code from tlsio_Schannel.cs file.

status = InitializeSecurityContext(&tls_io_instance->credential_handle,
                    &tls_io_instance->security_context, tls_io_instance->host_name, flags, 0, 0, &input_buffers_desc, 0,
                    &tls

[2020-09-11 16:47] Abhi2109 commented on #1650
Any Pointers highly appreciated , as i need the solution ASAP.

[2020-09-11 16:50] ericwol-msft commented on #1650
Here is the documentation on schannel
 https://docs.microsoft.com/en-us/windows/win32/secauthn/initializesecuritycontext--schannel

What is the return value on InitializeSecurityContext?

FYI, you need to provide more details on your issues and what you posted is pretty vague.

[2020-09-11 16:59] alaendle commented on #1647
Hi @danewalton - Thanks for asking. I think we are basically talking about the same idea here. Unfortunately I'm not 100% sure what you mean by "queue the processing";  but decoupling the acknowledgment from the control flow is exactly the point.

So I hope the following pictures make my concern clearer:

At the moment you have to wait for the async result of a completion callback to return the co

[2020-09-11 17:42] ewertons commented on #1650
Hi @Abhi2109 ,
this library is for internal use of the Azure IoT C SDK and is not supported for direct external use.
At the moment, there is no indication that there is disruption of the Azure IoT C SDK functionality, so this will not be an issue we will be able to prioritize.
If you would like to elaborate on the issue and provide a PR, we will evaluate it.
Thanks,
Azure IoT SDK team.

[2020-09-11 17:46] danewalton commented on #1642
I'm going to go ahead and close this for now. Please feel free to open another issue if you have further issues.

[2020-09-11 17:46] #1642 closed

[2020-09-11 17:46] az-iot-builder-01 commented on #1642
@danewalton, @Nnalawade-eic, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-09-12 02:20] Abhi2109 commented on #1650
Hi ewertons,
I am taking the help of azure iot sdk to develop wrapper for my device connectivity to hub. So during this operation when i am trying to send the data to my iot hub. Issue arise when it will perform the operation of **mqtt_client_dowork**  , when i debug into it then i got that the status value is coming as default s
![Mqtt_error](https://user-images.githubusercontent.com/33317345/929

[2020-09-12 02:27] Abhi2109 commented on #1650
Hi Eric,
This is the return value that i am getting for status: -2146893022 for default case:

[2020-09-12 02:29] Abhi2109 commented on #1650
I know i might have done something wrong, i want to know the pointers of that.

[2020-09-14 05:45] neethuantony42 commented on #1644
Hi @ericwol-msft
Could you please help us on this?

Thanks,
Neethu.

[2020-09-14 07:30] schroedermarius opened #1651 "Send telemetry messages via offline Gateway"
Hi there,

I am trying to send telemetry messages via MQTT to an gateway.
Is there a way this is possible while the gateway is offline so the device has no internet connection?
My gateway has an access point which my ESP32 is connecting to.
But my ESP should also send messages when there is no internet sharing on the access point active.

In the init method of the SDK its always polling the NTP se

[2020-09-14 07:48] ericwol-msft commented on #1651
ESP32 does not have a realtime clock. Current device security needs to have an accurate clock set for device cryptography like TLS. You would need either a RTC on your board or setup an NTP server behind your gateway.

[2020-09-14 07:51] schroedermarius commented on #1651
Thanks you very much for the fast answer!

[2020-09-14 07:51] #1651 closed

[2020-09-14 07:52] az-iot-builder-01 commented on #1651
@ericwol-msft, @schroedermarius, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-09-14 07:53] ericwol-msft commented on #1650
That error code is SEC_E_WRONG_PRINCIPAL.

`The principal that received the authentication request is not the same as the one passed into the pszTargetName parameter. This indicates a failure in mutual authentication.`

https://docs.microsoft.com/en-us/windows/win32/secauthn/initializesecuritycontext--general

[2020-09-14 07:53] sanjeev-magoo commented on #1629
Can someone please help on above query?
If this doesn't make sense, please help me with documentation to correct my understanding.

[2020-09-14 08:55] sanjeev-magoo opened #1652 "Recommended approach to update root ca cert in device to connect to azure services (DPS/IOTHub/storage)"
Referring to https://channel9.msdn.com/Shows/Internet-of-Things-Show/Azure-IoT-TLS-Changes-are-coming.
I understand, MS is going to change the TLS certificate for Azure services.

We are working to adapt to latest certificates as recommended by MS, however we would like to understand MS recommended approach on updating these certificates on device rather than building some custom homegrown solutio

[2020-09-14 09:05] Abhi2109 commented on #1650
Hi Eric,
Do you know how i can fix this ?

[2020-09-14 11:39] neethuantony42 opened #1653 "@azure-iot-sdk-c : Device provisioning getting failed with the error PROV_DEVICE_RESULT_DEV_AUTH_ERROR."
We are using the azure-iot-sdk -c 1.3.8 version.
Device provisioning is getting failed after passing correct key. We are using MQTT.
The keys used for Device provisioning
1.       Global device endpoint(Device Provisioning Endpoint)
2.       ID Scope
3.       Symmetric Key (Primary Key)
And we using group-enrollment method.

This was working earlier.
But now Device Provisioning is getting failed w

[2020-09-14 14:08] Abhi2109 commented on #1650
One observation that i have is regarding &output_buffers_desc , so what is happening is for the case where this exception is coming the &output_buffers_desc is showing following values : cbBuffer = 0;BufferType = 2; pBuffers {cbBuffers = 0;BufferTypes=2;pvbuffers = 0x0000000} so i guess nothing is actually getting written in output buffers. Is it because of  SEC_E_WRONG_PRINCIPAL or vice versa? No

[2020-09-14 15:14] danewalton commented on #1653
Hi @neethuantony42
Are you able to double check a couple things for me first?
1. The section [here](https://github.com/Azure/azure-iot-sdk-c/blob/0ca4bbb7c416dd347398fe5897cc38193b6f03fe/provisioning_client/samples/prov_dev_client_ll_sample/prov_dev_client_ll_sample.c#L156-L159) should be changed so that `Symmetric Key` auth is used instead. Comment out the `x509` part and instead use `symmetric k

[2020-09-14 16:19] narendranaren14 opened #1654 "Interfacing CAT-M modem to azure-iot-sdk-C"
Hi,

Greetings! We have a Gateway with yocto linux and CAT-M modem to connect to IoT hub. Running azure-iot-sdk-c to establish connection with IoTHub and push data. It appears connection is establish and sdk accepts data to send. However, it is unable to delivery the data, I get the following error.

Sep 11 16:03:33 imx6ul-var-dart AzureLink[744]: Error: Time:Fri Sep 11 16:03:33 2020 File:/usr/src

[2020-09-14 17:41] danewalton commented on #1629
Hi @sanjeev-magoo
There seems to be several platform specific requirements which would be difficult for us to ramp up support for. I would suggest you try our [Embedded C SDK here](https://github.com/Azure/azure-sdk-for-c) which provides you all the flexibility you might need for your solution. There, the TLS setup is up to you including any HSM module you might be using.

[2020-09-14 17:47] ericwol-msft commented on #1650
This is indicative of your TLS certificates are wrong. You can validate what you're sending to what is actually sent via wireshark.

[2020-09-14 17:49] ericwol-msft commented on #1652
Only the intermediate certificate is changing. If your device is set to use the Baltimore root ca, than you should not see an impact.

[2020-09-14 18:03] neethuantony42 commented on #1653
Hi @danewalton ,
Thank you for the reply.
But one think to update that we are not using the samples in the SDK.
We are using the SDK in another QT application.
Our Device provisioning in our application was working properly. And it is working while we are running in the desktop version.
We are getting the error in the our embedded version. (Also in the embedded version it was working earlier).

Pl

[2020-09-14 20:21] danewalton commented on #1653
At least one thing I can think of.

Call me crazy but we've seen it happen many times before. Make sure the clock is getting set correctly on the device. A clock that is out of sync will cause connection issues.

Also if you could post the full logs of the application running that would be great:

[code]

[2020-09-14 21:11] ewertons commented on #1649
Please look at the logs attached.
The Connection Status callback works correctly when using MQTT transport.
It does take a while for the SDK to detect the network loss and invoke the status callback. That is because the OS did not return any immediate failure, in which case the SDK had to rely on it's timeout trackers to detect loss of I/O.
Tested on Ubuntu 20.04.
[0.logs.txt](https://github.com/A

[2020-09-14 21:55] ewertons commented on #1654
Hi @narendranaren14 ,
thanks for your question.

Is this all the log you got printed? Do you have entries printed before the output you pasted?

[2020-09-14 22:19] ewertons commented on #1644
Hi @neethuantony42 ,
So as you noticed, umqtt (the MQTT client within the Azure IoT C SDK) sends PINGs to the Azure IoT Hub frequently (by default, every 4 minutes as @ericwol-msft mentioned).
When there is no response to those PING requests, the SDK raises the callback to the user (you) with the status IOTHUB_CLIENT_CONNECTION_NO_PING_RESPONSE.
Please see here the exact code that raises the callb

[2020-09-14 22:27] ewertons commented on #1644
Regarding your question:
"If OPTION_KEEP_ALIVE value is less than 4 mins it can cause cloud disconnection and it will not be retained again?"

If the Keep Alive option (which controls the MQTT PINGs) is less than 4 minutes, it does not mean it will cause disconnections.
However, it is all about network stability and throughput... if you send pings every 5 seconds, you increase the chance of one or

[2020-09-14 23:07] ewertons commented on #1626
Hi @coffeeaddict19 , the log you posted is showing the expected functionality of the SDK during reconnection attempts.
It is not trying to send the telemetry messages at this point, it's just trying to connect to the IoT Hub first.
So that's normal.

But if I understood correct, you are saying that in your friend's test he absolutely lost all the messages he had passed the Azure IoT C SDK? Meaning

[2020-09-15 04:16] coffeeaddict19 commented on #1626
That is what I am saying. 3 days of messages, gone. If you look at azure.log.1.txt and azure.log...

08/17/20 14:25:03: Azure - Send Event Confirmation Callback. Result: 'IOTHUB_CLIENT_CONFIRMATION_ERROR'
to:
08/17/20 14:27:48: Azure - Send Event Confirmation Callback. Result: 'IOTHUB_CLIENT_CONFIRMATION_ERROR'

a total of 180814 times in that ~2 minute gap, which would seem to indicate what happe

[2020-09-15 05:27] asergaz commented on #1654
Same question asked in Microsoft Q&A: https://docs.microsoft.com/en-us/answers/questions/94651/index.html

[2020-09-15 11:30] Abhi2109 commented on #1650
ok, then i guess i need to include all the shared utility header files with corresponding .c files in my projects i guess that might fix the issue.

[2020-09-15 15:10] coffeeaddict19 opened #1656 "expiration of baltimore root ca and consequences for mqtt"
When I inspect the Baltimore Root CA here:
https://github.com/Azure/azure-iot-sdk-c/blob/master/certs/certs.c
I see that it expires on May 12, 2025.

I have MQTT selected in my application as the protocol to use. My application is running in North America.

The CA certificates in certs.c are hard coded into my azure application. Obviously I need to change this, but some questions first:

What is t

[2020-09-15 16:05] narendranaren14 commented on #1654
Hi @ewertons,

More debug information.

Sep 15 15:35:10 Controller AzureLink[13180]: Error: Time:Tue Sep 15 15:35:10 2020 File:/usr/src/debug/azure-iot-sdk-c/1.1.19-r0/azure-iot-sdk-c/iothub_client/src/iothubtransport_amqp_connection.c Func:on_cbs_error Line:156 CBS Error occured
Sep 15 15:35:10 Controller AzureLink[13180]: sendConfirmationCallback: message msghandle = 0x1c414d0
Sep 15 15:35:10 Co

[2020-09-15 16:06] alexmrtn commented on #1656
Similar question have been discussed earlier: #1308

I still have the same concern as you about this root CA update!

[2020-09-15 17:30] ewertons commented on #1656
Hi @coffeeaddict19 and @alexmrtn ,
thanks for the questions.

Here are the responses for each:

The root certificate is used to validate the server certificate when TLS is negotiated.
That only happens during connection or reconnection of the Azure IoT client.
So when the Baltimore CA expires, the next time you try to connect to the Azure IoT Hub or if the client is running and needs to reconnect

[2020-09-16 08:26] Abhi2109 opened #1657 "Creating Library package (SDK) of Static Library"
Hi,
I want to create a Library packaging of .lib files , need some pointers how to proceed on that. It's bit urgent so any help will be highly appreciated.

[2020-09-16 18:19] neethuantony42 commented on #1644
Hi @ewertons ,
Thank you for the detail explanation.
We are getting this error only continuously running the application for 4 days. We will collect the log and share once the issue is reproduced.

Thanks,
Neethu

[2020-09-16 18:21] neethuantony42 commented on #1653
Hi @danewalton,
Thank you for the explanation.
We are getting this error only continuously running the application for 4 days. We will collect the log and share once the issue is reproduced.

Thanks,
Neethu

[2020-09-17 01:26] ewertons commented on #1654
Thanks @narendranaren14 .
At no point I see in the logs above the SDK having any traffic actually sent or received to/from the Azure IoT Hub.
I still believe there is part of the log that is missing from the beginning, which would have some more details (perhaps from the TLS/socket layer).
Can you verify if the device actually has connectivity with the internet? It should be able to reach your IoT

[2020-09-17 01:42] ewertons commented on #1630
Hi @linux-devil ,
the samples we provide serve as a reference of how a solution should be implemented, but are not production-ready.
We apologize, but changing the samples to be running forever is not in scope of maintainability we have for these samples.

[2020-09-17 01:49] ewertons commented on #1637
Hi @nitu011 , you found the correct option to control the frequency of keep alives sent by the SDK.
The shorter the interval you set, more keep alives are sent. Also, higher is the chance that a response will not be received for some of the pings, causing the SDK client to start reconnecting more aggressively, and disrupting the connectivity with the IoT Hub.
The optimal point depends on the quali

[2020-09-17 01:52] ewertons commented on #1638
Hi @nitu011 ,
similar to the other issue you filed, are you sure you are not getting invocations of the callback you passed to IoTHubDevice_LL_SendEventAsync()?
If you are really not, please provide valgrind logs as mentioned in the other issue (#1637 )

[2020-09-17 01:53] ewertons commented on #1622
Thanks @MogheesBinZahid
We will close this issue as resolved, but please post a comment if you would like to follow up.
- Azure IoT SDK Team.

[2020-09-17 01:53] #1622 closed

[2020-09-17 01:53] az-iot-builder-01 commented on #1622
@MogheesBinZahid, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-09-17 11:48] Abhi2109 commented on #1650
Hi Eric,
As per your suggestion i have taken the wire shark trace and here are the traces:

1) NotWorkingTrace
2) Working trace

[WiresharkTraces.zip](https://github.com/Azure/azure-iot-sdk-c/files/5238853/WiresharkTraces.zip)

[2020-09-17 13:34] coffeeaddict19 commented on #1656
That you for your response. I'll close the issue. @ewertons  If you could please re-open it when the new root certificate becomes available and update the issue with the official announcement that a new cert is available, that would be helpful.

[2020-09-17 13:34] az-iot-builder-01 commented on #1656
@coffeeaddict19, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-09-17 13:49] RotateAt60MPH commented on #1604
@ewertons <nudge>

[2020-09-17 17:58] ewertons commented on #1647
Relates to https://github.com/Azure/azure-iot-sdk-c/issues/1437

[2020-09-17 18:19] ericwol-msft commented on #1656
Here is the technical blog link. If possible, you should also pin the other two root certs, as they will be use to sign the new IoT service certificates.

https://techcommunity.microsoft.com/t5/internet-of-things/azure-iot-tls-changes-are-coming-and-why-you-should-care/ba-p/1658456

To continue without disruption due to this change, Microsoft recommends that client applications or devices pin the

[2020-09-17 19:12] narendranaren14 commented on #1654
Hi @ewertons,

The device has internet connectivity, I am able to ping. I have attached fresh log for your reference which has debug info from the beginning of the application.
[CATMAzureLinkV2.log](https://github.com/Azure/azure-iot-sdk-c/files/5241358/CATMAzureLinkV2.log)

Regards
Narendra Setty

[2020-09-17 19:25] coffeeaddict19 commented on #1656
Thank you very much! @ewertons does that imply that those two root CA's should be in the repo then i.e:
https://global-root-g2.chain-demos.digicert.com/info/index.html
https://actrsaroot2017.pki.microsoft.com/

?

[2020-09-17 20:19] ericwol-msft commented on #1656
No, moving forward, we will not be storing the certs in the repo and should be handled externally by the applications.

[2020-09-17 20:19] #1656 closed

[2020-09-18 02:00] amit12cool opened #1660 "Issue in device cert generated using certGen.sh"
It seems the comment at line [334 ](https://github.com/Azure/azure-iot-sdk-c/blob/master/tools/CACertificates/certGen.sh#L334)seems to be wrong.
###############################################################################
# Generates a certificate for a device, chained to the intermediate.
###############################################################################

The device certificate se

[2020-09-18 12:25] Abhi2109 commented on #1650
Hi Eric,
From the already existing code and Wireshark trace it seems like my flow is correct as from Client side Hello is sent which is acknowledged by server, now after that as the status would be 590610 then only TLS certificate will be required as the status code would be SEC_E_OK , but for my case what is happening is status never comes as 590610 resulting which the default case kicked off so

[2020-09-18 12:36] Ozaq commented on #1603
I work on an application that sends messages in high volume and I would like to know if this issue is being worked on. Independently from the general validity of this case, i.e. can the amount of message actually be send w.o. getting into an OOM condition there is still a segfault. The Valgrind output reads `Segmentation fault (core dumped)` unless the OOM killer has been explicitly disabled the p

[2020-09-18 13:06] harikeshydv commented on #1641
@danewalton : Any update on this?

[2020-09-18 18:14] ewertons commented on #1657
Hi @Abhi2109 ,
what is your specific question?
For which platform are you wanting to create a azure-iot-sdk-c package for?
Please provide as many specific details as possible.

[2020-09-18 19:55] ewertons commented on #1660
Fixed.
Thanks for reporting this issue.
Thanks,
Azure IoT SDK Team.

[2020-09-18 19:55] #1660 closed

[2020-09-18 19:55] az-iot-builder-01 commented on #1660
@amit12cool, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-09-18 20:39] ericwol-msft commented on #1650
I don't see any MQTT protocol in the traces. What is the IP address of the IoT Hub service you are talking to?

[2020-09-18 20:57] ewertons commented on #1654
Thanks for the logs, @narendranaren14 .
At the beginning the client prints:
`Sep 17 18:49:11 Controller AzureLink[11407]: Error: Time:Thu Sep 17 18:49:11 2020 File:/usr/src/debug/azure-iot-sdk-c/1.1.19-r0/azure-iot-sdk-c/c-utility/adapters/socketio_berkeley.c Func:signal_callback Line:242 Socket received signal 13.`
Which is a broken pipe signal.
That is caused usually when the remote endpoint ter

[2020-09-19 00:43] Abhi2109 commented on #1650
So the protocol in wireshark is TCP as the MQTT will make use of that, and the IoT hub IP : 13.76.217.46 My IP address : 192.168.0.102

[2020-09-19 01:28] ericwol-msft commented on #1650
In the working trace the SNI of the Client Hello (frame 2293) is correctly set to your hub name
`Server Name: SGMSADIAIOTHUB.azure-devices.net`

In the non-working trace the SNI is garbage (frame 318). The service does not complete the TLS negotiation because of this.
`Server Name: ��������������������������������������������������������`

[2020-09-19 01:38] Abhi2109 commented on #1650
Please tell me how i should handle this "any pointers will be good" since for both the cases connection string and code flow is same.

[2020-09-19 01:39] Abhi2109 commented on #1650
Just for info what is SNI..

[2020-09-19 01:39] Abhi2109 commented on #1650
As i am struggling with this issue from past very long.

[2020-09-19 02:00] ericwol-msft commented on #1650
https://www.cloudflare.com/learning/ssl/what-is-sni/

You need to trace thru send_client_hello() in tlsio_schannel.c
What is the host name passing in InitializeSecurityContext() via tls_io_instance->host_name

[2020-09-19 02:18] Abhi2109 commented on #1650
host name is same i.e. for both the cases i have checked that already, it's same as you mentioned above.

[2020-09-19 02:18] Abhi2109 commented on #1650
As the connection string is same.

[2020-09-19 02:21] Abhi2109 commented on #1650
send_client_hello() in tlsio_schannel.c isworking fine as in trace we can see that Client Hello is send over TLSv1.2

[2020-09-19 03:22] Abhi2109 commented on #1650
tlsiotls_io_instance->host_name "SGMSADIAIOTHUB.azure-devices.net"

[2020-09-21 07:13] Abhi2109 commented on #1650
tls_io_instance->host_name
![image](https://user-images.githubusercontent.com/33317345/93740344-ea0e5580-fc07-11ea-8b7a-e51e6b4b0ec0.png)

Here you can clearly see the server name

[2020-09-21 12:54] arnabsamanta-nagra opened #1662 "Undefined reference to ThreadAPI_Create"
Hello,

I am developing an application in stm32 with aure sdk. I wanted to create thread and included threadapi.h as mentioned in https://docs.microsoft.com/en-us/azure/iot-hub/iot-c-sdk-ref/threadapi-h/threadapi-create.

However, in the sdk I dont find any definition of threadapi-create and I am getting the undefined symbol error while compiling.
The following is the error -

====================

[2020-09-21 15:25] danewalton commented on #1662
Hi @arnabsamanta-nagra,
With that header, you need an implementation of the thread API. If you see [here](https://github.com/Azure/azure-c-shared-utility/tree/ef6ebf91a2e3530275050f0f789bab9f744c45e9/adapters) and search for `threadapi_`, we have four implementations ready to use:
- `threadapi_esp8266.c`
- `threadapi_pthreads.c`
- `threadapi_rtx_mbed.cpp`
- `threadapi_win32.c`

Depending on what R

[2020-09-21 15:29] danewalton commented on #1641
Hi @harikeshydv,
I haven't been able to find an answer yet but I would suggest you issue a GH issue on the above repo (https://github.com/VSChina/ESP32_AzureIoT_Arduino) since it seems to be a bug in their code. If I find some new info I will post it here.

[2020-09-21 15:37] narendranaren14 commented on #1654
@ewertons

Thanks for the response! As I mentioned before, if I replace CAT-M with CAT-1. Everything exactly same, I am able to send the data to the cloud. There are no errors, once again everything is same (SIM, APN, and application). Yes, I have correct iothub fqdn. I am able to connect using CAT-1 modem, it is trusted cert.

We use symmetric key.

[2020-09-21 16:11] jbobotek commented on #1604
@RotateAt60MPH Yes, I would download the whole repo.

[2020-09-21 16:40] RotateAt60MPH commented on #1604
@jbobotek Thanks.  Will that be my only choice, or will this eventually be addressed in the apt-get package?  It's a lot of work to include the loading/building of the repo in/out of the RPI4 docker container.

[2020-09-21 17:00] jbobotek commented on #1604
We are looking into this missing file issue as we speak.

[2020-09-21 17:09] ewertons commented on #1648
Hi, we will close this issue since the evaluation above seems correct.
Please reply back if you would like to follow up.
Thanks,
Azure IoT SDK Team.

[2020-09-21 17:09] #1648 closed

[2020-09-21 17:09] ewertons commented on #1649
Hi, we will close this issue since the evaluation above seems correct.
Please reply back if you would like to follow up.
Thanks,
Azure IoT SDK Team.

[2020-09-21 17:09] #1649 closed

[2020-09-22 00:32] danewalton commented on #1641
Oh wait I got it.
So debugging the service side, here is what it looks like:

![image](https://user-images.githubusercontent.com/36710865/93834209-e55d9780-fc2f-11ea-9dd6-97d73e3c85b6.png)

Everything looks to be okay but copying the value of the string over looks like this
[code]

So it seems a `NULL` character is getting tacked on. Looking at the device code, [here's the culprit](https://github.

[2020-09-22 06:06] harikeshydv commented on #1641
Thanks @danewalton. It's working fine now.

[2020-09-22 06:06] #1641 closed

[2020-09-22 06:06] az-iot-builder-01 commented on #1641
@danewalton, @harikeshydv, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-09-22 07:13] arnabsamanta-nagra commented on #1662
Hello @danewalton,

Thank you for the response.
Yes , indeed this information was helpful. we are using freertos in our stm32 and for that I also looked into the threadapi.c file present in c-utility\pal\freertos path.

When I looked into the comment of ThreadAPI_Create() in the file, I found the following,
"/*Codes_SRS_THREADAPI_FREERTOS_30_004: [ FreeRTOS is not guaranteed to support threading,

[2020-09-22 16:22] ewertons commented on #1654
@narendranaren14 ,
thanks for confirming.
Unfortunately this issue would be related to the layers below the Azure IoT SDK.
Still trying to help you here, are there any logs you can get from the system (yocto system logs) or the modem itself that could help you debug this issue? Have you tried looking into those logs?
Since the connection with the IoT Hub is terminated right away, there wouldn't be

[2020-09-22 16:25] ewertons commented on #1652
Hi @sanjeev-magoo ,
thanks for the question.
We will close this issue for now, but if you would like to follow up on the matter please post a comment or open a new issue if needed.
Thanks,
Azure IoT SDK Team.

[2020-09-22 16:25] #1652 closed

[2020-09-22 16:25] az-iot-builder-01 commented on #1652
@sanjeev-magoo, @ericwol-msft, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-09-22 16:34] ewertons commented on #1630
@linux-devil thanks for your request, but we will not be able to add the changes requested. Please see the response above.
If you have other questions please feel free to open a new issue for following up.
Thanks,
Azure IoT SDK Team.

[2020-09-22 16:34] #1630 closed

[2020-09-22 16:34] az-iot-builder-01 commented on #1630
@linux-devil, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-09-22 18:00] danewalton commented on #1563
I'm going to go ahead and close this for inactivity. If you are still having the issue please reply here and we can reopen.

[2020-09-22 18:00] #1563 closed

[2020-09-22 18:00] az-iot-builder-01 commented on #1563
@pmulligan-rk, @danewalton, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-09-22 18:12] danewalton commented on #1647
Hey @alaendle
For C2D messages, we currently don't have that ability and do not have plans to add it.

In the linked issue above, the flow is theoretically possible with methods. However there is currently a limitation on acquiring one of the parameters which we became aware of. For now this is blocked and we are looking at plans to add support. We have no timeline to give at this time though.

Mi

[2020-09-22 18:12] az-iot-builder-01 commented on #1647
@danewalton, @alaendle, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-09-22 22:19] narendranaren14 commented on #1654
@ewertons
I have looked into syslog, there is nothing indicating an issue. I don't think I will be able to get modem logs. We don't have tools to capture modem logs (we are consumers).

Do you have any specific log in mind? I can take a look at them.

[2020-09-22 23:28] danewalton commented on #1662
Hi @arnabsamanta-nagra,
Looking at that file, it seems that we did not fill out the implementation for the Thread API on FreeRTOS. This layer would be used to interact with the convenience layer API's which manages the threading. You are more than welcome to implement these PAL function to get the convenience layer to work. That being said, I think that the better route might be to use the `_LL_`

[2020-09-23 00:03] danewalton commented on #1629
I'm going to go ahead and close this for inactivity but feel free to open another issue or add a comment here if you would like it reopened.

[2020-09-23 00:03] #1629 closed

[2020-09-23 00:03] az-iot-builder-01 commented on #1629
@sanjeev-magoo, @danewalton, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-09-23 00:06] danewalton commented on #1602
Hi @alonf it seems this was resolved so I'm going to go ahead and close this for now. Please let us know if you would like it reopened.

[2020-09-23 00:06] #1602 closed

[2020-09-23 00:06] az-iot-builder-01 commented on #1602
@mlunt-msft, @alonf, @danewalton, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-09-23 00:09] danewalton commented on #1586
This seems to be resolved so I'm going to go ahead and close this for now. Please post a comment if you would like to have it reopened.

[2020-09-23 00:09] #1586 closed

[2020-09-23 00:09] az-iot-builder-01 commented on #1586
@frayedknot, @ericwol-msft, @danewalton, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-09-23 05:51] ccli8 opened #1666 "mqtt_client_dowork crash due to holding reference to destroyed xio"
**Development Machine, OS, Compiler (and Other Relevant Toolchain Info)**

Mbed OS: 6.3.0
Toolchain: Arm Compiler 6.13

Arm Mbed ported Azure example:
https://github.com/ARMmbed/mbed-os-example-for-azure

**SDK Version (Please Give Commit SHA if Manually Compiling)**

**azure-iot-sdk-c**
LTS_07_2020_Ref01

**azure-umqtt-c**
2020-07-19

**Protocol**

MQTT

**Describe the Bug**

`mqtt_client.c` can

[2020-09-23 07:19] alexmrtn commented on #1432
Hi!

I think we will synchronize the reported property updates at application level as you suggest then. This totally make sens if no other users have observed this behavior and if this patch may also impact them.

Thanks again everyone for your time on this one!

[2020-09-23 07:19] #1432 closed

[2020-09-23 07:19] az-iot-builder-01 commented on #1432
@ericwol-msft, @anthonyvercolano, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-09-23 08:33] alaendle commented on #1647
Hi @danewalton, thanks for your statement. However I would like to add that I'm not focusing C2D messages; C2D messages are normally relatively rare (and have no special constraints regarding there latency), compared to Edge Hub to Device/Module messages. So my real concern is the performance bottleneck for such messages. My guess is that your concerns are still the same as for C2D messages, but I

[2020-09-23 15:01] danewalton commented on #1666
Hi @ccli8 quick question just to understand the situation a little better.

Are you attempting to disconnect from the endpoint and then call `do_work` after that?

[2020-09-23 21:54] ewertons commented on #1618
Fixed.
Thanks for reporting this issue and contributing to the Azure IoT SDKs!
-Azure IoT SDK Team.

[2020-09-23 21:54] #1618 closed

[2020-09-23 21:54] az-iot-builder-01 commented on #1618
@DonHomer1942, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-09-23 22:03] ewertons commented on #1654
Hmm, I see. Yes, not having access to the modem logs will make it hard to debug.
By layers below the Azure IoT SDK I mean the TLS API (probably you are using openssl?) and socket API. If there are any errors on those layers and nothing is returned to the IoT SDK client (through error codes), there is no way the SDK can handle such failures.
Being frank, asking for your iothub fqdn would probably n

[2020-09-24 01:35] ccli8 commented on #1666
It seems I meet `IOTHUB_CLIENT_CONNECTION_EXPIRED_SAS_TOKEN` error first and then go into mqtt disconnect sequence:

https://github.com/Azure/azure-iot-sdk-c/blob/2bff372a9b22b54d3d4bc9a3e74e349f68fcde46/iothub_client/src/iothubtransport_mqtt_common.c#L1901-L1907

https://github.com/Azure/azure-iot-sdk-c/blob/2bff372a9b22b54d3d4bc9a3e74e349f68fcde46/iothub_client/src/iothubtransport_mqtt_common.c#

[2020-09-24 07:46] Abhi2109 opened #1671 "Upload json in azure IoT using SDK c"
Hi,
I want to upload json string as well as file in azure cloud , can any one help me how to achieve that?

[2020-09-24 15:24] danewalton commented on #1671
Hi @Abhi2109 can you give a little more detail? Are you trying to use upload to blob, telemetry, methods, etc.

[2020-09-24 17:03] danewalton commented on #1666
I see are you able to post full logs with
[code]

[2020-09-24 18:02] momuno opened #1672 "esp tests failing when create a PR from forked repo"
**Describe the Bug**

Using a forked repo of azure-iot-sdk-c, upon creating a PR to merge a branch of that forked repo into the master Azure/azure-iot-sdk-c, two esp tests are failing (test_esp32 and test_esp8266).  These tests all fail to access C-Canary secrets in the "Download secrets: c-canary" step.  The message viewed instead is: "References service endpoint. PRs from repository forks are no

[2020-09-24 18:35] wesmc7777 commented on #1672
@momuno  I don't have permissions to create my own working branch on the repo.  Wondering if I'm now supposed to push to some existing working branch that will be merged into master later.  Thoughts?

[2020-09-24 18:45] momuno commented on #1672
Either you could request permissions, or I can create a working branch for you.

[2020-09-24 19:16] narendranaren14 commented on #1654
@ewertons
Thanks! I will try to see if we can obtain modem logs. I will work on capture a network trace with wireshark and share it with you.

[2020-09-24 20:47] ewertons commented on #1654
My pleasure. I'm monitoring this ticket closely, I'll jump in as soon as I see an update.

[2020-09-24 23:21] ericwol-msft commented on #1672
I added Wesley

[2020-09-25 02:24] momuno commented on #1672
Removing issue tracking from github since it is an internal build issue.

[2020-09-25 02:24] #1672 closed

[2020-09-25 02:25] az-iot-builder-01 commented on #1672
@ericwol-msft, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-09-25 03:36] ccli8 commented on #1666
The example uses `IoTHubDeviceClient_CreateFromConnectionString`, so I change to `IoTHubDeviceClient_SetOption`:

https://github.com/ARMmbed/mbed-os-example-for-azure/blob/7b4116b0392e41b7ae0cdd7faaa7ee0d36e630a7/main.cpp#L76-L79

**Log with crash**:

[code]

If I patch this line:

https://github.com/Azure/azure-iot-sdk-c/blob/2bff372a9b22b54d3d4bc9a3e74e349f68fcde46/iothub_client/src/iothubtransp

[2020-09-25 08:05] hizzawaseem opened #1674 "How to get update of only recently updated desired properties?"
My device twin has the following structure where properties A, B and C and so on are being added on run time (not predefined).  The JSON object “States” can have up to 160 objects inside.

 "desired":
      "States": {
        "PropertyA": {
          "x": 0,
          "y": "A"
        },
        " PropertyB": {
          "x": 1,
          "y": "B"
        },
        " PropertyC": {
          "x":

[2020-09-25 08:37] Abhi2109 commented on #1671
Hi Dane,
So what i want is to upload a .json content not the file in my Azure IoT blob container and when i refer the Azure IoT SDK C code i can find only to upload the file not just the raw content without file.

Lets say i have a json (key:value) and like that so is there a option i can use these data to straight away put into my blob

[2020-09-25 08:46] Abhi2109 commented on #1671
One more doubt i have while executing "if (HTTPAPIEX_SAS_ExecuteRequest(http_sas_handle, http_api_handle, HTTPAPI_REQUEST_POST, relative_path, request_header,
            blobBuffer, &statusCode, NULL, response_buff) != HTTPAPIEX_OK)" this piece of code i am getting statusCode 400 please let me know what input i need to correct in here.

[2020-09-25 08:57] Abhi2109 commented on #1671
I have not given any input apart from Connection String.
Please let me know do the Azure IoT SDK Upload feature need any other input apart from connection string.

[2020-09-25 10:11] rajaggrawal opened #1675 "Can we use azure-iot-sdk-c for development on android."
Hi,

We have developed (c/c++)IoT-device -application using azure-iot-sdk-c for linux .
Recently we have a requirement for android.
To avoid rework, we are planning to use our existing implementation on android which is developed in C(using azure c-sdk).
Is there any possibility to use existing implementation using azure-c-sdk for android.
Or please let us know if this can be done with minimal cha

[2020-09-25 11:38] Abhi2109 commented on #757
I am seeing this issue again

[2020-09-25 11:50] Abhi2109 commented on #1671
From debugging it seems like the headers is not getting formed correctly and because of that 400 status code is coming while uploading.
Ideally as the insertNewKeyValuePair is not working correctly since it's job is to append the new keys and values in the existing one.

[2020-09-25 12:46] Abhi2109 commented on #1671
As you can see in this attachment , expectation is
"Content-Type": "application/json" "Accept": "application/json" "User-Agent": "iothubclient/" IOTHUB_SDK_VERSION*/

But got this ..

![image](https://user-images.githubusercontent.com/33317345/94268665-2240cb80-ff5b-11ea-90b6-858b8783633a.png)

But

[2020-09-25 12:54] Abhi2109 commented on #1671
Seems like after i have the correct rights on Azure IoT i can push the default subdir/hello_World.txt got posted please ignore the questions from second onwards , But my first question still valid.. Please help me get resolve that.

[2020-09-25 16:27] danewalton commented on #1675
Hi @rajaggrawal
There have been cases where people have tried to compile it for Android (example [here](https://github.com/Azure/azure-iot-sdk-c/issues/1345)). We do not officially support that scenario, however if you can maybe use the other issues to help guide you in using it that might help. Try searching all issues for "Android" and hopefully some of those previous questions can help you out!

[2020-09-25 16:36] danewalton commented on #1674
Hi @hizzawaseem
Currently, when updated `PATCH` requests for twin properties (desired properties) come in to the device, all of the desired properties are sent. So in your example, PropertyA through PropertyD will indeed come in. We do not currently have functionality which only shows the updated "diff".

[2020-09-25 16:49] danewalton commented on #1666
Interesting thanks for the logs. I tried repro'ing this scenario on our Linux/Windows samples and don't seem to be running into the same issue. Let me check into it further to see if there's something specific about the mbed case which could be causing this.

[2020-09-25 17:51] danewalton commented on #1671
Have you tried using the `IoTHubDeviceClient_LL_UploadToBlob()` API?

[2020-09-25 18:00] ewertons commented on #1675
Also, please check our Java SDK. It is our recommended Azure IoT SDK for Android.
https://github.com/azure/azure-iot-sdk-java

[2020-09-26 12:04] neotrip opened #1678 "how can prov_dev_client_ll_sample go HTTP path?"
https://github.com/Azure/azure-iot-sdk-c/blob/ff1393162fe5624d02abe6deabc3509ee6d9b08e/provisioning_client/samples/prov_dev_client_ll_sample/prov_dev_client_ll_sample.c#L252-L254

Why HTTPs use MQTT_Protocol here?
How can I manage to go pure HTTPs path?

[2020-09-28 04:37] Abhi2109 commented on #1671
Yes , that's the one API i am trying to upload the data with , so if instead of Hello_World.txt if i will give the plain json content will that be ok. Or it's compulsory to upload only the file?

[2020-09-28 15:22] danewalton commented on #1671
The function signature takes in a destination file name (to be stored in blob) and an input `char*` which can originate from wherever you would like. You can read it in as a file or use a `char*` literal like our sample does [here](https://github.com/Azure/azure-iot-sdk-c/blob/ff1393162fe5624d02abe6deabc3509ee6d9b08e/iothub_client/samples/iothub_client_sample_upload_to_blob/iothub_client_sample_up

[2020-09-28 16:01] Abhi2109 commented on #1671
Thanks Dane!!!

[2020-09-28 16:52] danewalton commented on #1671
You're very welcome! I'll go ahead and close this for now and feel free to leave a comment if you would like it reopened.

[2020-09-28 16:52] #1671 closed

[2020-09-28 16:53] az-iot-builder-01 commented on #1671
@danewalton, @Abhi2109, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-09-28 22:03] ericwol-msft commented on #1678
The sample is to demonstrate device provisioning to Azure DPS. You can see a complete device to Azure hub sample using HTTP here https://github.com/Azure/azure-iot-sdk-c/blob/master/iothub_client/samples/iothub_ll_telemetry_sample/iothub_ll_telemetry_sample.c

[2020-09-29 13:45] Abhi2109 opened #1681 "Add Escape character in json"
Hi,
I am trying to get the method that i can use to add escape character in my string so that it can be json compliance. For example if my user Pass "{A:22,B:33}" and the output can be "{\"A\":22,\"B\":33}". So is there any function that i can use from Azure IOT SDK C to achieve this.

[2020-09-29 17:21] ericwol-msft commented on #1681
No. There are projects on github to do this, but none in C language.

[2020-09-29 21:47] danewalton commented on #1666
Hi @ccli8 thanks for the investigative work. I think I have an idea what might be going on here. I'll try and explain the flow as I see it (pardon the length here).

**Calling `IoTHubTransport_MQTT_Common_DoWork`**

The input handle gets cast to `PMQTTTRANSPORT_HANDLE_DATA transport_data`. Inside this struct, there lives:
https://github.com/Azure/azure-iot-sdk-c/blob/ff1393162fe5624d02abe6deabc350

[2020-09-30 01:15] ccli8 commented on #1666
Thanks for your detailed explanation. Yes, this is just the flow I met.

[2020-09-30 10:21] Abhi2109 opened #1683 "Having trouble in running iothub_messaging_sample.c"
Hi,
After providing the Connection string and deviceId , i am having no Idea why the code is asking for Key as it's failing for that.

[2020-09-30 12:12] Abhi2109 commented on #1683
I am getting this error.
authInfo->keyName input parameter cannot be NULL

And the interesting part here is in Code it's mentioned that

Both %s and %s in connection string were set, they are mutually exclusive", IOTHUBSHAREDACESSKEYNAME, IOTHUBDEVICEID
So the SDK expected that SharedKeyName and DeviceId won't be there together.

Please help me in getting this resolved.

[2020-09-30 12:16] Abhi2109 commented on #1650
We can close this issue now.

[2020-09-30 16:00] danewalton commented on #1683
Hi @Abhi2109 a couple things. I want to make sure you indeed want to use the service sample `iothub_message_sample.c`. This is not a device side sample.

Second, if you do want to run the service sample, can you double check that you are using a "Service" connection string? On the hub it will look like this:
![image](https://user-images.githubusercontent.com/36710865/94709634-c1b6e300-02fa-11eb-80

[2020-09-30 17:31] #1650 closed

[2020-09-30 17:31] az-iot-builder-01 commented on #1650
@Abhi2109, @ericwol-msft, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-09-30 23:06] #1290 closed

[2020-09-30 23:06] az-iot-builder-01 commented on #1290
@Ozaq, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-09-30 23:13] danewalton commented on #1666
Okay I luckily have a board that can run this demo. I was finally able to get a repro but only on the board. It's odd that the scenario which I created to repro the issue it does not happen on the Linux/Windows version. I'll keep digging to see what's up and get back to you.

[2020-10-01 19:03] danewalton commented on #1666
Alrighty @ccli8 I believe I understand what is going on here. Bear with me with the explanation.

The gist: there is a problem with the `socketio_mbed_os5.cpp` implementation.

**From The Top**
What we want is for the xio transport to be deleted in the `mqtt_client` (aka set it to `NULL`). That happens here:
https://github.com/Azure/azure-umqtt-c/blob/10aac20a4e66155183ebb1706f4c91a600dcafdd/src/m

[2020-10-02 15:29] #1547 closed

[2020-10-04 17:14] Waldulmer opened #1684 "SimulateX509Device error: Error in sample: One or more errors occurred. (Operation is not valid due to the current state of the object.)"
I run the application SimulateX509Device.exe from the command prompt and receive the following error.
![image](https://user-images.githubusercontent.com/22600469/95021856-9c4f0f80-0641-11eb-96ab-7b4b919e9c6f.png)
![image](https://user-images.githubusercontent.com/22600469/95021972-2d25eb00-0642-11eb-8541-68bd29148918.png)
![image](https://user-images.githubusercontent.com/22600469/95022026-91e1458

[2020-10-05 02:26] ccli8 commented on #1666
@danewalton Many thanks for your effort. The hard fault also disappears with the patch per my test, but the patch is temporary and doesn't get to the point.

Even in Linux/Windows `socketio_send` implementation, the real send work can delay to `socketio_dowork` on `EAGAIN` error, so the same crash can still happen?

https://github.com/Azure/azure-c-shared-utility/blob/ef6ebf91a2e3530275050f0f789ba

[2020-10-05 17:52] ewertons commented on #1657
Hi @Abhi2109 ,
we will close this issue for now, but please feel free to post a comment or file a new one if you would like to follow up.
Thanks,
Azure IoT SDK Team.

[2020-10-05 17:52] #1657 closed

[2020-10-05 17:52] az-iot-builder-01 commented on #1657
@Abhi2109, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-10-05 17:53] ewertons commented on #1637
Hi @nitu011 ,
we will close this issue for now, but please feel free to post a comment or create a new one if you would like to follow up.
Thanks,
Azure IoT SDK Team.

[2020-10-05 17:53] #1637 closed

[2020-10-05 17:53] az-iot-builder-01 commented on #1637
@nitu011, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-10-05 17:56] ewertons commented on #1592
Closing this issue as it has been tracked by azure/iotedge#3419
Thanks,
Azure IoT SDK Team.

[2020-10-05 17:56] #1592 closed

[2020-10-05 17:56] az-iot-builder-01 commented on #1592
@sanjeev-magoo, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-10-05 17:58] ewertons commented on #1675
Hi @rajaggrawal,
we will close this issue, but please feel free to open a new one if you would like to follow up on any discussion related to the Azure IoT C SDK.
Thanks,
Azure IoT SDK Team.

[2020-10-05 17:58] #1675 closed

[2020-10-05 17:58] az-iot-builder-01 commented on #1675
@rajaggrawal, @danewalton, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-10-05 20:55] ewertons commented on #1684
Hi @Waldulmer ,
this issue seems related to C# code.
The correct repository to file this issue on is https://github.com/Azure/azure-iot-sdk-csharp
We filed an issue in that repo on your behalf. Please follow up on issue https://github.com/Azure/azure-iot-sdk-csharp/issues/1596

Thanks,
Azure IoT SDK Team.

[2020-10-05 20:55] #1684 closed

[2020-10-05 21:00] az-iot-builder-01 commented on #1684
@Waldulmer, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-10-06 02:37] danewalton commented on #1666
Yes this is definitely worth looking into agreed. I'll see if I can investigate and get some answers here.

[2020-10-06 14:19] jspaith commented on #1193
Closing for now as `public-preview-pnp` isn't currently planned release mechanism.  #pnp-archive

[2020-10-06 14:19] #1193 closed

[2020-10-06 14:22] jspaith commented on #1195
Closing for now as `public-preview-pnp` isn't currently planned release mechanism.  #pnp-archive

[2020-10-06 14:22] #1195 closed

[2020-10-06 14:24] jspaith commented on #1197
Closing for now as `public-preview-pnp` isn't currently planned release mechanism.  #pnp-archive

[2020-10-06 14:24] #1197 closed

[2020-10-06 14:24] jspaith commented on #1198
Closing for now as `public-preview-pnp` isn't currently planned release mechanism.  #pnp-archive

[2020-10-06 14:24] #1198 closed

[2020-10-06 14:24] jspaith commented on #1258
Closing for now as `public-preview-pnp` isn't currently planned release mechanism.  #pnp-archive

[2020-10-06 14:24] #1258 closed

[2020-10-06 14:24] jspaith commented on #1451
Closing for now as `public-preview-pnp` isn't currently planned release mechanism.  #pnp-archive

[2020-10-06 14:24] #1451 closed

[2020-10-06 14:25] jspaith commented on #1503
Closing for now as `public-preview-pnp` isn't currently planned release mechanism.  #pnp-archive

[2020-10-06 14:25] #1503 closed

[2020-10-06 14:25] jspaith commented on #1509
Closing for now as `public-preview-pnp` isn't currently planned release mechanism.  #pnp-archive

[2020-10-06 14:25] #1509 closed

[2020-10-06 14:26] jspaith commented on #1528
Closing for now as `public-preview-pnp` isn't currently planned release mechanism.  #pnp-archive

[2020-10-06 14:26] #1528 closed

[2020-10-06 14:26] az-iot-builder-01 commented on #1528
@rido-min, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-10-06 14:26] jspaith commented on #1529
Closing for now as `public-preview-pnp` isn't currently planned release mechanism.  #pnp-archive

[2020-10-06 14:26] jspaith commented on #1534
Closing for now as `public-preview-pnp` isn't currently planned release mechanism.  #pnp-archive

[2020-10-06 14:26] #1534 closed

[2020-10-06 14:26] jspaith commented on #1555
Closing for now as `public-preview-pnp` isn't currently planned release mechanism.  #pnp-archive

[2020-10-06 14:26] #1555 closed

[2020-10-06 14:26] jspaith commented on #1556
Closing for now as `public-preview-pnp` isn't currently planned release mechanism.  #pnp-archive

[2020-10-06 14:26] #1556 closed

[2020-10-06 14:26] jspaith commented on #1561
Closing for now as `public-preview-pnp` isn't currently planned release mechanism.  #pnp-archive

[2020-10-06 14:26] #1561 closed

[2020-10-06 15:50] danewalton commented on #1681
I'm going to go ahead and close this for now but please leave a comment if you would like this reopened.

[2020-10-06 15:50] #1681 closed

[2020-10-06 15:50] az-iot-builder-01 commented on #1681
@Abhi2109, @ericwol-msft, @danewalton, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-10-06 15:50] danewalton commented on #1678
I'm going to go ahead and close this for now but please leave a comment if you would like this reopened.

[2020-10-06 15:50] #1678 closed

[2020-10-06 15:50] az-iot-builder-01 commented on #1678
@neotrip, @ericwol-msft, @danewalton, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-10-06 15:51] danewalton commented on #1662
I'm going to go ahead and close this for now but please leave a comment if you would like this reopened.

[2020-10-06 15:51] #1662 closed

[2020-10-06 15:51] az-iot-builder-01 commented on #1662
@danewalton, @arnabsamanta-nagra, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-10-06 15:52] danewalton commented on #1653
I'm going to go ahead and close this for now but please leave a comment if you would like this reopened. Possibly when you have the logs.

[2020-10-06 15:52] #1653 closed

[2020-10-06 15:52] az-iot-builder-01 commented on #1653
@danewalton, @neethuantony42, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-10-06 15:53] danewalton commented on #1644
I'm going to go ahead and close this for now but please leave a comment if you would like this reopened. Possibly when you have the logs.

[2020-10-06 15:53] az-iot-builder-01 commented on #1644
@danewalton, @ericwol-msft, @neethuantony42, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-10-06 15:53] danewalton commented on #1674
I'm going to go ahead and close this for now but please leave a comment if you would like this reopened.

[2020-10-06 15:53] #1674 closed

[2020-10-06 15:53] az-iot-builder-01 commented on #1674
@hizzawaseem, @danewalton, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-10-06 22:51] danewalton commented on #1666
Okay here's what I have found after running it on Windows. (I'll try to copy and link code snippets that are relevant).

Let's assume that we are [here](https://github.com/Azure/azure-iot-sdk-c/blob/3871e2fa70de79f72720bc4fdc21e4f3251d0269/iothub_client/src/iothubtransport_mqtt_common.c#L1888) calling `mqtt_client_disconnect()` from `DisconnectFromClient()`. As I had written before, this propagate

[2020-10-07 02:34] ccli8 commented on #1666
Following your finding, I look into the `do-while` loop and find in my case timeout (`MAX_DISCONNECT_VALUE`) happens, so `DestroyXioTransport` is called with `disconnect_recv_flag` not set. If I enlarge `MAX_DISCONNECT_VALUE` to 500 from 50, I find `disconnect_recv_flag` finally gets set but it may take 15s (compared to originally 2.5s). No crash after this modification. Why it takes so long may b

[2020-10-07 17:43] danewalton commented on #1666
It's possible that could also be due to the lack of the callback in the mbed_os5 socket_io as well (in the `socketio_dowork()` function). I can't confirm right now but preliminary testing in Linux/Windows doesn't have the hard fault should `disconnect_ctr` expire. I will do some more testing though.

[2020-10-07 20:06] ewertons commented on #1362
Hi @drwill-ms ,
after reviewing the documentation we concluded that that particular header file documentation was not supposed to be published, since it is an internal header.
It has since been removed from the public documentation.
Thanks for bringing this issue to our attention.
-Azure IoT SDK Team.

[2020-10-07 20:06] #1362 closed

[2020-10-07 20:06] az-iot-builder-01 commented on #1362
@drwill-ms, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-10-07 20:13] danewalton commented on #1683
I'm going to go ahead and close this issue for now. If you would like it reopened, please feel free to leave a comment stating so.

[2020-10-07 20:13] #1683 closed

[2020-10-07 20:13] az-iot-builder-01 commented on #1683
@Abhi2109, @danewalton, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2020-10-07 21:12] ewertons commented on #1654
Hi @narendranaren14 ,
any update on this?

[2020-10-08 08:21] dzuda11 opened #1689 "Certificates update in certs.h and certs.c"
Since Azure updated certificates and my code is not working right now so I have a question about updating certs.h and certs.c.

What is the best way for updating my certs.c, will someone update it on this repo, or I have to do it manually and how?
Will Azure update certificates again and when, and most important question is how to prevet running into the issue again if the project relay on certs.h

[2020-10-08 16:18] danewalton commented on #1689
From that link:

The Baltimore Root in `certs.c` should still work. Are you able to give more details about what is going wrong?