[2019-08-12 14:15] chinmaychhajed opened #1106 "Instruction unclear for setting up device to provision using IoT Hub Device Provisioning Service"
I'm using a UNIX machine.

- There is no procedure for provisioning an IoT Hub device from UNIX machine [here](https://docs.microsoft.com/en-us/azure/iot-dps/tutorial-set-up-device#simulated-devices). Can you please add it. Please add command line support also for Simulating device
- For enrolling individual device for provisioning ([here](https://docs.microsoft.com/en-us/azure/iot-dps/tutorial-pr

[2019-08-12 15:34] akreft-cds commented on #1084
I would have to compile the SDK to add the logging which I am not quite sure how to do right now. I am using the pre-compiled Azure SDK plugin provided by TI.

[2019-08-12 16:34] jspaith commented on #1068
Fixed and merged into master.

[2019-08-12 16:34] #1068 closed

[2019-08-12 16:34] az-iot-builder-01 commented on #1068
@jspaith, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2019-08-12 16:48] danewalton commented on #1080
Hi thanks for your patience. Are you able to get a stack trace when you get the error? It might be easier for me to reproduce your issue and better find a solution.

[2019-08-12 17:06] hihigupt commented on #1084
Can you put break point at [line ](https://github.com/TexasInstruments/azure-iot-pal-simplelink/blob/f59bc9046d78ad6618ac7fa1829704aeec3c4eab/pal/src/httpapi_sl.c#L242) and inspect following variables and share them.
1. requestType
2. relativePath
3. prefixedHostName

Note : please do not post your relativePath here.

I am more interested in relativePath, if this is in format: "/path?sp=r&st=2019-

[2019-08-12 19:23] akreft-cds commented on #1084
I was able to recompile with the log message. The first request is to the device.

requestType=1
relativePath/devices/device_name/files?api-version=2016-11-14
hostname=https://iot-hub.azure-devices.net

After that, the send request fails and there are no more requests.

When using symmetric key authentication, the first request is the same. Then there are subsequent requests like the one below unt

[2019-08-12 19:52] ericwol-msft opened #1108 "Failing to set the TrustedCerts gives useless error message"
**Repro:**
When trying to conned the Azure Sphere directly to an IoT hub (not using DPS) you need to set the TrustedCerts option of the root cert (Baltimore CyberTrust Root)
If you fail to do this, you get an IOTHUB_CLIENT_CONNECTION_STATUS with a reason of IOTHUB_CLIENT_CONNECTION_NO_NETWORK

**Issue:**
Failing SSL connection gives an result of IOTHUB_CLIENT_CONNECTION_UNAUTHENTICATED and a reaso

[2019-08-12 19:53] ericwol-msft opened #1109 "iothubmessage-getstring needs better documentation"
**Repro:**
https://docs.microsoft.com/en-us/azure/iot-hub/iot-c-sdk-ref/iothub-message-h/iothubmessage-getstring

**Issue:**
Need to document who owns freeing the string.

[2019-08-12 19:55] ericwol-msft opened #1110 "Azure sphere IoTHubDeviceClient_LL_SetOption option "logtrace" does nothing"
**Repro:**
https://docs.microsoft.com/en-us/azure/iot-hub/iot-c-sdk-ref/iothub-device-client-ll-h/iothubdeviceclient-ll-setoption
Documentation says that:
logtrace - available for MQTT protocol. Boolean value that turns on and off the diagnostic logging.

**Issue:**
Enabling this options does nothing,. I do not see any additional log tracing.

[2019-08-12 19:59] ericwol-msft opened #1111 "iothub-client-core-common-h enum values lack any documentation"
**Repro:**
https://docs.microsoft.com/en-us/azure/iot-hub/iot-c-sdk-ref/iothub-client-core-common-h
What is IOTHUB_CLIENT_CONFIRMATION_BECAUSE_DESTROY???

**Issue:**
All these enum values need code/public documentation.

[2019-08-12 20:01] ericwol-msft opened #1112 "IoTHubDeviceClient_LL_SetOption option "TrustedCerts" is not documented"
**Repro:**
When routing telemetry thu a IOT edge gateway, you need to specify the CA Root certificate.
This is done via the "TrustedCerts" option in the call to IoTHubDeviceClient_LL_SetOption().

**Issue:**
"TrustedCerts" is not publicly documented.
https://docs.microsoft.com/en-us/azure/iot-hub/iot-c-sdk-ref/iothub-device-client-ll-h/iothubdeviceclient-ll-setoption

[2019-08-12 20:03] hihigupt commented on #1084
Base on the logs you [posted ](https://github.com/Azure/azure-iot-sdk-c/issues/1084#issuecomment-519260711), you should have something printed in the case when request is failing. Not sure why you are not getting the logs.
Can you please put breakpoint and inspect following variables and share them.

requestType
relativePath
prefixedHostName

[2019-08-12 20:11] akreft-cds commented on #1084
After the request fails, the variables are the same as I previously reported. I put the log message after the HTTPClient_sendRequest failed message.

requestType=1
relativePath/devices/device_name/files?api-version=2016-11-14
hostname=https://iot-hub.azure-devices.net

[2019-08-12 20:19] hihigupt commented on #1084
As there are many return path in this function, lets put this log message as the first line of  function:

HTTPAPI_RESULT HTTPAPI_ExecuteRequest(HTTP_HANDLE handle,
        HTTPAPI_REQUEST_TYPE requestType, const char* relativePath,
        HTTP_HEADERS_HANDLE httpHeadersHandle, const unsigned char* content,
        size_t contentLength, unsigned int* statusCode,
        HTTP_HEADERS_HANDLE respon

[2019-08-12 21:07] akreft-cds commented on #1084
My log message was placed after the getHttpMethod instead of before but that should have no effect on the result. The results are the same as I reported [here](https://github.com/Azure/azure-iot-sdk-c/issues/1084#issuecomment-520560829). I checked the content and it looked good.

Content: { "blobName": "upload_test.bin" }

[2019-08-12 22:20] hihigupt commented on #1084
Just want to clarify, you are seeing following log in case of request failed?

requestType=2
relativePath=/blob_name/device_name%2fupload_test.bin?sv=2017-04-17&sr=b&sig=sxQph76eD8i8A%2B89BjZ%2BGU5uKlHGtkuJMIIIbI3vJgs%3D&se=2019-08-12T19%3A51%3A30Z&sp=rw&comp=block&blockid=ICAgICAw
hostname=https://blob_name.blob.core.windows.net

[2019-08-12 22:45] akreft-cds commented on #1084
I see the requestType=2 message several times when there is success using a symmetric key. I do not see any requestType=2 messages when the upload fails. With both success or failure, the requestType=1 message is sent first.

[2019-08-12 22:50] ukluk opened #1113 "Custom hsm sample memory leak"
Platform mBed and FreeRTOS
SDK 1.3.4 (DPS and IoTHub Client)

I am running a forever loop connecting and disconnecting on a very constrained device.
Eventually, it throws a Hard Fault under `mallocAndStrcpy_s` I don't have a profiler running and I don't have the stack trace, (the fault is an interrupt so I am only able to look at the disassembly for `stacked_lr`)

What I noticed is that the HSM pr

[2019-08-12 22:56] hihigupt commented on #1084
In failure case,  [https://github.com/Azure/azure-iot-sdk-c/issues/1084#issuecomment-519260711](logs posted) show that Func:HTTPAPI_ExecuteRequest was called and return -3003. I wanted to know what are the parameter passed to this function when it returned -3003.

[2019-08-13 06:14] #1105 closed

[2019-08-13 06:14] az-iot-builder-01 commented on #1105
@chinnaece, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2019-08-13 08:52] TizianoFranzoi commented on #408
I have a similar issue, while building azure - libs  1.3.0 with -Duse_prov_client:BOOL=on,
It installs everything as expected but NOT the two libs: libutpm.a and  libmsr_riot.a

I have to copy the the libs manually which is annoying.

[2019-08-13 14:28] cher1510 commented on #1102
I have noticed that the error caused above were mostly due to the network connection problems of the device .
But even when the device successfully connects to the internet , I am facing the following errors due to the issue regarding the certificates .

Creating IoTHub Device handle
Sending message 1 to IoTHub
Sending message 2 to IoTHub
Sending message 3 to IoTHub
Sending message 4 to IoTHub
Sen

[2019-08-13 14:38] venkatsan opened #1115 "Azure IOT Connection from iOS Devices by using x509 certificates and private key"
**Protocol**
HTTP Protocol

** Bug **
I am trying connectAzure IOT Hub from iOS devices by using HTTP/AMQP protocol with x509 certificate and private key. I am using below samples

For iOS:https://github.com/Azure/azure-iot-sdk-c/blob/master/doc/getting_started_with_ios.md
For X509 Certificate: https://github.com/Azure/azure-iot-sdk-c/tree/master/iothub_client/samples/iothub_ll_client_x509_sample

[2019-08-13 18:25] akreft-cds commented on #1084
I'm sorry, I am causing a bit of confusion. The parameters passed are:
requestType=1
relativePath=/devices/fake_device_name/files?api-version=2016-11-14
hostname=https://fake-iot-hub.azure-devices.net

I found that in the SimpleLink SDK httpclient.c HTTPClient_sendRequest calls sendRequest which calls getStatus. Then getStatus calls SlNetSock_recv which returns a byte count of 4. The first four by

[2019-08-13 22:01] hihigupt commented on #1084
This looks to be PAL issue not sdk issue, where connection to IOTHUB is failing to establish.

[2019-08-13 22:02] hihigupt commented on #1084
I am closing this issue as this is not related to SDK but underlying PAL issue.

[2019-08-13 22:02] #1084 closed

[2019-08-13 22:02] az-iot-builder-01 commented on #1084
@hihigupt, @akreft-cds, @amitabhmodak, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2019-08-14 15:16] danewalton commented on #1113
There should be a function in your custom hsm .c called custom_hsm_destroy which allows you to free the components such as the CN, cert, key etc. Do you have that implemented?

[2019-08-14 23:14] jebrando commented on #1082
Using x509 (group or individual enrollment) the device Id is the same as the common name.  Each device will have to have a unique name for this.

In future releases the SDK will query the certificate to get the common name and will not need the user to retrieve it.

[2019-08-14 23:34] jebrando commented on #1075
@LaptevPasha Is the certificate a device certificate or a CA certificate?  DPS does not allow Certificate Authority certs.  Can you please check this and let me know.  I'll have time to run these commands mid next week and see if I can see something.

[2019-08-15 00:02] jebrando commented on #1052
I have a fix for this error and will be committed within the few days.

[2019-08-15 00:05] jebrando commented on #1066
I will dig into this next week, does it matter when in the process of connect that the time is adjusted?

[2019-08-15 00:40] #1052 closed

[2019-08-15 00:40] az-iot-builder-01 commented on #1052
@truschival, @massand, @mlilien, @jebrando, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2019-08-15 11:53] truschival commented on #1066
@jebrando - I couldn't control setting the time at a definied time point.
I just tried to do it as quickly as possible on the command line of my device. I guess it doesn't really matter when exactly the timewarp occurs, but I guess it has to be after connecting to the DPS and before being assinged an IoT-Hub.

[2019-08-16 07:40] martinboers opened #1119 "Cannot cross-compile with build_as_dynamic=ON"
Development Machine: Debian GNU/Linux 9.9 (stretch)
Toolchain: [AXC F 2152 version 2019.6](http://www.phoenixcontact.net/product/2404267)

Azure IOT SDK Release: 2019-07-01

Attempting to build using CMAKE with the switch **build_as_dynamic=ON** results in the following output:

[code]

[2019-08-16 15:32] gerardoti opened #1120 "MQTT WebSockets time out waiting for CONNACK"
TI CC32XX or MSP432E4 devices

Release lts_07_2019

MQTT WebSockets

I'm trying to run the iothub_ll_telemetry_sample to send data to the IoT Hub over MQTT WebSockets but our device never receives a CONNACK from the Hub. Below are the logs gathered from the run:
[code]

I added some extra logging to see when we receive any data, the first 227 bytes received are from the WebSockets handshake. The h

[2019-08-16 17:18] chrissie926 commented on #1106
@chinmaychhajed , I am the owner in this area. Before I update the docs, I have a few questions. For the first bullet point, does the customer wants to use a UNIX device ?
For the second bullet point, you can go to the "certificate" blade to upload your certificate. To learn more, please follow the article here: https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-x509ca-overview

[2019-08-16 17:51] gregman-msft commented on #1109
Proposed PR to header from which this document is generated: https://github.com/Azure/azure-iot-sdk-c/pull/1121

[2019-08-16 18:32] gregman-msft commented on #1111
@ericwol-msft I added definitions for the ones that are not self explanatory, please see the PR

[2019-08-16 19:04] ewertons commented on #1089
Hi @hommeabeil ,

thanks for reporting this issue.

I tried to get a repro of that and couldn't so far.
I get to simulate the failure you got, but no SEGFAULT.

[code]

Since you have a constant repro, would it be possible for you to collect some more data please?
That would include:
1. Enable [C SDK verbose logs](https://github.com/Azure/azure-iot-sdk-c/blob/master/iothub_client/samples/iothub_ll

[2019-08-16 20:40] RandySRSOL commented on #1086
I'm running Ubuntu 18.04 gcc 7.4.0 updated from 2019-02-11 to 2019-07-01 and now when I compile I'm getting following error.

/..../azure-iot-sdk/src/azure-iot/iothub_client/inc/iothub.h:7:10: fatal error: umock_c/umock_c_prod.h: No such file or directory
 #include "umock_c/umock_c_prod.h".

ExternalProject_Add(
    azure-iot
    GIT_REPOSITORY https://github.com/Azure/azure-iot-sdk-c.git
    GIT_

[2019-08-16 21:02] RandySRSOL commented on #1086
FYI Switching back to 2019-02-11 the iothub.h has this include  #include "azure_c_shared_utility/umock_c_prod.h"  and 2019-07-01 has #include "umock_c/umock_c_prod.h"

[2019-08-16 21:51] massand commented on #1086
In order to prevent caching within the Docker container, could you rerun the docker build command with --no-cache. This will ensure your image is updated with the latest clone. There were changes made to our internal header locations to reduce clone + build times. If this resolves your issues, please let us know and close the issue. Thanks!

[2019-08-16 22:34] danewalton commented on #1110
Hi Eric do you have NO_LOGGING during build time set to ON?

[2019-08-16 23:57] ericwol-msft commented on #1110
When you say ON, are you talking about #define NO_LOGGING?

No NO_LOGGING is not defined in the project.

[2019-08-17 23:56] maskimthedog commented on #924
This bug still exists in 1.3.4.  The fix is still the same.

[2019-08-19 05:07] chinmaychhajed commented on #1106
By UNIX machine I meant provisioning an IoT device by following a setup on UNIX machine. Steps mentioned in link in my previous comment uses Windows environment (eg. to run Simulator.exe) but I needed similar steps for OS X.

[2019-08-19 09:11] alexmrtn commented on #1040
Hi @jebrando

Thanks for the update! Did you find something on this issue? Let me know if I can help or if there is a branch I can test on new changes.

[2019-08-19 12:31] chinmaychhajed commented on #1106
I followed instructions given here (https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-x509ca-overview) and when I'm provisioning my device, I'm getting error as shown in image.

![image](https://user-images.githubusercontent.com/42715380/63265299-eee93300-c2aa-11e9-88ca-da05a154b5ff.png)

I used `certs/new-device.cert.pem` as leaf certificate and `private/new-device.key.pem` as private key fo

[2019-08-19 15:49] danewalton commented on #1080
Hi nitu011 I am going to close this issue for now but if you would like to follow up in the future feel free to open it again.

[2019-08-19 15:49] #1080 closed

[2019-08-19 15:49] az-iot-builder-01 commented on #1080
@nitu011, @danewalton, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2019-08-19 16:26] danewalton commented on #1119
Hi Martin do you know what version of C this toolchain is compiling with?

[2019-08-19 16:38] danewalton commented on #1110
Are you able to run the `iothub_ll_telemetry_sample.c` with and without line 125? I just ran it and I do get additional logs.

[2019-08-19 18:21] hihigupt commented on #1040
Hi @alexmrtn

Can you please add following line in the [tlsio_mbedtls.c:mbedtls_init](https://github.com/Azure/azure-c-shared-utility/blob/1f3fd807c8c47b6607d349469301afb64643aa89/adapters/tlsio_mbedtls.c#L426) function and let me know if it fixes issue for you.

_mbedtls_ssl_conf_renegotiation(&tls_io_instance->config, 1);_

Thanks,
Himanshu

[2019-08-19 19:33] cher1510 commented on #1102
hi @rafilho  . I am still facing this issue . Can you please help me with this issue if you have any idea .

[2019-08-20 00:46] fanshaoshan opened #1129 "Message get queued with IoTHubDeviceClient_LL_SendEventAsync()"
In my code, I send message with IoTHubDeviceClient_LL_SendEventAsync() and noticed that message sometime get queued in low layer and only after a while it been sent out and eventConfirmationCallback get invoked. Initially I thought that it's because I didn't call IoTHubDeviceClient_LL_DoWork() frequent enough, but even after I call it every 1s, eventConfigmationCallback() still get invoked few sec

[2019-08-20 01:23] rafilho commented on #1102
Thanks for reporting the issue, @cher1510. We are investigating and will let you know once we have an update. Thanks.

[2019-08-20 07:17] v-jiq opened #1131 "How to use deivce group enrollments"
* ## system:
ubuntu16.04-x86

* ## problem:

The azure-document about dps[1] not clearly introduce that how to use azure-sdk-c to complete group enrollments in device end , not like java-sdk will tell you should use which sample code to complete group enrollments  in device end.

by reference the document[2] , I guess whether can to implement  group enrollments in the device end using the way that

[2019-08-20 07:25] martinboers commented on #1119
Hi Dane, I believe it's version 2011.

Turns out this error probably won't hold me up - I wanted to build the SDK as a set of (shared) `.so` files, rather than (static) `.a` files. I thought the **build_as_dynamic** switch was what I needed, but even with **build_as_dynamic=OFF** the SDK builds a set of shared object (.so) files. Not sure why this is, but the result seems to be what I need.

[2019-08-20 09:47] alexmrtn commented on #1040
Hi, I applied the patch on the master commit and both MQTT and MQTT/WS are working!

[2019-08-20 17:38] rafilho commented on #1040
Great to hear, @alexmrtn. Please use that as a workaround for now. We will submit a fix to only enable renegotiation for MQTT/WS. But at least you should be unblocked for now. Thanks.

[2019-08-20 20:29] ericwol-msft commented on #1110
I'm running the sample from here: https://github.com/Azure/azure-sphere-samples

Explicitly this sample: https://github.com/Azure/azure-sphere-samples/tree/master/Samples/AzureIoT

Setting the trace on in main.c, does nothing

	bool traceOn = true;
	result = IoTHubDeviceClient_LL_SetOption(iothubClientHandle, "logtrace", &traceOn);

[2019-08-20 23:54] danewalton commented on #1119
Yea the error line seems to tell me the toolchain isn't using c99 or c11. However if you are unblocked for now great! Let me know if there are any other problems.

[2019-08-21 00:03] danewalton commented on #1110
Are you able to post the SetupAzureClient function as you use it so I can make sure it's set up properly?

[2019-08-21 00:59] alexeystrakh opened #1136 "Unable to connect to IoT Hub with RetryPolicy disabled"
**Development Machine, OS, Compiler (and Other Relevant Toolchain Info)**

Build Machine: Mac OS Mojave
Build for: iPhone X - iOS 12
Build Tools: Xcode 10.2

**SDK Version (Please Give Commit SHA if Manually Compiling)**

PODS:
  - AzureIoTHubClient (1.2.4):
  - AzureIoTuAmqp (1.2.4):
  - AzureIoTuMqtt (1.1.4):
  - AzureIoTUtility (1.1.4)

SPEC CHECKSUMS:
  AzureIoTHubClient: 343127ac6edc62af3fe62

[2019-08-21 09:04] martinboers commented on #1119
I can confirm that my toolchain is using C11, so the mystery remains unsolved but not a problem for the moment.
¯\_(ツ)_/¯

[2019-08-21 09:04] #1119 closed

[2019-08-21 09:04] az-iot-builder-01 commented on #1119
@danewalton, @martinboers, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2019-08-21 15:16] danewalton commented on #1131
Did you set the id_scope in the sample? It should be line 68 on [prov_dev_client_sample.c](https://github.com/Azure/azure-iot-sdk-c/blob/d760a0f2a1e405331902851d287a04f24bfa013c/provisioning_client/samples/prov_dev_client_ll_sample/prov_dev_client_ll_sample.c#L68)

[2019-08-21 15:17] danewalton commented on #1113
I'm going to go ahead and close this for now but if you still need some help and want to reopen it in the future feel free.

[2019-08-21 15:17] #1113 closed

[2019-08-21 16:46] alexmrtn opened #1137 "proxy error when using mbedtls adapter"
**Development Machine, OS, Compiler (and Other Relevant Toolchain Info)**

Ubuntu 18.04 using GCC 7.4.0
libmbedtls 2.8.0

**SDK Version (Please Give Commit SHA if Manually Compiling)**

Release 2019-07-01 - 1.3.4

**Protocol**

MQTT_WS

**Describe the Bug**

When using the mbedtls adapter, device can not connect to iothub through a proxy. When using openssl adapter all is working fine.

**[MCVE](h

[2019-08-21 17:05] danewalton commented on #1108
You are right. As it stands the handshake is somewhat black boxed in that we don't have specific details into which part of the handshake failed from the sdk perspective. We will look into adding a log error message to make this easier to debug.

[2019-08-21 22:28] danewalton commented on #1108
Hi Eric I went ahead and repro'd this situation using wolfssl and I was able to figure out what the probable cause of the runtime error might be if I was in this situation by turning on the trace option.

[code]

Using this I received the following error message:
`Error: Time:Wed Aug 21 22:21:11 2019 File:/home/repos/azure-iot-sdk-c/c-utility/adapters/tlsio_wolfssl.c Func:tlsio_wolfssl_open Line:7

[2019-08-21 22:36] danewalton commented on #1110
I was just notified that Azure Sphere has logging turned off so that might also be your problem. They have the documentation for that here: [link](https://docs.microsoft.com/en-us/azure-sphere/app-development/baseapis#azure-iot-c-sdk-library-features) with further info if you follow the hyperlink with text "constrained devices"

[2019-08-22 02:06] v-jiq commented on #1131
yes, it had been setted.
![图片](https://user-images.githubusercontent.com/39880470/63480432-6fcf4700-c4c4-11e9-9ff9-bb830b77584c.png)

[2019-08-22 09:56] #1131 closed

[2019-08-22 09:59] az-iot-builder-01 commented on #1131
@danewalton, @v-jiq, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2019-08-22 22:33] anandmuthurajan opened #1139 "Unable to see Environmental Sensor interface when using digitaltwin_sample_device"
Compiled public-preview branch on x64 VM running Ubuntu 1804.

**SDK Version Sync'ed to commit 8b7cc18**

**Bug Description**

Invalid Json error when PnP properties are reported to the IoT Hub. Using unmodified digitaltwin_sample_device. Below is the console output:

Info: Successfully created device with connectionString=<****>, deviceHandle=<0x55826b285d70>
Info: DigitalTwin Interface : Changin

[2019-08-22 22:33] massand commented on #906
@sagar448 Your best bet of obtaining the right libs for esp32 is the official Espressif repo.  https://github.com/espressif/esp-azure

Package managers (vcpkg, apt-get) are used for desktop builds.

I am closing this issue, since the issue has been resolved by recent vcpkg PRs.

[2019-08-22 22:33] #906 closed

[2019-08-22 22:33] az-iot-builder-01 commented on #906
@massand, @bikamani, @YoDaMa, @adashen, @sagar448, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2019-08-22 22:40] anandmuthurajan commented on #1139
Logs with IOTPNP_TEST_BY_MAIN subscription.

Info: Successfully created device with connectionString=<****>, deviceHandle=<0x558cb86ccd70>
Info: DigitalTwin Interface : Changing interface state on interface sampleDeviceInfo from DT_INTERFACE_STATE_UNINITIALIZED to DT_INTERFACE_STATE_CREATED
Info: DEVICE_INFO: Created DIGITALTWIN_INTERFACE_CLIENT_HANDLE.  interfaceId=<urn:azureiot:DeviceManagement:

[2019-08-22 23:11] massand commented on #1139
@anandmuthurajan For double-checking, can you try this with another new device? Also, what region is your Hub in? It needs to be located in one of the supported regions for PnP: North Europe, Central US and Japan East regions

[2019-08-23 00:00] anandmuthurajan commented on #1139
Created in Hub Central US to resolve the issue.

[2019-08-23 00:00] #1139 closed

[2019-08-23 00:00] az-iot-builder-01 commented on #1139
@anandmuthurajan, @massand, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2019-08-23 09:26] lph65724 opened #1141 "Connection Not Accepted: 0x5: Not Authorized"
**Development Machine, OS, Compiler (and Other Relevant Toolchain Info)**

macOS Mojave version 10.14.6
Windows 10

**SDK Version (Please Give Commit SHA if Manually Compiling)**

macOS:  SDK-c  AzureIoTHubClient (1.2.11), AzureIoTUtility (1.1.11), AzureIoTuAmqp (1.2.11), AzureIoTuMqtt (1.1.11)
Windows 10: SDK-c version 1.3.4 & SDK-java device-client: 1.17.5

**Protocol**

MQTT

**Describe the Bug

[2019-08-23 13:29] kgalic commented on #641
@nagarathna321 Can you please clarify a bit more the steps you did?

[2019-08-23 18:28] jadeiceman opened #1142 "Extra product info not being included in Client Version for AMQP"
**Development Machine, OS, Compiler (and Other Relevant Toolchain Info)**

Ubuntu 18.04.1 LTS

**SDK Version (Please Give Commit SHA if Manually Compiling)**

azure-iot-sdk-c @ 4996100

**Protocol**

AMQP

**Describe the Bug**

When using SetOption to set OPTION_PRODUCT_INFO, the product info is not included in the Client Version.  I'm using the version of the C SDK with fix https://github.com/Azu

[2019-08-26 05:03] massand commented on #1086
@RandySRSOL @abhipony  Please reopen a new issue if this issue reproduces after running the --no-cache option for docker build. Thanks!

[2019-08-26 05:03] az-iot-builder-01 commented on #1086
@abhipony, @RandySRSOL, @massand, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2019-08-26 07:29] formulahendry opened #1144 "ENUM_TO_STRING not defined"
Follow the steps in https://docs.microsoft.com/en-us/azure/iot-edge/tutorial-c-module
Customer has met with build errors, see details in https://github.com/MicrosoftDocs/azure-docs/issues/36983

![image](https://user-images.githubusercontent.com/1050213/63673116-18a7da00-c816-11e9-9dc5-39386686877a.png)

Previously, `ENUM_TO_STRING` is OK to use.

[2019-08-26 10:30] alexmrtn opened #1145 "Get device partition from iothub_service_client"
Hi,

From the [documentation](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-messages-construct):

I guess that when a device is created on the iothub, it is associated to a particular partition of the associated event-hub. Is it correct?

The iothub_service_client allows to retrieve various information of a particular device (eg. keys, connection state, status, ... ) through func

[2019-08-27 03:12] matsujirushi opened #1147 "[public-preview]Reported property failed with a 400 status code"
I tried step by step. [here](https://docs.microsoft.com/ja-jp/azure/iot-pnp/quickstart-create-pnp-device)

I got error and cannot see device identity on device overview page of Azure IoT Explorer.

[code]

Please help!

[2019-08-27 06:54] amitabhmodak commented on #1084
@hihigupt Sorry for the late reply.  The problem should not be with the format of the private key. The same set of private and public works properly with the node.js application.
The same key pair also works to authenticate and provision the iot agent (both c-sdk and node.js).

[2019-08-27 07:45] alexmrtn commented on #1055
That would be really great to have the update matrix! The one above reflect the status of the `2019-05-16` version and the recent fixes may have solved few lines. Thanks!

[2019-08-28 04:22] matsujirushi commented on #1147
Thanks for your support!
FYI
[Regional availability](https://docs.microsoft.com/en-us/azure/iot-pnp/overview-iot-plug-and-play#regional-availability)

[2019-08-28 04:22] #1147 closed

[2019-08-28 08:20] formulahendry opened #1149 "Could not send D2C message and receive C2D message at the same time"
**Development Machine, OS, Compiler (and Other Relevant Toolchain Info)**

Windows

**Protocol**

MQTT

**Describe the Bug**

Could not send D2C message and receive C2D message at the same time.

** Repro Steps **

1. Follow the steps in https://docs.microsoft.com/en-us/azure/iot-hub/quickstart-send-telemetry-c to send D2C message continuously
2. With the same device, start monitoring the C2D mess

[2019-08-28 16:58] abdeldiaz opened #1150 "Getting error when running telemetry sample with mqtt ws"
Hi,

I was trying to run the telemetry example and I got the log error described below. I do not know what I am missing.

My Dev environment is:

-  Ubuntu 18.04
-  Eclipse CDT
-  Lastest AzureIoT C SDK
-  Protocol MQTT_WS

Console logs:
[code]

Any advice will be really appreciated

Thanks

[2019-08-28 19:55] #1150 closed, assigned to danewalton-msft

[2019-08-28 22:03] danewalton commented on #1120
Hi @gerardoti. I wasn't able to repro this on my box but could you let me know if this seemingly [similar problem](https://github.com/Azure/azure-iot-sdk-c/issues/1040#issuecomment-522696222) works for you?

[2019-08-28 23:00] danewalton commented on #1142
Hi @jadeiceman. I just ran the [iothub_ll_telemetry_sample](https://github.com/Azure/azure-iot-sdk-c/tree/master/iothub_client/samples/iothub_ll_telemetry_sample) with AMQP and successfully added the product info. Can you possibly give me some more information about when/where you are setting the option?

[2019-08-29 00:02] danewalton commented on #1142
Actually now that I look at this further it seems to be attaching it to the message (for your pasted output and my repro) but not the twin. I will look into this further and get to you here.

[2019-08-29 06:05] formulahendry commented on #1149
Hi @danewalton , at first, I follow the steps in https://docs.microsoft.com/en-us/azure/iot-hub/quickstart-send-telemetry-c to send D2C message continuously.
At the same time, I use below Node.js code to monitor C2D message using the same device connection string.
[code]

[2019-08-29 06:24] lph65724 commented on #1141
Hi @danewalton, we are using trusted certs.  Thank you

[2019-08-29 15:18] d-e-m commented on #795
Is there an ETA for resolving this issue? I am having the same problem:

Build options changed, rebuilding all
In file included from C:\Users\dexterm\Documents\Arduino\libraries\AzureIoTUtility\src/azure_c_shared_utility/lock.h:17:0,

                 from C:\Users\dexterm\Documents\Arduino\libraries\AzureIoTUtility\src/AzureIoTUtility.h:7,

                 from C:\Users\dexterm\Documents\Arduino

[2019-08-29 16:29] danewalton commented on #1149
Ah I see I see. For the service you should be using a service connection string which you can find on the portal under "Shared Access Policies" and the "Service" subsection. The device disconnecting is expected behavior if you have two devices trying to connect with the same connection string. The service will kick one of them off.

[2019-08-29 16:31] danewalton commented on #1142
@jadeiceman I just confirmed that we do seem to have a bug here. I will look into a fix and report back here when I have that lined up. Thanks for bringing it up!

[2019-08-29 18:14] maskimthedog commented on #924
No worries.  Thanks for the patch.  I am testing now with it applied to 1.3.4.

[2019-08-29 18:15] maskimthedog commented on #859
This issue is still present in 1.3.4 and the fix is still the same.

[2019-08-29 21:08] cher1510 commented on #1102
The issue was with the OpenSSL unable to get the local issuer certificate . I was able to solve my problem . Thank You

[2019-08-29 21:08] #1102 closed

[2019-08-29 21:08] az-iot-builder-01 commented on #1102
@cher1510, @rafilho, @jbobotek, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2019-08-30 13:38] matsujirushi opened #1154 "[public-preview]Publish the Device Capability Model from the Device"
I checked [digitaltwin_sample_model_definition.c](https://github.com/Azure/azure-iot-sdk-c/blob/public-preview/digitaltwin_client/samples/digitaltwin_sample_model_definition/digitaltwin_sample_model_definition.c) and [digitaltwin_model_definition.h](https://github.com/Azure/azure-iot-sdk-c/blob/public-preview/digitaltwin_client/inc/digitaltwin_model_definition.h).

API name is here:
DigitalTwin_Mo

[2019-08-30 17:04] rezasherafat opened #1157 "WS_ERROR_UNDERLYING_IO_ERROR when using C SDK's device streams"
**Development Machine, OS, Compiler (and Other Relevant Toolchain Info)**

Issue is reproducable in Linux (ubuntu 18.04)

**SDK Version (Please Give Commit SHA if Manually Compiling)**

public-preview branch

**Protocol**

MQTT

**Describe the Bug**

After successfully creating device streams WS tunnel, the transfer abruptly disconnects with `WS_ERROR_UNDERLYING_IO_ERROR` error.

**Console Logs**

[2019-08-30 20:36] hihigupt commented on #1084
@amitabhmodak Can you please provide following things:
1. Version of SDK you are using.
2. What  PAL layer you are using.
3. Description of the steps you are doing.

[2019-09-03 10:00] amitabhmodak commented on #1084
SDK version - 2019-07-01
The file upload works when the agent runs on Ubuntu
It fails with it runs from Windows 10.

[2019-09-03 16:23] cjohnsonoem commented on #427
Having basically the same issue. The StatusConnectionCallback is not triggered when network loss is present. We are using a HTTP get request to the android generate 204 URL to signal network connection status back to our main controller.

When we lose internet connection the SDK never does a callback.

[2019-09-03 19:39] Patrik-Berglund opened #1158 "MQTT, no ping response doesn't trigger connection status callback"
Hi,

Not sure if it's a wanted feature or bug. But when using MQTT as transport and the ping response is lost, the connection status callback is not called. Even though the connection status is for sure affected since the connection is re-initiated.

The way we use the callback it would be good if it updates the status also on lost ping responses.

_Code snippet from the mqtt_error_callback in iot

[2019-09-03 22:50] rafilho commented on #1084
@amitabhmodak, can you please describe how you are creating the certificate? ECC or RSA cert? THanks.

[2019-09-04 13:49] PRAVEENBADIGER opened #1159 "Problem in uploading file using iothub_client_sample_upload_to_blob"
Hi Team,

--> **Am using Ubuntu 14.0**
--> **Programming language c**

I'm trying to upload file using **iothub_client_sample_upload_to_blob** from **azure-iot-sdk-c** .

**Steps followed till now** :

1.  IOT HUB created.
2.  IOT Device created.
3.  Storage account created.
4.  Linked the storage account to IOT hub by using **File upload** option ,as per the given below link ,
   **https://docs.m

[2019-09-04 16:08] gerardoti commented on #1120
Hi @danewalton, yes I did more debugging and that is the issue I was hitting, the server was requesting TLS renegotiation but since it was not enabled we were getting stuck. This works fine for our MSP432E4 devices which are mbedTLS based, but the problem is our WiFi stack (for CC32XX) doesn't support renegotiation, so this is still broken there. This is not a problem with the C SDK itself so I'll

[2019-09-04 16:08] #1120 closed

[2019-09-04 16:08] az-iot-builder-01 commented on #1120
@danewalton, @gerardoti, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2019-09-04 16:20] #1144 closed

[2019-09-04 16:20] az-iot-builder-01 commented on #1144
@formulahendry, @danewalton, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2019-09-04 16:30] danewalton commented on #1129
Hey @fanshaoshan I'm going to close this for now but if you have any other questions/problems feel free to open another github issue. Thanks!

[2019-09-04 16:30] #1129 closed

[2019-09-04 16:30] az-iot-builder-01 commented on #1129
@fanshaoshan, @danewalton, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2019-09-04 16:52] danewalton commented on #1141
The last line of the console logs leads me to believe that either the trusted cert or the generated device cert is not as it should. Specifically the "`Not Authorized`" part. Here in our sdk ([link](https://github.com/Azure/azure-iot-sdk-c/blob/b67aca086d90bb94cf06909d2f09458565573c9b/iothub_client/src/iothubtransport_mqtt_common.c#L1729)) there are two opportunities for the return callback to rec

[2019-09-04 18:08] danewalton commented on #1159
Hey @PRAVEENBADIGER
Are you able to remove the `./` prefix on the filename endpoint? So instead of `"./hello_world.txt"` just have `"hello_world.txt"`

[2019-09-04 20:57] danewalton commented on #1158
Hey @Patrik-Berglund thanks for the suggestion. A PR has been submitted with that change:
https://github.com/Azure/azure-iot-sdk-c/pull/1161

[2019-09-04 21:44] RandySRSOL commented on #1086
@massand not sure what you mean running the --no-cache option, I'm not using docker. I did delete the entire azure-iot-sdk folder and I'm still getting the error - azure-iot-sdk/src/azure-iot/iothub_client/inc/iothub.h:7:10: fatal error: umock_c/umock_c_prod.h: No such file or directory
 #include "umock_c/umock_c_prod.h"

[2019-09-04 21:53] massand commented on #1086
@RandySRSOL OP had posted issues building within docker. If you are building locally on Linux, there is certainly an older version of SDK headers being included in the project. Please [follow instructions in our docs for running samples](https://github.com/Azure/azure-iot-sdk-c/blob/master/doc/ubuntu_apt-get_sample_setup.md) to ensure the latest version of SDK is present. I cannot reproduce your i

[2019-09-05 01:42] lph65724 commented on #1141
Hi @danewalton, we haven't tried using the very same cert.pem and key.pem on the other platform yet.  However, we followed the instructions at [link](https://github.com/Azure/azure-iot-sdk-c/blob/master/tools/CACertificates/CACertificateOverview.md) with our own certificate to generate key.pem and cert.pem for each device.  The created key.pem and cert.pem work flawlessly on Java, but both sets of

[2019-09-05 04:30] PRAVEENBADIGER commented on #1159
Hi danewalton,

thank you so much for your quick response,i was able to resolve my problem.

Regards,
Praveen

[2019-09-05 08:57] BhupalPatil opened #1164 "Is Azure IOT C SDK compatible with Ingenico Telium 2 OS?"
Hi Team,
Is [Azure IoT C SDKs and Libraries](https://github.com/Azure/azure-iot-sdk-c) and [sample](https://github.com/Azure/azure-iot-sdk-c/blob/7a426159c1187715934a793e3e0b84bf955ea2a4/iothub_client/tests/iothubclient_uploadtoblob_e2e/iothubclient_uploadtoblob_e2e.c) compatible with Ingenico Telium 2 OS?

Thanks
Bhupal

[2019-09-05 11:18] dnsmirnoff commented on #1086
Hello! I get the same error in Xcode iOS project after switching to  2019-07-01 from April version.
/Users/user/Documents/development/.../libs/azure-iot-sdk-c/iothub_client/inc/iothub.h:7:10: 'umock_c/umock_c_prod.h' file not found

[2019-09-05 11:56] amitabhmodak commented on #1084
RSA cert it is.

[2019-09-05 13:26] PRAVEENBADIGER commented on #1159
Hi danewalton,

I have one more doubt ,in the above example  **iothub_client_sample_upload_to_blob**
which take input as **const unsigned char*** ,

( ie. as per my understanding : which takes buffer as a input and creates  file as per user given name and up-loads the file to storage account).

as given below,

[code]

**But my requirement is ,**

**I need to up-load already existing  file from my

[2019-09-05 13:26] az-iot-builder-01 commented on #1159
@danewalton, @PRAVEENBADIGER, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2019-09-05 13:34] PRAVEENBADIGER commented on #1159
Hi danewalton,

I have one more doubt ,in the above example **iothub_client_sample_upload_to_blob**
which take input as **const unsigned char**

( ie. as per my understanding : which takes buffer as a input and creates file as per user given name and up-loads the file to storage account).

**as given below,**
[code]
**But my requirement is ,**

**I need to up-load already existing file from my sys

[2019-09-05 15:24] danewalton commented on #1159
yes as long as you can read the file into a buffer you can pass that buffer to the upload to blob api and it will be uploaded.

[2019-09-05 16:19] rafilho commented on #1164
Thanks for your question, @BhupalPatil. The Azure IoT C SDK is implemented in C99 to allow portability. Therefore, you should be able to port our C SDK to Ingenico Telium 2 OS (or almost any other platform). Our [porting guide](https://github.com/Azure/azure-c-shared-utility/blob/master/devdoc/porting_guide.md) gives you details about what is needed from the platform to be able to support our SDK,

[2019-09-05 16:28] rafilho commented on #1157
Closing this issue since the fix was already merged. Please reopen in case you are still hitting the same issue. Thanks.

[2019-09-05 16:28] #1157 closed

[2019-09-05 16:28] az-iot-builder-01 commented on #1157
@rezasherafat, @rafilho, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2019-09-05 17:31] danewalton commented on #1141
that's very odd. and you didn't change the code at all moving from vscode to ESP-IDF? just changed the environment?

[2019-09-05 17:34] danewalton commented on #1136
Hey @alexeystrakh thanks for your patience. I was able to repro this on Windows and have submitted a PR which should fix this. Thanks for pointing this out!
https://github.com/Azure/azure-iot-sdk-c/pull/1165

[2019-09-05 17:41] danewalton commented on #1149
Hey @formulahendry I'm going to go ahead and close this for now. If you have further questions/problems feel free to open another issue. Thanks!

[2019-09-05 17:41] #1149 closed

[2019-09-05 17:41] az-iot-builder-01 commented on #1149
@danewalton, @formulahendry, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2019-09-05 19:02] alexeystrakh commented on #1136
Thanks a lot, @danewalton, glad to hear that you were able to reproduce the issue and have already provided the solution. Looking forward to the updated library so we can incorporate the new version and test it. Awesome work! 🙏

[2019-09-05 20:22] danewalton commented on #1027
PR Created
https://github.com/Azure/azure-iot-sdk-c/pull/1166

[2019-09-05 21:41] danewalton commented on #1136
@alexeystrakh if you would like to test and make sure it works for you feel free to checkout this branch [here](https://github.com/Azure/azure-iot-sdk-c/tree/dawalton/retryFix) and rerun whatever samples/code you had before.

[2019-09-05 21:44] rafilho commented on #1145
Thank you for your question, @alexmrtn. There is an association between the device and the event hub partition, although it is not a direct/explicit association from our side. We define the deviceId as being the PartitionKey for data ingress into event hub. Event Hub then has an internal algorithm which pretty much hash this value and distribute it across the partition count for that specific even

[2019-09-05 21:55] rafilho commented on #1097
Closing this one since there is no updates for about a month. Please reopen if necessary. Thanks.

[2019-09-05 21:55] #1097 closed

[2019-09-05 21:55] az-iot-builder-01 commented on #1097
@lelopez-io, @Anil-Poolayulla-Chelottillam, @rafilho, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2019-09-05 21:57] rafilho commented on #1083
This was addressed as part of PR #1140.

[2019-09-05 21:57] #1083 closed

[2019-09-05 21:57] az-iot-builder-01 commented on #1083
@gerardoti, @rafilho, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2019-09-05 22:46] hihigupt commented on #1137
Hey @alexmrtn can cherry-pick e8227dcf9152238bf05e88d92db06f924c2416eb to see if this fix works for you and you are unblocked on this.

[2019-09-05 22:49] danewalton commented on #1045
Hi @Nishchayg7 did you try running it with sudo? The error seems like it stems from that.

[2019-09-05 23:01] danewalton commented on #1038
Hi @basavarajph
I assume because you converted the image to base64 and then to UTF8 you would need to do the reverse before you can successfully open it locally on your machine.

[2019-09-06 00:24] rafilho commented on #1055
@alexmrtn, we should have addressed all of those in all the other fixes we had. Most of the fixes are already in master, except for the ones using proxy with mbedTLS (https://github.com/Azure/azure-iot-sdk-c/issues/1137). For this one, we have merged the fix into the c-shared-utilities, but we didn't integrate the latest submodule into iot-sdk-c. As Himanshu replied on that issues, it would be gre

[2019-09-06 10:23] lph65724 commented on #1141
No, we didn't modify the code.

[2019-09-06 14:35] PRAVEENBADIGER commented on #1159
Hi danewalton,

I agree with your answer, as long as i was able read the file into buffer i can able to push file to cloud.

But in my case i was using **.pcapng**  wireshark files and size can reach up to 1.5 -2 MB ,

Here,

1) My problem is,  i cannot read **.pcapng** as const unsigned char* buffer ?
2) Reading such big file and storing into a buffer, which seems to me time consuming and additio

[2019-09-06 15:36] #1082 closed

[2019-09-06 15:37] az-iot-builder-01 commented on #1082
@bukarev, @jebrando, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2019-09-06 15:42] #1075 closed

[2019-09-06 15:42] az-iot-builder-01 commented on #1075
@LaptevPasha, @jebrando, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2019-09-06 16:05] jebrando commented on #1048
Thank you @markrad I believe that under the Linux environment cross compiling is a lot easier.

[2019-09-06 16:05] #1048 closed

[2019-09-06 16:05] az-iot-builder-01 commented on #1048
@gennarinoca, @jebrando, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2019-09-06 17:43] rafilho commented on #1085
We have fixed some issues on using MQTT over websockets. However, without additional details, it is hard to understand if this issue is related to the fixes we have done. Since there was no updates to this issue for more than a month, I am closing it for now. Please reopen if this is still a problem. Thanks.

[2019-09-06 17:43] #1085 closed

[2019-09-06 17:43] az-iot-builder-01 commented on #1085
@TreesaChandy, @rafilho, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2019-09-06 18:04] danewalton commented on #1141
okay as far as the iOS device goes, are you using the native tls stack? because currently we don't support native macOS and iOS stacks for x509. [Discussion here](https://github.com/Azure/azure-iot-sdk-python/issues/271#issuecomment-490698956). The alternative is to use openssl for iOS/macOS. And for the ESP32 case, are you able to give me some more information on the tls stack you are using for t

[2019-09-06 18:07] rafilho commented on #1115
Thanks for reporting this issue, @venkatsan. The "unauthenticated error" you are now seeing is probably due to the fact you commented out the authentication steps on our sdk. Those lines are required for authenticating with IoT Hub.

Going back to your previous issue, we currently do not support x509 authentication using the default iOS TLS stack (it is in our backlog though). However, for now, yo

[2019-09-06 18:07] #1115 closed

[2019-09-06 18:07] az-iot-builder-01 commented on #1115
@venkatsan, @rafilho, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2019-09-06 22:15] rafilho commented on #1095
Hello @JesvinJoseph, unfortunately this is the only solution to solve it for now. The Edge team has this work on their backlog, but still no timeline for upgrading the version of the C SDK. I will close this issue here, since we are already tracking it on the Edge project ( #https://github.com/Azure/iot-edge-v1/issues/663). Feel free to reopen if you need any help specifically related to the C SDK

[2019-09-06 22:15] #1095 closed

[2019-09-06 22:16] az-iot-builder-01 commented on #1095
@JesvinJoseph, @rafilho, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2019-09-06 22:22] rafilho commented on #1091
Thanks for reporting this issue, @dfabianZF. You are correct on your analysis. We have this in our backlog, but there is no timeline yet for us to address it. I will keep this issue open for now until we have a better idea about how we are going to address it. Thanks.

[2019-09-06 22:26] rafilho commented on #1088
@hihigupt, can you please investigate? Hopefully this will fall under the same WS/proxy issues we have been addressing it. Thanks.

[2019-09-06 22:27] rafilho commented on #1079
Closing due to inactivity. Please reopen if the problem persists. Thanks.

[2019-09-06 22:27] #1079 closed

[2019-09-06 22:27] az-iot-builder-01 commented on #1079
@nitu011, @rafilho, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2019-09-06 22:32] rafilho commented on #1099
@jebrando, could you please investigate? Thanks.

[2019-09-06 22:35] rafilho commented on #1065
Closing due to inactivity. @bhattvishal, please reopen in case this is still an issue. Thanks.

[2019-09-06 22:35] #1065 closed

[2019-09-06 22:35] az-iot-builder-01 commented on #1065
@bhattvishal, @rafilho, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2019-09-06 22:41] rafilho commented on #1040
This should be now fixed and propagated to master. Please reopen otherwise. Thanks.

[2019-09-06 22:41] #1040 closed

[2019-09-06 22:41] az-iot-builder-01 commented on #1040
@massand, @jebrando, @hihigupt, @rafilho, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2019-09-06 23:59] rafilho commented on #1054
@KevinKao809, this seems to be an IoT Edge issue. Unfortunately I don't have permissions to move it to the Edge repo. Anyway, please reopen on the Edge repo here: https://github.com/Azure/iotedge.

Also, I did an initial search for similar issues on the Edge repo and found quite a few, most of them seeming to be related to the inability of starting the docker daemon:

https://github.com/Azure/iote

[2019-09-06 23:59] az-iot-builder-01 commented on #1054
@KevinKao809, @massand, @rafilho, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2019-09-07 00:02] rafilho commented on #1032
@ohmyandy, thanks for reporting the question. Please check TizianoFranzoi response above (and @TizianoFranzoi, thanks for contributing to the response). I am closing this for now since it is addressed. Please reopen if necessary.

[2019-09-07 00:02] #1032 closed

[2019-09-07 00:02] az-iot-builder-01 commented on #1032
@ohmyandy, @YoDaMa, @TizianoFranzoi, @rafilho, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2019-09-07 00:14] #1027 closed

[2019-09-07 00:14] az-iot-builder-01 commented on #1027
@Alberto-Vega-MSFT, @danewalton, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2019-09-07 00:15] rafilho commented on #1054
Reopening. Got permission to transfer.

[2019-09-07 00:54] rafilho commented on #935
@maximorka , @Wkurylo ,

A possible root cause: we had an update on our service which broke some devices, including STM IoT Discovery Kits. We had a certificate change on our service which considerably increased its size beyond what it was supported by the STM cube package. We rolled back our certs on the device side, which solved the problem. At this point, this is a guess from my side since ther

[2019-09-07 00:54] #935 closed

[2019-09-07 00:54] az-iot-builder-01 commented on #935
@maximorka, @ewertons, @Wkurylo, @rafilho, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2019-09-07 01:04] rafilho commented on #859
@maskimthedog: which freeRTOS heap are you using so I can try to repro?

[2019-09-09 09:31] lph65724 commented on #1141
Hi @danewalton, would you please let me know what specific information you need?  thank you

[2019-09-09 11:01] NOA-Vernon opened #1168 "MQTT connection failed, (ClientConnectionCallback with result = 2, reason = 5)"
**Development Machine, OS, Compiler (and Other Relevant Toolchain Info)**

hardware platform:  nRF52840 + esp32
Cross Compiled on Ubuntu 18.04 using GCC 6.3.0

**SDK Version (Please Give Commit SHA if Manually Compiling)**

software:  nrf5_SDK(v15.3) with freeRTOS + mbedTLS + azure-iot-sdk-c(Release-2019-07-01)

**Protocol**

MQTT

**Describe the Bug**

I'm trying to connect to azure iot hub by us

[2019-09-09 14:10] alexmrtn commented on #1145
Hi,

Thanks for the detailed answer!

In our CI, we automated all of our integration tests. Some of them are validating custom properties we should add in the device side. In our tests the idea was to connect to the eventhub using the azure-event-hubs-c sdk and asserting on received messages.

We found an acceptable workaround by establishing one connection per partition.

[2019-09-09 14:44] maskimthedog commented on #1040
I ran into this last fall and fixed it by adding the above mentioned call to mbedtls_ssl_conf_renegotiation().  Slipped my mind to issue a ticket.  My apologies.

[2019-09-09 14:50] maskimthedog commented on #859
STM32F4 is the MCU and I am using heap 5 (SRAM and CCRAM combined to form the heap).  I do not think that this is a heap issue.  It looks as though the item that is presumed to be in the linked list has already been removed and freed.  I get an error from the heap when an attempt to free the item is made to the affect that it cannot be freed because it is not allocated.  Due to the recursive natur

[2019-09-09 16:41] alexmrtn commented on #1137
Hi,

I tested the fix you updated and it partially solves the problem:
- the behavior of the `iothub_convenience_sample` is exactly the same one as before, and I get the same error log : `Cannot set proxy option once the underlying IO is created`
- If I move the proxy set option in the same way descrive in my previous message it is now working without any error.

I currently use this workaround: s

[2019-09-09 17:34] danewalton commented on #1159
We do not have any api's which allow you to pass in a filename and upload to a blob. The api's we expose require the user to put whatever bytes they want to upload into a buffer and then push to a blob. However you decide to populate that buffer is up to you. The iot sdk also does not support ftp connections. If you wanted to do that you would have to find another way to do it.

I do want to ask t

[2019-09-09 20:38] danewalton commented on #1141
Are you using mbedtls, wolfssl, etc. I was also notified that one of my coworkers has had some issues in the past when the local clock of the device was not configured correctly (out of sync with real time) and would get rejected from connecting. Might want to double check that as well.

[2019-09-09 21:58] hihigupt commented on #1137
Good. so pal works for you... Yes, sample needs to be fixed, I will update sample.

[2019-09-09 22:15] rafilho commented on #859
I don't think it is a heap issue either. I was just trying to collect enough info to repro it, which I wasn't able yet. Do you have by any chance the call stack at the moment the issue happen? Would you also be able to put a break point in this memory address as a way to figure it out which other piece of code is releasing this memory? Also, I am assuming you have created a port for FreeRTOS and t

[2019-09-09 23:17] danewalton commented on #1136
PR has been merged

[2019-09-09 23:17] #1136 closed

[2019-09-09 23:17] az-iot-builder-01 commented on #1136
@danewalton, @alexeystrakh, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2019-09-10 13:52] maskimthedog commented on #859
I will try to get you a call stack (have to work to make uws_client_send_frame_async fail).  I can share our FreeRTOS shim files such as TLSIO with you out-of-band if you provide me with a Dropbox location via a private email.

[2019-09-10 14:04] maskimthedog commented on #859
It really seems like this can happen if on_underlying_io_send_complete() is called by xio_send() call tree on the failure within the same thread of execution removing the item from the list and freeing it.  When xio_send() returns, the item is gone from the list and has already been freed.

[2019-09-10 14:43] maskimthedog commented on #859
Could this be happening on mbedtls renegotiate?  Maybe there is something there?

[2019-09-10 16:42] Patrik-Berglund commented on #1158
Thanks @danewalton

[2019-09-10 17:12] hihigupt commented on #1137
Sample has been updated in master.

[2019-09-10 17:13] #1137 closed

[2019-09-10 17:13] az-iot-builder-01 commented on #1137
@hihigupt, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2019-09-10 17:16] hihigupt commented on #1088
We have recently added few fixes related to this. I re-ran our current master iothub_convenient_sample with proxy, which works for me. Can you please retry this on our current master.

[2019-09-10 17:46] kiranpradeep commented on #1088
@hihigupt The issue persists in the current master. Please let me know if I should share any further info.

[2019-09-10 17:52] hihigupt commented on #1088
@kiranpradeep
Please share following things:
1. What tls lib you are now using. (e.g tls, openssl)
2. Your wireshark trace for IOTHUB connection.
3. Logs of skd with line numbers.
4. Protocol used via client to connect to IOTHUB.

This will help me to reproduce the scenario on my end.

[2019-09-10 17:57] danewalton commented on #1158
This PR has been merged. Thanks again for the suggestion!

[2019-09-10 17:57] #1158 closed

[2019-09-10 17:57] az-iot-builder-01 commented on #1158
@danewalton, @Patrik-Berglund, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2019-09-10 18:10] hihigupt commented on #1168
Can you please share wireshark trace for IOTHUB connection?

[2019-09-10 18:13] kiranpradeep commented on #1088
@hihigupt Queries 1,2 and 4 are already provided in initial bug description with MCVE. I had also shared the console logs in same bug description. It will not take more than 1 run of the MCVE sample with Charles/Fiddler to reproduce the issue at your end. It is consitently reproducible.

[2019-09-10 20:43] hihigupt commented on #1088
@kiranpradeep
Looks like fix for port in c-utility has not yet been picked. We are working on bringing that fix to our sdk next release. Till then can you please update your c-utility to consume that change. Use following steps to update the c-utilitiy locally and test if things works for you.

cd $ROOT_SDK
cd c-utility/
git fetch
git cherry-pick b62e183307dbb6a3c4bad95f780e3b62289a14ae

Compile t

[2019-09-10 20:58] hihigupt commented on #1168
Only thing from above log I can make is that mbedtls lib is trying to read a tls record and it is failing to.
Can you also share what PAL layer you are using ?

[2019-09-10 21:47] rafilho commented on #859
We just enabled mbedtls renegotiation in a check-in few days ago. Since you hit this issue way before, I don't think this is the case. However, it would be nice if we could double check your FreeRTOS implementation for the xio layer. I will follow up privately.

[2019-09-10 22:09] maskimthedog commented on #859
I know.  However, I have had renegotiation enabled for mbedtls for a year now in my tlsio.

[2019-09-11 00:59] kiranpradeep commented on #1088
@hihigupt The issue persists. The issue is very much easily reproducible with Charles/Fiddler on every computer I have tried. I am not sure if we should keep doing this back and forth.

[2019-09-11 01:08] NOA-Vernon commented on #1168
[azure_pal_layer.zip](https://github.com/Azure/azure-iot-sdk-c/files/3598329/azure_pal_layer.zip)

@hihigupt  I attached the files of PAL layer regarding the network access, and the mbedtls config file, please have a look at the attached files. If the problem is that read a tls record failed, what would be caused that issue happen probably?

[2019-09-11 02:06] lph65724 commented on #1141
Hi @danewalton, thank you so much for your help. it was the time out of sync.  Appreciate your help

[2019-09-11 02:06] #1141 closed

[2019-09-11 02:06] az-iot-builder-01 commented on #1141
@danewalton, @lph65724, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2019-09-11 02:12] danewalton commented on #1141
@lph65724 awesome to hear! thanks for your patience and glad we could help!

[2019-09-11 02:12] danewalton commented on #1112
PR has been merged

[2019-09-11 02:12] #1112 closed

[2019-09-11 02:13] az-iot-builder-01 commented on #1112
@ericwol-msft, @danewalton, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2019-09-11 03:11] danewalton commented on #1109
The PR has been merged

[2019-09-11 03:11] #1109 closed

[2019-09-11 03:11] az-iot-builder-01 commented on #1109
@ericwol-msft, @gregman-msft, @danewalton, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2019-09-11 13:37] PRAVEENBADIGER commented on #1159
Hi danewalton,

Thanks for your inputs ,

Yes, i was able to read .pcapng files and uploaded  successfully to storage account .

Regards

Praveen Badiger

[2019-09-11 16:48] maskimthedog commented on #859
I cannot get to fail now.  ;-)

[2019-09-11 16:48] maskimthedog commented on #859
Working on it.

[2019-09-11 17:32] hihigupt commented on #1088
@kiranpradeep FYI I am able to connect to IOTHUB and send telemetry using the proxy (Fiddler). [Image](https://kartosstorage.blob.core.windows.net/data/proxy_mqtt_ws.png?sp=r&st=2019-09-11T17:26:23Z&se=2019-11-26T02:26:23Z&spr=https&sv=2018-03-28&sig=ZXF5UI0r6dWqFICgx0t2Zv9%2FFgWsCOEkBqdzFFn3yZo%3D&sr=b).

[2019-09-11 17:41] maskimthedog commented on #859
I am using 1.3.4.

[2019-09-11 18:02] rafilho commented on #859
Thanks. If you are able to repro it, please try to collect the call stack. It will help me to repro it on my side or at least have a better understanding of the code flow up to the issue.

[2019-09-11 19:12] maskimthedog commented on #859
I have attached my tlsio file.  I attempted to use your tlsio file from the adapters directory (bottom half of #ifdef).  However, I could never successfully connect using it and the added layers made it a little difficult debug.  So, I decided to stick with my original.

[az_tlsio_mbedtls.c.txt](https://github.com/Azure/azure-iot-sdk-c/files/3602340/az_tlsio_mbedtls.c.txt)

[2019-09-11 20:39] jspaith commented on #427
@ukluk @cjohnsonoem - sorry for delays here.  We don't really track closed issues so I'd recommend opening a new issue on this.

Please tag @jebrando as he happens to be looking at our retry logic now and may have some more insight.

[2019-09-12 04:30] kiranpradeep commented on #1088
@hihigupt You have not enabled SSL decrypt in Fiddler/Charles. That would force you to use option OPTION_TRUSTED_CERT with Fidder/Charles CA. **This is mentioned in MCVE of bug report**. The error happen only if you turn on SSL decrypt in Charles/Fiddler or any SSL decrypt capable proxy.

[2019-09-13 07:14] chinmaychhajed commented on #1106
Hello, any update on this? @chrissie926

[2019-09-13 07:46] alexmrtn commented on #1040
Hi, I tested everything few days ago and all is working good, thanks! Just waiting the fix to be integrated into the next release :)

[2019-09-13 07:48] chinmaychhajed opened #1175 "UNIX/Linux support for creating token lifetime policies"
Hello,

- Are there any variables/macros which can be set to change token lifetime?
- I came across [this](https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-configurable-token-lifetimes#example-token-lifetime-policies) to set token lifetime through CLI but it is present for powershell and I need support for UNIX/Linux. Is there any link which I'm unable to find? If y

[2019-09-13 07:49] alexmrtn commented on #1145
It is not a real issue anymore, but if you have a better way of handling this use-case I'll be happy to have your advice! Thanks.

[2019-09-13 16:28] kiranpradeep commented on #1088
Ok @hihigupt. I have never tested (neither the _iothub_convenience_sample_ nor the SSL proxy hosting) with Windows computer and so didn't mention Windows in the bug report. Below are the 5 computers on which I have tested the _iothub_convenience_sample_.

1. Ubuntu 18.04 behind SSL decrypting corporate proxy (at work).
2. Ubuntu 16.04 behind SSL decrypting corporate proxy (at work).
3. macOS 10.13

[2019-09-13 16:31] surajdagar opened #1177 "Build issues with mbed-os5.x over mbed-cli tool chain"
Hey,
I am trying to build it with mbed-os 5, I am using mbed-cli to build this. I am getting below errors.

Compile [ 66.1%]: agenttime_mbed.c
[Error] strings.h@21,1: unknown type name 'MU_IF'
[Error] strings.h@22,1: unknown type name 'MU_IF'
[Error] strings.h@23,1: unknown type name 'MU_IF'
[Error] strings.h@24,1: unknown type name 'MU_IF'
[Error] strings.h@25,1: unknown type name 'MU_IF'
[Error]

[2019-09-13 18:46] hihigupt commented on #1088
@kiranpradeep I am using docker for ubuntu environment, that should provide linux run-time. Only thing that I can think of now is when fiddler act as a MITM. When being MITM, it act as a client to IOTHUB, and this client needs to have renegotiation enable to work with WS. If you check the last wireshark trace you attached in your **MCVE**, client (i.e fiddler 192.168.1.100:38506) sends a Encrypt a

[2019-09-13 21:19] danewalton commented on #1177
Hi @surajdagar are you using the latest version of the sdk? If so can you make sure the submodules are updated using the following command from the top level of the sdk.
`git submodule update --init --recursive`

[2019-09-13 21:22] danewalton commented on #1142
PR has been opened.
https://github.com/Azure/azure-iot-sdk-c/pull/1176

[2019-09-13 23:30] danewalton commented on #1038
@basavarajph I'm going to go ahead and close this for now but if you are still having issues please feel free to open another issue and we will try and help as best we can.

[2019-09-13 23:30] #1038 closed

[2019-09-13 23:30] az-iot-builder-01 commented on #1038
@basavarajph, @danewalton, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2019-09-13 23:37] danewalton commented on #1175
Hi @chinmaychhajed are you sure this is an IoT issue? This seems like it is something to be directed towards Azure Active Directory. [This is the link to their help page](https://docs.microsoft.com/en-us/azure/active-directory/develop/developer-support-help-options) and [this is a link to their various github repos.](https://docs.microsoft.com/en-us/azure/active-directory/develop/developer-support

[2019-09-14 08:31] chinmaychhajed commented on #1175
Oh cool, actually I was using this repo and stumbled upon this issue so I filed this issue here! Anyways thanks for help.

[2019-09-14 08:31] #1175 closed

[2019-09-14 08:31] az-iot-builder-01 commented on #1175
@danewalton, @chinmaychhajed, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2019-09-16 06:19] NOA-Vernon commented on #1168
[nrf52_esp32_azure_iot_wireshark.zip](https://github.com/Azure/azure-iot-sdk-c/files/3614925/nrf52_esp32_azure_iot_wireshark.zip)
@hihigupt  thank you so much, please have a look at the attached zip file, I captured the packets between esp32 and remote azure iot hub.

[2019-09-16 15:48] danewalton commented on #1045
Hey @Nishchayg7 I'm going to go ahead and close this for now for inactivity. If you have any other issues or questions feel free to open another issue.

[2019-09-16 15:48] #1045 closed

[2019-09-16 15:48] az-iot-builder-01 commented on #1045
@Nishchayg7, @danewalton, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2019-09-16 17:26] surajdagar commented on #1177
Hi @danewalton Yes, I am using the latest version of the SDK. Looks like my submodules are up to date too.

[2019-09-16 18:07] danewalton commented on #1177
are you building from the command line? are you able to post the full command?

[2019-09-16 18:40] surajdagar commented on #1177
Yes, I am building with command line - mbed compile -t GCC_ARM -m nRF52840_DK

[2019-09-16 21:11] hihigupt commented on #1168
Looking at your wireshark connection establishment is bit long... Can you try make it bit faster by running your MCU bit faster?

[2019-09-16 22:30] danewalton commented on #1177
The error leads me to believe that an include path isn't being passed to the build command? If you are on the latest sdk and submodules are updated that define should be [here](https://github.com/Azure/azure-macro-utils-c/blob/7523af934fc4d9423111e358f49b19314ec9c3e3/inc/azure_macro_utils/macro_utils.h#L22538). The path from a cloned repo would be `deps/azure-macro-utils-c/inc`. Could you double c

[2019-09-17 01:38] NOA-Vernon commented on #1168
[nrf52_esp32_azure_iot_x.zip](https://github.com/Azure/azure-iot-sdk-c/files/3618843/nrf52_esp32_azure_iot_x.zip)
I captured the packets 3 times and disable the mbedtls log print for running the MCU a little bit faster

[2019-09-17 02:25] danewalton commented on #1142
PR has been merged. Thanks again for pointing this out @jadeiceman.

[2019-09-17 02:25] #1142 closed

[2019-09-17 02:26] az-iot-builder-01 commented on #1142
@danewalton, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2019-09-17 14:49] Hmaalla opened #1180 "Confusion about D2C message size limits"
Hi,
We have some confusion about D2C message size limits
According azure documentation, D2C message is limited to 256KB, but there's no information whatever this limits concerns only payload or the whole message.
We have tested the following cases using the "sample iothub_convenience_sample" available in deps/azure-iot-sdk-c/iothub_client/samples/ :

### Test 1 :
Sending a message with '255KB' as

[2019-09-17 16:57] rafilho commented on #1145
@alexmrtn , if this is only for testing, you can take a look here: https://github.com/Azure/azure-iot-sdk-c/blob/master/testtools/iothub_test/src/iothubtest.c#L261

But again, no guarantees that the partitioning will ever change. Thanks.

[2019-09-17 17:45] hihigupt commented on #1168
Server is sending FIN and closing tcp socket. More insight is required from server side. Can you please share your hubname and device ID. Please do not share your connection string as that contain it contains SAS token.

[2019-09-17 17:51] BenPYeh opened #1181 "Upload blob to storage account without IoT Hub"
We have an IoT Hub with a Storage Account connected, and we call  IoTHubClient_UploadToBlobAsync with the IoT Hub handle and it uploads the blob to the associated storage account as expected. Is there an API to upload directly to the storage account? The reason is we'd like to use IoT Central instead, and we can't associate a storage account in the same way and use the same API.

[2019-09-17 18:06] hihigupt commented on #1168
Can you also turn on MQTT logging and share the logs? Plus also share the time-frame when you make the request to server in UTC.

Use following in you application

#include "iothub_client_options.h"

bool traceOn = true;
IoTHubDeviceClient_SetOption(device_handle, OPTION_LOG_TRACE, &traceOn);

[2019-09-17 20:09] surajdagar commented on #1177
Hi @danewalton yes, I have "macro_utils.h" available on this path. You can reproduce it by downloading blinky from https://github.com/ARMmbed/mbed-os-example-blinky. Add azure c sdk into it. And compile it through mbed cli.

[2019-09-17 23:12] jspaith commented on #693
Going to not-fix this.  Reasons:
* The service SDK is fairly static for C and we don't think a lot of people are using it, if any.
* Using the API correctly does NOT have this problem.  The samples demonstrate correct way to do this.
* Fixing this becomes somewhat complex - we can't just call Close() from destroy level as a safety, since Close() itself isn't setup to be called multiple times and w

[2019-09-17 23:12] #693 closed

[2019-09-17 23:13] az-iot-builder-01 commented on #693
@jspaith, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2019-09-17 23:15] #924 closed

[2019-09-17 23:15] az-iot-builder-01 commented on #924
@ewertons, @jebrando, @maskimthedog, @rafilho, @jspaith, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2019-09-18 02:09] NOA-Vernon commented on #1168
@hihigupt Thanks a lot for your reply, for your information, the errors/questions above I mentioned happened when I ran the iothub_ll_telemetry_sample demo. I turned on the MQTT logging, but it is not much log output, see the following output log (the logging level is  MINIMAL_LOGERROR)
Sending message 1 to IoTHub
Sending message 1 to IoTHub
Sending message 2 to IoTHub
Sending message 3 to IoTHub

[2019-09-18 03:19] danewalton commented on #1177
Are you trying to include the azure c sdk directly via a the github url or via the mbed repositories [here](https://os.mbed.com/users/AzureIoTClient/). I don't believe the sdk will compile correctly if you include the whole repo from github as the includes won't be resolved. It doesn't look like mbed cli allows you to specify an include directory option.

[2019-09-18 07:28] hihigupt commented on #1168
One similar issue with 0x05 error was reported recently in which RTC time was too much off.
https://github.com/Azure/azure-iot-sdk-c/issues/1141#issuecomment-528800909

Can you check if your device clock  is not out of sync with real time

[2019-09-18 07:47] NOA-Vernon commented on #1168
I ran the x509 iothub_ll_client_x509_sample demo, it can connect to azure iot hub successfully and send the message expectedly, if there is something wrong with the RTC time, I assume the connection wouldn't be connected to azure iot hub. However, when I ran the iothub_ll_telemetry_sample demo, it always connected failed, the result is
ClientConnectionCallback with result = 2, reason = 5 or
Client

[2019-09-18 10:01] PRAVEENBADIGER commented on #1159
Hi danewalton,

Info: IoT Hub SDK for C, version **1.1.28**

When i run above SDK on **ubuntu 14.04** it works without any errors,

BUT , when i try to run the same SDK in **IMX6** with  **iothub_client_sample_upload_to_blob example, following errors  are generating**

`
ASAWZ-Andriodwireshark-log.pcapng

/run/media/mmcblk0p3/log/pcap/ASAWZ-Andriodwireshark-log.pcapng
Wed Sep 18 12:03:08 UTC 2019

[2019-09-18 10:31] eme-jonesng opened #1182 "Question of Azure SAS token refresh time"
- OS and version used: Embedded platform with FreeRTOS
- SDK version used:
[/releases/tag/2019-05-16](https://github.com/Azure/azure-iot-sdk-c/releases/tag/2019-05-16)
`SHA-1:11d5150aeb26635862cf50484af9c7e8badd52a0`

**Description:**
My device is using MQTT to connect to the Iot Hub and I found that it keeps disconnect and reconnect after 48 minutes. Then I found that we can use IoTHubClient_LL_S

[2019-09-18 13:57] surajdagar commented on #1177
I tried both ways to add from the mbed page using command mbed add. I use git clone to clone the whole SDK and in my project and add the required header files.
Is there any another way to add c-sdk in the project and compile over mbed-cli?

[2019-09-18 16:34] danewalton commented on #1177
Currently the only way we support is to include the repo's from the the [arm website repos](https://os.mbed.com/users/AzureIoTClient/). Otherwise you will have to extract the pieces that you need from the github repo and put them in a flat directory structure in your mbed project. You will have to make the includes flat as well which means if a file is included in a `.c` or `.h` with a subdirector

[2019-09-18 17:51] hihigupt commented on #1168
We use device time in SAS connection. Can you please print time and check if it is off from real time?

[2019-09-18 17:55] surajdagar commented on #1177
Hey, I downloaded the arm website repos and try to build it. I am getting below errors- which looks related to the mbed-cli path. mbed-cli don't have any options to set path order.
Building project MicroSoft_Test_Code (NRF52840_DK, GCC_ARM)
Scan: MicroSoft_Test_Code
Compile [  0.1%]: azure_sha1.c
[Error] strings.h@18,1: unknown type name 'IF'
[Error] strings.h@19,1: unknown type name 'IF'
[Error]

[2019-09-18 22:31] mamokarz commented on #791
Hi @alexmrtn,

I've just push the fix for this issue, I hope it solve your problem, if not, feel free to reopen it.

Thanks,
Marcos

[2019-09-18 22:31] #791 closed

[2019-09-18 22:31] az-iot-builder-01 commented on #791
@ewertons, @mamokarz, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2019-09-19 02:26] NOA-Vernon commented on #1168
I printed the time() function whenever called get_time() , the timestamp is correct.

get_time: 1568859794
Sending message 1 to IoTHub
get_time: 1568859794
get_time: 1568859794
get_time: 1568859794
get_time: 1568859801
Sending message 2 to IoTHub
get_time: 1568859802
error D:/azure-iot-sdk-c/iothub_client/src/iothubtransport_mqtt_common.c: line 1744
Sending message 3 to IoTHub
Sending message 4 to

[2019-09-19 04:22] hihigupt commented on #1168
Was it equal to the human readable time... if time is off by 5 min. It can cause issue on server side

[2019-09-19 06:28] kskog opened #1184 "IoT Hub root CAs"
We have noticed that our iot-hub presents a server certificate with a chain ending in Baltimore CyberTrust Root. When I read blogs about this, it seems like this is the root certificate for all IoT Hubs.

Then, why are there 3 root CA certificates in the code?
Are some IoT Hubs presenting a certificate signed by one of the other CAs?

The question really is, for our IoT Hub instance, do we need to

[2019-09-19 07:58] NOA-Vernon commented on #1168
I also create a task for printing the time  every 3 seconds to make sure the time is correct, please see the following log

Sending message 1 to IoTHub
2019-09-19 07:54:52
2019-09-19 07:54:55
2019-09-19 07:54:58
Sending message 2 to IoTHub
error D:/azure-iot-sdk-c/iothub_client/src/iothubtransport_mqtt_common.c: line 1744
2019-09-19 07:55:01
Sending message 3 to IoTHub
Sending message 4 to2019-09-

[2019-09-19 17:23] hihigupt commented on #1168
Can you please increase the logging level to verbose with MQTT trace on? To turn on MQTT trace use following:

bool traceOn = true;
IoTHubDeviceClient_SetOption(device_handle, OPTION_LOG_TRACE, &traceOn);

[2019-09-19 17:56] mamokarz commented on #602
Hi @Patrik-Berglund ,

I pushed the change that fix the error message, from DEVICE_DISABLED to BAD_CREDENTIAL.

The second issue that  you reported here, related to the IOTHUB_CLIENT_CONNECTION_NO_NETWORK is a knowing internal issue, it is in our backlog, but we don't have any plans to fix it now. So, from now, when you provide an invalid Key or device-id, you will receive two callbacks, the first

[2019-09-19 17:56] #602 closed

[2019-09-19 17:57] az-iot-builder-01 commented on #602
@Patrik-Berglund, @ewertons, @bikamani, @mamokarz, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2019-09-19 19:26] jspaith opened #1186 "Document LL versus convenience layer"
We need clearer documentation about when and how to use LL versus convenience layer.

There's some explanation in specs and some references to samples, but this feels like it deserves a separate topic in docs.

[2019-09-19 20:27] PraveenKolipaka1 opened #1187 "Azure IOT hub channel closing issue(IoTHubDeviceClient_LL_Destroy(handle))."
------------------------------- delete below -------------------------------

Objective:
We want to start Azure IOT hub connection dynamically (on demand). And similarly stop/close the same dynamically.
Platform details: Mac OSX 10.14.5,Azure IOT Hub SDK version: 1.3.3,Xcode 10.2
Issue:
Though we can open Azure IOT Hub channel with the help of API’s, we are unable to locate an API to stop/close th

[2019-09-19 21:22] FreddieChopin opened #1188 "Allow all `install(EXPORT ...)` to be disabled for bare-metal projects"
**Is your feature request related to a problem? Please describe.**
When using azure-iot-sdk-c as a submodule for an embedded bare-metal project (e.g. STM32F7 microcontroller) one would prefer to reuse as much of build system as possible - ideal solution is to reuse it entirely, with zero changes, as any change requires either a fork or working with a snapshot, which will soon become outdated. In s

[2019-09-20 08:20] SchroterQuentin commented on #1052
@jebrando Did you push your fixes ? We are facing the same issue. Even if we copy the libraries it needs the header files to work.

@massand we try with the 2019-05-16 SDK and are facing the same issue.

[2019-09-20 08:54] SchroterQuentin opened #1189 "riot.a and utpm.a files are not being linked using DPS"
When using the SDK with the device provisioning :

[code]

[code]

It's strange that there is some stuff already up-to-date whenever I clean everything before installing. And we can see that the `libmsr_riot.a` **does not appear** in that list.

Now in my Qt project I use this header files :

[code]

and with this Qt config :

[code]
I got a

[code]

If I remove the library from the `LIBS` in Qt I

[2019-09-20 10:38] NOA-Vernon commented on #1168
@hihigupt I prefer to use the x509 to connect to azure now, I want to pend this issue until I'm free to handle it.

[2019-09-20 14:57] SpaBruis opened #1190 "IoTHubClient accepted the message for delivery"
![afbeelding](https://user-images.githubusercontent.com/55592439/65336814-53a7ee00-dbc7-11e9-93da-d38ef9e4cc01.png)
The code gets stuck after "IoTHubClient accepted the message for delivery"
Thanks in advance

**Main code:**

// Wifi libraries
#include <ESP8266WiFi.h>
#include <WiFiClientSecure.h>
#include <WiFiUdp.h>

// IoT hub libraries
#include <AzureIoTHub.h>
#include <AzureIoTProtocol_MQTT.h

[2019-09-20 15:00] SpaBruis commented on #1190
static WiFiClientSecure sslClient; // for ESP8266

const char *onSuccess = "\"Successfully invoke device method\"";
const char *notFound = "\"No method found\"";

static void sendCallback(IOTHUB_CLIENT_CONFIRMATION_RESULT result, void *userContextCallback)
{
    if (IOTHUB_CLIENT_CONFIRMATION_OK == result)
    {
        Serial.println("Message sent to Azure IoT Hub");
    }
    else
    {

[2019-09-20 18:30] hihigupt commented on #1168
For now I will close this issue as you are able to connect to IOTHUB. Please feel free to open new issue for connection with SAS token.

[2019-09-20 18:30] #1168 closed

[2019-09-20 18:30] az-iot-builder-01 commented on #1168
@hihigupt, @NOA-Vernon, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2019-09-20 19:08] jspaith opened #1191 "DIGITALTWIN_CLIENT_ASYNC_COMMAND_UPDATE.propertyData isn't consistent type"
In general for C SDK, we have our payloads as "unsigned const char" just so we have some flexibility if we use a non-JSON format.

Except - in `DIGITALTWIN_CLIENT_ASYNC_COMMAND_UPDATE`, this is a char* propertyData but not unsigned const char*.

Same feedback for `DigitalTwin_InterfaceClient_SendTelemetryAsync` and `DigitalTwin_InterfaceClient_ReportPropertyAsync`.  Needs to be consistent.

[2019-09-20 19:12] jspaith opened #1192 "Have ability to disable sending SDKInformation"
When an application calls `DigitalTwin_DeviceClient_RegisterInterfacesAsync`, we automatically send over the SDKInformation (basically {language=C, C SDK version, vendor=Microsoft}).

This is needed for device certification AND for is also handy for solutions developers to be able to depend on it.

However there maybe cases where customer doesn't want it, either for bandwidth or quotaing or just b

[2019-09-20 19:13] jspaith opened #1193 "Multiple property update"
Add an API to DigitalTwin SDK such that we can update multiple properties in one write. So instead of ReportProperty(1), ReportProperty(2), it'd be ReportProperties({1,2}).

Other SDK's have this or will shortly, and it's helpful here specifically as many interfaces have lots to send up front (e.g. deviceInfo).  Doing one property update at a time is overly chatty.

[2019-09-20 19:16] jspaith opened #1194 "Document how apps using PnP should retrieve network errors"
Currently when a network error happens for IoTHub DeviceClient, there's a callback apps can register to play with this.  E.g. `IoTHubDeviceClient_SetConnectionStatusCallback`.

We don't want to plumb this up via PnP/DigitalTwin API layer, because it would just be needless abstraction.

We do need to document to applications how to use this, though.  So basically "When you're creating your IOTHUB_D

[2019-09-20 19:17] jspaith opened #1195 "Code cannot assume const unsigned char* is a null terminated string"
We have a bunch of code - including samples and model definition - that assumes that the const char* unsigned business is a string.

We need to review underlying IoTHub client and figure out whether it promises a string or whether we need to (ugh) make a copy before doing string type operations.  Or potentially we could make it so IoTHub client allocates an extra byte and sets it to \0 for safety

[2019-09-20 19:20] jspaith opened #1196 "Optimize command / property subscription"
If no interfaces have registered command callbacks (or analogously properties), then C SDK should not subscribe on command channel (or device twin). Reason is to save bandwidth and customer $$ from extra topics in play.

There's two ways to do this:
* At runtime.  Very easy to run through list of interface handles and see if anything needs it.  Benefit is no customer changing of this code, through

[2019-09-20 19:23] jspaith opened #1197 "Don't close IoTHub device client handle inside DigitalTwin destroy"
(Marking as a bug, not an enhancement, because this needs fixed prior to GA since it has API shape implications we can't change later.)

Per discussion with API folks, the DigitalTwin SDK destroying the IoTHub device client handle is wrong. Since the user allocated it, the user should free it. There's also very real risk that if user frees DT handle 1st and frees IoThub handle, they'd crash as the

[2019-09-20 19:26] jspaith opened #1198 "Refactor / remove RegisterInterfaces"
Based on coordination with other Azure IoT SDK's on DigitalTwin registration state machine logic, C SDK needs to make a few changes in how registration works.

* Move SDKInformation so that once we get the telemetry ACK message, we send it out.  We do NOT wait for this SDKInformation to be ACK'd before proceeding, though.
* Document the fact that once an interface is registered, callbacks on prope

[2019-09-20 19:27] jspaith opened #1199 "Remove model definition interface from src/sample"
The file `dt_model_definition.c` is an interface that's optional but is checked into the core of digitaltwin_client.

We should create a new directory e.g. digitaltwin_client\interfaces to try and suggest this is a 1st party and ready to ship interface (opposed to environmental sensor which is a pure sample and device info which would require tweaking on most platforms).

Beyond cleanliness, on em

[2019-09-20 19:29] jspaith opened #1200 "Move to standard enums in PnP public headers"
DigitalTwin client followed the convention of rest of IoTHub in using `MU_DEFINE_ENUM` to specify enums, so it'd be easy to stringify errors.

I don't think having an easy stringify is worth this.  Because:
* It gets pre-processor into our business, never a good thing.  In particular...
* Extra cognitive load on developer to understand this construct, rather than an enum.
* Any source editor that

[2019-09-20 19:43] jspaith opened #1201 "Remove model definition interface from default samples"
Would like to figure out a way to remove model definition from our default samples.  It adds extra overhead and especially on constrained devices we want to demonstrated smallest possible footprint.

The issue is our initial onboarding experience becomes a lot harder without it, since it requires developers to register these interfaces in repos before they can do basic device<=>Cloud experimentati

[2019-09-22 19:32] Patrik-Berglund opened #1202 "Crash on connection loss using MQTT"
**Development Machine, OS, Compiler (and Other Relevant Toolchain Info)**
ESP-IDF v3.3
Compiled on Ubuntu 16.04 using GCC 5.4.0

**SDK Version (Please Give Commit SHA if Manually Compiling)**
Master, cloned at 2019-09-22

**Protocol**
MQTT
Using tlsio_mbedtls and socketio_berkeley from c-utility

**Describe the Bug**
On connection loss the IoT Hub SDK tries to reconnect and gets stuck in a fast re

[2019-09-23 17:21] ccampell commented on #1093
@z466chen Were you able to figure out what modifications to make to the toolchain file to have pthread statically link? I am having the same issue as you.

[2019-09-23 17:37] ccampell commented on #1093
@rafilho I am having the same issue. Do you have any idea how to modify the azure-iot-sdk-c build process to statically link pthread?

[2019-09-23 21:57] danewalton commented on #1189
hi @SchroterQuentin
I just ran these same steps and everything seemed to compile and install just fine. Are you having trouble with the compilation and linking of your separate project using the sdk library or compiling and installing the sdk itself?

[2019-09-23 21:59] hihigupt commented on #1088
If IOTHUB client runs on Windows or Linux and connects to fiddler proxy running on windows with decrypt enable, everything works fine. I also tried with Fiddler on Linux with mono. But with latest version of mono (6.4.0), I am not able to decrypt https traffic even when fiddler decrypt option is enabled. In older version of Fiddler(4.6.2) I could see that when I enabled decrypt option connection i

[2019-09-23 23:31] #749 closed

[2019-09-23 23:31] az-iot-builder-01 commented on #749
@jspaith, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2019-09-23 23:35] danewalton commented on #1190
Hi @SpaBruis
Is it possible you are running out of memory? Often times interrupt handlers for an out of memory exception are defaulted to a `while(1){ }` loop. Are you able to add a breakpoint at that exception?

[2019-09-24 07:33] SchroterQuentin commented on #1189
You're right I wasn't clear.
I update the main post. The problem is using the sdk compilated and installated. It seems that during the install, some stuff have been forgotten or I forget something in the Qt config ?

[2019-09-24 15:08] kiranpradeep commented on #1088
@hihigupt Assuming you have the repro.

1. The issue is not specific to Fiddler on Linux. I raised the bug because, I saw (and still consistent) the issue with 3 independent proxies (Fiddler,  Charles and corporate proxy) as specified in the bug report. If you can name any other SSL decrypting proxy, I can test the same on Linux.
2. Over the exact same setup, I could communicate to Azure Event Hub

[2019-09-24 22:54] danewalton commented on #1189
are you able to try out [this branch](https://github.com/Azure/azure-iot-sdk-c/tree/dawalton/riotInstall) and let me know if that solves your problem?
`git checkout dawalton/riotInstall`

[2019-09-25 03:37] eramitsh opened #1207 "MQTT : NO Ping Response from IOT hub"
Hi,
I connected using MQTT protocl with IOT hub and with keepAlive settings,
the connection is build but its not able to keepit Alive because when MQTT makes the ping response it gets
I (6585) azure_manager: Transport    : TLS/1
I (6585) azure_manager: Remote Port  : 8883
I (6595) azure_manager: Free memory  : 177296 bytes
I (8135) MQTT_CLIENT: Sending MQTT CONNECT message, type: 1, id: 0000
touch

[2019-09-25 05:57] Anil-Poolayulla-Chelottillam commented on #1097
Its working now.
I added Mosquitto client library download commands in docker file, then used host as bridge docker network ip while subscribing. then it worked. SUB and PUB are working.  Thanks fro the support. Note i did not expose additional port for this.

[2019-09-25 07:19] SpaBruis commented on #1190
Hi @danewalton ,
Thanks for your reply! I am running this code directly on a NodeMCU v1.0 and also tried to run it on an ESP8266 - 01. I develop in Arduino IDE so i guess a breakpoint is not an option?

[2019-09-25 08:43] SchroterQuentin commented on #1189
It seems that the installation are copying the file needed

[code]

But that still not solve the problem.
The output of the compilator is exactly the same even after clear and rebuild everything.

It seems that it is in the `libhsm_security_client.a` that there is something missing because if I add `/usr/local/include/azureiot/msr_riot` to the `INCLUDEPATH` I'm able to call `DERInitContext` or the

[2019-09-25 14:45] SchroterQuentin commented on #1189
I finally found the last issue. It was the order of the linked library ...

With this order it can compile :

[code]

Of course your branch patch the installation. Thanks for that.

[2019-09-25 14:45] #1189 closed

[2019-09-25 14:45] az-iot-builder-01 commented on #1189
@danewalton, @SchroterQuentin, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2019-09-25 15:47] danewalton commented on #1189
Ah okay awesome to hear! I will move to get that merged into master. Thanks for bringing up the issue.

[2019-09-25 16:15] danewalton commented on #1184
Hi @kskog
The short answer to your question is yes. All three certs are required to validate the **chain** of trust from the client side (I emphasize chain because we need to validate each cert presented not just the Microsoft cert). [Here is a link better describing the idea behind a certificate chain of trust](https://www.thesslstore.com/knowledgebase/ssl-support/explaining-the-chain-of-trust/)

[2019-09-25 16:42] jspaith opened #1208 "Rename DigitalTwin's "interface instance" => component"
We're moving away from "interface instance" in DigitalTwin/PnP to "component".

So we need to make changes along lines of below (doing right with capitalization and spacing of course):
"InterfaceInstance" => "Component"
"InterfaceInstanceName"=>"componentName"

[2019-09-25 16:46] jrdouceur opened #1209 "Remove duplicate STRING_construct_sprintf call in dt_interface_client.c"
dt_interface_client.c contains the following lines:

    if ((desiredPathForInterface = STRING_construct_sprintf("%s%s", DT_INTERFACE_PREFIX, dtInterfaceClient->componentName)) == NULL)
    {
        LogError("Cannot build desiredPathForInterface string");
    }
    else if ((reportedPathForInterface = STRING_construct_sprintf("%s%s", DT_INTERFACE_PREFIX, dtInterfaceClient->componentName)) == NULL

[2019-09-25 17:12] danewalton commented on #1189
PR has been merged

[2019-09-25 18:06] danewalton commented on #1190
Are you able to turn on logging at all? it's hard to diagnose the problem without some logging or confirmation of breakpoint hits or something like that. Can you maybe print a message in the interrupt handler for an out of memory exception?

[2019-09-25 18:21] danewalton commented on #1181
Hi @BenPYeh
Currently the storage team offers a C++ sdk to upload to blob [here](https://github.com/Azure/azure-storage-cpp). This is what you would need to use to upload to a blob directly.

[2019-09-25 18:39] danewalton commented on #1177
Are you able to post the exact steps you followed to arrive at that result. So which `mbed add ....` commands you input etc so that I can try and repro?

[2019-09-25 19:48] anhashia commented on #1207
I am assuming you are using third party MQTT client library

What is the **keep-alive** value you are using in MQTT CONNECT packet ?  IoT Hub will follow MQTT spec on this.

**For example**
If keep-alive value is 4 minutes, IoT Hub will wait **1.5x** times (6 minutes) before disconnecting the client  if there is 6 minutes period of inactivity.

What is the **timeout**  in you are client library wh

[2019-09-25 20:14] surajdagar commented on #1177
Please find the steps below:
1) Download the blinky program - mbed import http://os.mbed.com/teams/mbed-os-examples/code/mbed-os-example-blinky/
2) Add azure_c_shared_utility - mbed add http://os.mbed.com/users/AzureIoTClient/code/azure_c_shared_utility/
3) Add azure_umqtt_c - mbed add http://os.mbed.com/users/AzureIoTClient/code/azure_umqtt_c/
4) Add iothub_client - mbed add http://os.mbed.com/us

[2019-09-25 23:56] jspaith opened #1210 "Reported twin info can enter no-free state on MQTT"
Acknowledgements to @markrad who did great investigation here and whose issue I'm basically copy/pasting below.

I've put a preliminary fix up https://github.com/Azure/azure-iot-sdk-c/tree/mqtt-twin-timeout-cleanup.  Cleaned up some of code so it's more common and of course removing reported properties.  UT's are passing but we clearly need more to cover this case.  I'll create PR after I sleep on

[2019-09-26 01:09] hihigupt commented on #1088
Is the attached trace with MCVE is for fiddler in Linux?

[2019-09-26 01:50] anhashia commented on #1184
Hi @kskog

I assume you are referring to list https://github.com/Azure/azure-iot-sdk-c/blob/master/certs/certs.c
DigiCert Baltimore Root is trusted root for IoT Hub hostnames ending with *.azure-devices.net.

- IoT hub service is also supported in Azure **national clouds**. These hostnames will be different and they will be secure by different Root CA's. That is why there are other Roots CA's in t

[2019-09-26 10:13] kskog commented on #1184
Thanks @anhashia

That was helpful:-)
Our hostname ends in .azure-devices.net.

[2019-09-26 16:26] danewalton commented on #1177
So I believe I know what the problem is here. There is a **TLDR** at the bottom for a possible solution.

It seems that the mbed cli does not allow for an include path to be passed and instead it does something that might seem at first useful to an end user but difficult if you wish to modify. It adds all directories in your current project to the include path.

In our code, we have a file called

[2019-09-26 16:27] kiranpradeep commented on #1088
@hihigupt The trace was for Charles on Linux.

[2019-09-26 17:41] jspaith opened #1212 "Clarify model definition that it can retrieve interfaces and DCM's"
The question in #1154 makes it clear that our naming of ` DigitalTwin_ModelDefinition_Publish_Interface` needs to be improved.

Model Definition can return not just interfaces, but also Device Capability Models.  The fact that it is called just "Interface" has understandably confused the first customer who came across it and likely will cause more confusion.

We need to think about a better name f

[2019-09-26 17:44] jspaith commented on #1154
@matsujirushi  - apologies for delay here.  This is a really good question and points to a poor naming decision on our part.

This is designed to retrieve *both* interfaces and device capability models.

I have opened #1212 to track fixing the name. I will also reach out to our other device SDKs since they may have the same issue with similar confusion.

Thank you for bringing this to our attentio

[2019-09-26 17:44] #1154 closed

[2019-09-26 17:44] az-iot-builder-01 commented on #1154
@matsujirushi, @jspaith, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2019-09-26 22:41] danewalton commented on #1159
Hey @PRAVEENBADIGER are you able to rerun this building with the latest sdk? Make sure to update the submodules with `git submodule update --init --recursive` from the root sdk directory. I know we had a fix/update in `httpapiex.c` and am curious if that helps your situation at all.

[2019-09-26 22:50] danewalton commented on #1184
I stand corrected. Thanks for the input @anhashia!

I will go ahead and close this since the original question seems to be answered. Feel free to open another issue if you have other questions!

[2019-09-26 22:50] #1184 closed

[2019-09-26 22:51] az-iot-builder-01 commented on #1184
@danewalton, @kskog, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2019-09-27 07:08] eramitsh commented on #1207
i will verify all the points  and post the obersvations.

till now my obervation are : -
on keepalive of 120 sec i am getting the above logs that NO PING_RESP , so discconnect , i will verify the response wait time from IOT Hub.

and  observations made by changing keepalive in mqtt client  of Espressif azure library

1.	Keepalive > 10 sec
  observation: no ping response from broker and client disc

[2019-09-27 09:36] Patrik-Berglund opened #1213 "Charging for Device Twin update when SAS token renewal"
Hi,

When the SAS token is renewed (roughly once every hour), the device disconnects and reconnects. After the connection is reestablished the Device Twin is sent out, is that included in the IoT Hub charging?

Best Regards
Patrik Berglund

[2019-09-27 19:14] anhashia commented on #1207
**Don't** see any issue.. Tired with 30 second keep-alive using IoT C SDK. There are no known issue around MQTT PING on IoT Hub service side.

[code]

**LOG snippet**

-> 12:08:45 PINGREQ
<- 12:08:47 PINGRESP
-> 12:09:15 PINGREQ
<- 12:09:17 PINGRESP
-> 12:09:45 PINGREQ
<- 12:09:47 PINGRESP
-> 12:10:15 PINGREQ
<- 12:10:17 PINGRESP
-> 12:10:45 PINGREQ
<- 12:10:47 PINGRESP
-> 12:11:15 PINGREQ
<- 12:1

[2019-09-28 00:24] hihigupt commented on #1088
@kiranpradeep I tired with [mitmproxy](https://mitmproxy.org/) in Ubuntu and[ proxy was able see the handshake was getting completed with IOTHUB properly](https://kartosstorage.blob.core.windows.net/data/github_issue.png?sp=r&st=2019-09-28T00:10:23Z&se=2019-12-26T09:10:23Z&spr=https&sv=2018-03-28&sig=%2BoUhnVVeQ%2BZuSJ6KaXgRu67LDJ1cq%2F1ZMSZ8jSRsn1A%3D&sr=b). This proxy has one bug which get surfa

[2019-09-28 00:39] wickste opened #1220 "IoTHubDeviceClient_CreateFromConnectionString doesn't check for invalid connection string"
**Repro System**
Debian Stretch
SDK Release 2019-07-01

**Protocol**
MQTT

**Describe the Bug**
I was missing a character at the end of the connection string, but I didn't get any error when creating the DeviceClient handle. Errors came only later and were rather cryptic and not helpful for diagnosing the root cause.

To repro, just use the iothub_convenience_sample and supply a connection string

[2019-09-30 14:52] hommeabeil commented on #1089
Hi,

Here is what you are looking for. The log in trace mode.
[code]
And here is the valgrind result, as you can it seems to have an invalid read on the list.
[code]

[2019-09-30 15:59] surajdagar commented on #1177
Thanks @danewalton , It works.

[2019-09-30 15:59] az-iot-builder-01 commented on #1177
@danewalton, @surajdagar, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2019-09-30 17:08] khilscher commented on #1182
Try the following to override the SAS token lifetime. You should see a disconnect and a reconnect at 80% of the sas token lifetime.

        //Override SAS token lifetime
        size_t sas_lifetime = 86400;
        (void)IoTHubDeviceClient_SetOption(device_handle, OPTION_SAS_TOKEN_LIFETIME, &sas_lifetime);

[2019-09-30 18:05] surajdagar opened #1222 "iothub_client_sample_mqtt_run(void) Stuck on Function call - IoTHubClient_LL_DoWork(iotHubClientHandle);"
Hi,
I am using mbed-os 5.14, I am trying to port sample program(https://os.mbed.com/users/AzureIoTClient/code/iothub_client_sample_mqtt/) for mbed-os 5 on target nRF52840_DK.
I am using ESP8266 for the network interface. I did set the log options but I am not getting any internal Azure SDK logs
            bool traceOn = true;
            IoTHubClient_LL_SetOption(iotHubClientHandle, OPTION_LOG_TR

[2019-09-30 19:06] #1210 closed

[2019-09-30 19:06] az-iot-builder-01 commented on #1210
@jspaith, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2019-09-30 20:24] rezasherafat opened #1223 "Increase buffer size in socket communication layer"
**Development Machine, OS, Compiler (and Other Relevant Toolchain Info)**

All

**SDK Version (Please Give Commit SHA if Manually Compiling)**

Current (9/30/2019)

**Protocol**

All

**Describe the Bug**

The C SDK's socket layer has a read buffer size of 64 which may become a bottle neck when sending large amounts of data.

**[MCVE](https://stackoverflow.com/help/mcve)**
n/a

**Console Logs**
n/

[2019-10-01 00:20] Shyamal-V opened #1224 "PnP SDK: Support for incrementally registering interfaces"
We've been talking to PnP SDK folks about some pain points around DigitalTwin_DeviceClient_RegisterInterfacesAsync

**Is your feature request related to a problem? Please describe.**
We're building a bridge for gateways running Windows and Linux, to publish PnP interfaces for peripheral devices attached to it. The bridge is extensible through simple adapters that enable peripherals/protocols like

[2019-10-01 03:02] kiranpradeep commented on #1088
@hihigupt Ok. The point made is: IoT Hub works with 1 out of 4 tested real-world SSL decrypting proxies and so there is nothing wrong IoT Hub service or sdk side. Closing.
Charles was tested with TLS 1.2. Thanks.

[2019-10-01 03:02] #1088 closed

[2019-10-01 03:02] az-iot-builder-01 commented on #1088
@rafilho, @hihigupt, @kiranpradeep, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2019-10-01 05:55] enerdata opened #1225 "unable to connect azure iot"
Hi there,

iam working on esp32 azure , unable to connect azure hub
the following code shown below i don't know what exact the error is please give me the solution regarding this error

--- idf_monitor on /dev/ttyUSB0 115200 ---
--- Quit: Ctrl+] | Menu: Ctrl+T | Help: Ctrl+T followed by Ctrl+H ---
ets Jun  8 2016 00:22:57

rst:0x1 (POWERON_RESET),boot:0x13 (SPI_FAST_FLASH_BOOT)
configsip: 0, SPIWP

[2019-10-01 14:27] alexnix opened #1226 "ECDSA Ciphersuites"
I suspect Azure IoT Hub does not accept ECDSA cipher suites for device authentication using X.509 certificate issued by CA. Is that true?
I tried to initiate a connection with a Client Hello only proposing ECDSA ciphers and the server terminates immediately. If I propose RSA ciphers too, than the server will choose an RSA cipher.

PS: The tests are not done using the C SDK but C with some TLS and

[2019-10-01 20:42] surajdagar commented on #1177
@danewalton Since we are working here Azure SDK compiled successfully but won't do anything after that. I have raised an issue for that Please have a look. @ #1222

[2019-10-01 20:43] surajdagar commented on #1177
@ #1222  closed and linked to this issue

[2019-10-02 09:28] SpaBruis commented on #1190
@danewalton TLS to the IoT hub fails:
![failure](https://user-images.githubusercontent.com/55592439/66033525-bffbe900-e507-11e9-8e32-a44ec44d01b7.PNG)

[2019-10-02 10:14] SpaBruis commented on #1190
I have found the solution:
https://github.com/Azure/azure-iot-arduino/issues/89
Thanks for your time, @danewalton

[2019-10-02 19:28] aog2000a commented on #940
Same issue with Azure IoT SDK for C, version 1.3.4, and OpenSSL 1.0.2s.

[2019-10-02 21:01] cirvine-MSFT opened #1227 "Component governance warning for bouncycastle"
Filing at the request of @rafilho

Component Governance throws this high sev warning when we build the public-preview branch of the Azure IoT SDK C in our yocto build:

-- Component: ---

org.bouncycastle bcprov-jdk15on 1.57 - Maven

--- Found at: ---

/data1/1/b/tmp/work/cortexa7t2hf-neon-vfpv4-poky-linux-gnueabi/azure-iot-sdk-c/1.0+gitAUTOINC+c51e1dac0c-r0/git/provisioning_client/deps/RIoT/Pkgs/

[2019-10-02 22:10] aog2000a commented on #940
Hi @TizianoFranzoi, aren't you using either openssl directly, or some other library in your code which uses openssl (like libcurl)?

I think I've found the problem, at least in my case, and it is that my code uses OpenSSL, CURL and Azure IoT, and the initialization/initialization functions step on each other's toes with regard to OpenSSL...

Azure IoT tries to be clean by calling `curl_global_init

[2019-10-03 10:08] SashaMilic opened #1228 "SocketStream read error - Socket SO_ERROR"
**This issue is for a: (mark with an x)**

**Minimal steps to reproduce:**

**Expected/desired behavior**

**OS and Version?**

**Any log messages given by the failure**

**Debug error**

------
**Some time it throws this error:**

**Mention any other details that might be useful**

[code]

[2019-10-03 14:43] massand commented on #1099
Could you provide more information on your Edge environment and device where this is running? Similar to this issue on iotedge repo - https://github.com/Azure/iotedge/issues/731. Having moduleclient logs alongside the EdgeHub logs would help, since both your module and Edge logs now are captured on two different repros. Thanks.

[2019-10-03 16:05] krokoko opened #1229 "X509 device provisioning with group enrollment"
Hey guys,

  I'm trying to provision a X509 device to IoT Hub DPS using the IoT C SDK and group enrollment. I used some information from [this doc](https://docs.microsoft.com/en-us/azure/iot-dps/quick-create-simulated-device-x509). For the group enrollment, as i'm using the C SDK, I need to use a custom HSM (Java, C# and Python SDK provide APIs to add custom certificates).

Workflow :

1) I genera

[2019-10-03 16:40] krokoko commented on #1229
https://github.com/Azure/azure-iot-sdk-c/issues/1055 might be useful, seems this scenario is not working either and generating the same output

[2019-10-03 17:08] danewalton commented on #1229
Hi @krokoko
We have a bug in certGen.sh as brought up [here](https://github.com/Azure/azure-iot-sdk-c/issues/580). Is there any way you can run the powershell version of the cert generation for now to unblock yourself?

[2019-10-03 17:41] rezasherafat commented on #1226
@alexnix, IoT Hub currently does not support ECC for server identity verification and ECDSA ciphers are not accepted. The TLS handshake goes through only when the client requests one of the supported ciphers, i.e., the RSA one, in your second try.

Also, if you don't mind sharing, do email me at rezas @ microsoft . com your use case of Elliptic curve ciphers so we take that as a feature request in

[2019-10-03 18:32] krokoko commented on #1229
Hi @danewalton , thank you for your quick reply. It seems indeed to be the same issue. I'll try it and let you know

[2019-10-03 20:35] gregman-msft commented on #618
Hi @kiranpradeep we have implemented this functionality, and it is documented in this file: https://github.com/Azure/azure-iot-sdk-c/blob/master/doc/Iothub_sdk_options.md You can search for "retry_interval_sec" for the details.

[2019-10-03 20:35] #618 closed

[2019-10-03 20:36] az-iot-builder-01 commented on #618
@kiranpradeep, @ewertons, @bikamani, @gregman-msft, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2019-10-03 20:43] gregman-msft commented on #643
This PR was merged into master and will be in the next release.

[2019-10-03 20:43] #643 closed

[2019-10-03 20:43] az-iot-builder-01 commented on #643
@massand, @richardtaylorrt, @angelobt, @gregman-msft, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2019-10-03 20:57] gregman-msft commented on #731
Hi @larsonmpdx, we have implemented this functionality, and it is documented in this file: https://github.com/Azure/azure-iot-sdk-c/blob/master/doc/Iothub_sdk_options.md You can search for "retry_interval_sec" for the details.

[2019-10-03 20:57] #731 closed

[2019-10-03 20:57] az-iot-builder-01 commented on #731
@ewertons, @larsonmpdx, @gregman-msft, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2019-10-03 21:17] larsonmpdx commented on #731
thanks!

[2019-10-04 14:47] alexnix commented on #1226
Thanks for your answer. I figured out what was going on. The server does not have an ECC certificate but the client is free to use whatever certificate. This is why the online examples worked while my code did not, because I tough the client has to use the same type of certificate as the server (I have an ECC device certificate).

It is all clear now. Thanks

[2019-10-04 16:25] krokoko commented on #1229
Hey

I was just reading the example with the C# SDK, and in the provisioning sample we have to provide the intermediate cert which signed the device certs (public and private keys) through the APIs (using [this](https://docs.microsoft.com/bs-latn-ba/azure/iot-dps/tutorial-group-enrollments#simulate-the-device))

By adding to the ```prov_dev_sample.c``` the content of the intermediate cert ( ./cert

[2019-10-04 16:31] danewalton commented on #1229
Yea I've been looking into this since yesterday and noticed that the powershell script signs the device cert with root while the bash signs with the intermediate. I believe the intention of these scripts should be to keep things as simple as possible for users since certs themselves can be complicated. I'm getting together a fix which signs the device cert as the powershell script does which is wi

[2019-10-04 16:45] krokoko commented on #1229
Ok cool ! Yes absolutely it's for testing purpose only, i'm just trying to build a more complex scenario.

For now i was trying this "direct" provisioning, while my end goal is to provision a downstream device behind an edge device in transparent mode. I'm just working step by step.

I'll let you close this ticket when you merge your fix I guess, the workaround with the usage of the intermediate c

[2019-10-04 17:54] danewalton commented on #580
PR Opened
https://github.com/Azure/azure-iot-sdk-c/pull/1230

[2019-10-04 17:56] danewalton commented on #1229
PR has been opened
https://github.com/Azure/azure-iot-sdk-c/pull/1230

[2019-10-04 18:01] jspaith opened #1231 "Invoke module / device should accept any 2** status code as success"
In a quick glance at code I noticed this in `sendHttpRequestMethod` in file `iothub_client_edge.c`.

Basically we get an HTTP status code back from Edge and need to translate that back to an IoT result.

[code]

What happens if the Edge returns a 202 though?  This should still be a success case for any 200* range.

[2019-10-04 20:36] danewalton commented on #1226
It seems like this issue has been resolved so I'm going to go ahead and close it. Feel free to open another issue if you have any other problems!

[2019-10-04 20:36] #1226 closed

[2019-10-04 20:36] az-iot-builder-01 commented on #1226
@rezasherafat, @alexnix, @danewalton, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2019-10-04 20:39] danewalton commented on #1190
Awesome to hear @SpaBruis! If you have any other issues feel free to open another issue.

[2019-10-04 20:39] #1190 closed

[2019-10-04 20:39] az-iot-builder-01 commented on #1190
@danewalton, @SpaBruis, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2019-10-04 20:40] danewalton commented on #1181
I'm going to go ahead and close this issue for now. If you have any further problems feel free to open another issue.

[2019-10-04 20:40] #1181 closed

[2019-10-04 20:40] az-iot-builder-01 commented on #1181
@BenPYeh, @danewalton, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2019-10-04 20:50] danewalton commented on #1177
closing this one and looking into https://github.com/Azure/azure-iot-sdk-c/issues/1222

[2019-10-04 20:50] #1177 closed

[2019-10-04 20:53] danewalton commented on #1222
Hi @surajdagar
do you know if [this](https://github.com/Azure/azure-iot-arduino/issues/89) helps you at all? someone else was using an ESP8266 and that seemed to help them out.

[2019-10-04 21:00] surajdagar commented on #1222
Hi @danewalton I am not getting any TLS messages, I am using even different build platform, I am using mbed-os TLS libs.

[2019-10-04 21:17] danewalton commented on #1222
I see. It's hard to tell from these log messages what's going on. Are you able to step through the code at all and see if it's hanging somewhere or if it's hitting some ISR?

[2019-10-04 21:21] danewalton commented on #1159
I'm going to go ahead and close this for now but if the issue rears it's head again please let us know in another github issue.

[2019-10-04 21:43] surajdagar commented on #1222
yes, It just stuck inside this function -IoTHubClient_LL_DoWork(iotHubClientHandle)

[2019-10-04 22:17] danewalton commented on #1106
Hi @chinmaychhajed
Are you able to try this version of [certGen.sh](https://github.com/Azure/azure-iot-sdk-c/blob/dawalton/certGen/tools/CACertificates/certGen.sh)? I'm assuming that's what you used to generate `new-device.key.pem` and `new-device.cert.pem`.
You can also checkout the `dawalton/certGen` branch of the sdk.

[2019-10-04 22:52] danewalton commented on #1222
Unfortunately a lot happens inside of that function (this could be failing in the sdk, tls, tcp, etc layers). In order to diagnose the problem it would help to get as specific as possible with the place where it is hanging. Like I mentioned before it could be a hard fault, an out of memory execption etc which are usually defaulted to `while(1)` loops. I'm going to need some more information to hel

[2019-10-04 23:19] jspaith commented on #1227
@cirvine-MSFT - this code ultimately lives in the RIoT sub repo of the C SDK.  Could you please reactivate the issue under https://github.com/Microsoft/RIoT/ ?

Closing this one since it's not ours.

[2019-10-04 23:19] #1227 closed

[2019-10-04 23:19] az-iot-builder-01 commented on #1227
@cirvine-MSFT, @jspaith, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2019-10-04 23:28] danewalton commented on #1229
PR merged to master

[2019-10-04 23:28] #1229 closed

[2019-10-04 23:28] az-iot-builder-01 commented on #1229
@krokoko, @danewalton, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2019-10-04 23:29] danewalton commented on #580
PR has been merged to master. I confirmed that generating certs from `certGen.sh` works with iothub_x509 sample and provisioning with custom hsm. If anyone has any other issues please feel free to open another issue.

[2019-10-04 23:29] #580 closed

[2019-10-04 23:29] az-iot-builder-01 commented on #580
@jspaith, @aurashn, @lakshmisivareddy, @alexsavio, @RobinTTY, @danewalton, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2019-10-05 09:46] chinmaychhajed commented on #1106
Nevermind, somehow I resolved it myself, hence closing.

[2019-10-05 09:46] #1106 closed

[2019-10-05 09:46] az-iot-builder-01 commented on #1106
@chrissie926, @chinmaychhajed, @danewalton, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2019-10-06 09:53] rachidbm commented on #795
I had the same issues and finally got a working setup by installing certain specific versions. Others pointed out that they got it working by rollback to an older version, but I could not find a working set of compatible versions anywhere. Please always mention the specific version as this may help others reading your messages!
I hope it helps others when I explain what I did.

At first, installin

[2019-10-06 09:55] rachidbm commented on #795
On Windows, it could be respectively `C:\Users\(username)\AppData\Local\Arduino15` and `My Documents\Arduino\libraries`.
On Linux it could be respectively ` ~/.arduino15` and `~/Arduino/` .
But I haven't verified this! See also: https://www.arduino.cc/en/hacking/libraries

[2019-10-07 09:17] Benjamin118 opened #1233 "using iothub service client behind a proxy"
Hi,

On Ubuntu 18.04 platform
SDK ref. : 1.3.5

We need to use SDK service client behind a proxy.

This SDK uses amqp transport (messaging).

How is it possible to use AMQP/WS with using proxy, as it is done in SDK client ?

Thank you in advance

[2019-10-07 17:07] danewalton commented on #1225
Hi @enerdata
Do you have retry enabled or disabled?

[2019-10-07 17:19] CIPop commented on #1022
Thanks @OYTIS. I have recently joined the C SDK group (please bare with me as I ramp-up). We have discussed the proposal and came up with the following functional requirements:
1. No new public APIs should be added (if possible).
2. Our SDK repo will not contain the custom HSM code. (We cannot maintain drivers specific to certain hardware but we can implement some of the existing standards such as

[2019-10-07 17:31] danewalton commented on #1188
Hi @FreddieChopin
Are you able to give me more details about how to reproduce this? I think it might be easier for me to understand this problem if I can get it to occur myself.
My initial reaction to this is that we allow the option to use installed dependencies or the build system's resulting libraries. Am I wrong in assuming that your scenario calls for the latter? And how might that option be

[2019-10-08 15:21] FreddieChopin commented on #1188
I think you misunderstood me, but no worries - I'm used to that (; It's just that people working with "high-level" programming (targeting Linux, Windows and so on) don't understand the workflow that is used in "small embedded". Please note that I'm not talking about "embedded Linux" and things like Raspberry Pi. I'm talking about small microcontrollers, which do NOT have any "real" operating syste

[2019-10-08 16:40] danewalton commented on #1188
Ahhh okay I see what you're saying. Let me try a couple things and get back to your here.

[2019-10-08 22:07] ericmitt opened #1242 ""TrustedCerts" is not publicly well explained"
"TrustedCerts" is not publicly documented.
https://docs.microsoft.com/en-us/azure/iot-hub/iot-c-sdk-ref/iothub-device-client-ll-h/iothubdeviceclient-ll-setoption

The issue #1112 has been closed, with just a line in the header file.
https://github.com/Azure/azure-iot-sdk-c/pull/1124/files

This line is not enough to explains what this option is doing and when to use it. Please update the documenta

[2019-10-08 22:08] ericmitt commented on #1112
The documentation still doesn't reflect the change. The line added in the .h doesn't explain what this option does and when to use it. created a new issue:
https://github.com/Azure/azure-iot-sdk-c/issues/1242

[2019-10-09 12:34] FreddieChopin opened #1243 "With no network, connecting via MQTT lags significantly with current head, works in 2019-07-01"
I have a very simple test code, which is basically a mix of `iothub_ll_telemetry_sample` with `prov_dev_client_ll_sample` (I can post it, but it is really simple, however pretty long). I'm trying to run it on a STM32F7 microcontroller with a RTOS, the device has Ethernet connection to the network. The most important fact is that there is no network for about 10 seconds after the device is powered-

[2019-10-09 18:32] rafilho commented on #747
Moving some of the Jelani issues to Chris.

[2019-10-09 21:13] mamokarz commented on #1089
Hi @dcristoloveanu,

Looks like the issue is in the uamqp, can you take a look on it?

Thanks,
-Marcos

[2019-10-09 21:28] mamokarz commented on #1223
Hi @rezasherafat ,

Can you provide more information about it? Each file/function can I find this buffer?

Thanks,
-Marcos

[2019-10-09 21:45] rezasherafat commented on #1223
@ewertons, can you help fill in the details?

[2019-10-09 23:45] markrad opened #1246 "Add PKCS #11 support."
**Is your feature request related to a problem? Please describe.**
Feature request: Many HSMs can be conveniently accessed by a standardized API called PKCS 11. By supporting this in the SDK itself it would allow a much easier path for those wishing to use an HSM that supports this interface. Essentially having out of the box support in the manner of the existing TPM support.

**Describe the solut

[2019-10-10 06:02] enerdata commented on #1225
Hi @danewalton
can you please elaborate this where to enable or disable?
Thank you!!!

[2019-10-10 09:00] alain-noa opened #1247 "How to implement x509 authentication in iOS?"
I am trying connect Azure IOT Hub from **iOS** devices by using MQTT protocol with **x509** certificate and private key.
I am using [Azure iOS sample project](https://github.com/Azure/azure-iot-sdk-c/tree/master/iothub_client/samples/ios) with iOS SDK from cocoaPods. I modified the [iothub_sample.m](https://github.com/Azure/azure-iot-sdk-c/blob/master/iothub_client/samples/ios/AzureIoTSample/Azure

[2019-10-10 09:29] alain-noa commented on #1247
Hi @rafilho @YoDaMa , could you help?

[2019-10-10 16:06] jspaith opened #1248 "PnP Environmental sensor does not follow HTTP status code conventions"
Our environmental sensor PnP sample interface today has an async command as part of its DTDL.

The way the code works:
* Returns a 202 on the initial acceptance of the request.
* A second later sends another 202 back indicating request is in progress.
* A second later sends a 200 to show the request is done.

The subsequent send of the 202 is not correct per my reading of HTTP status codes and som

[2019-10-10 17:46] jspaith opened #1251 "Cannot build DPS with vcpkg's"
It is not possible to specify DPS when using vcpkg in the C SDK.  The issue is that when `use_prov_client` cmake flag is specified, then ALL HSM's are also set.

[code]
This works OK when a git clone of repo is used, because all these HSM* just reference code that's already brought in via git submodules.

When using vcpkg, we do not have vcpkg's for all the hsm's.  And we're not planning on doing

[2019-10-10 22:04] jmonticelli commented on #433
I would reopen this issue and investigate further. I have an extremely similar error, and it happens when using MQTT_WS over a proxy. This issue is entirely resolved by switching to AMQP_WS, but MQTT_WS worked a day before without flaw. I am running the Azure IoTHub SDK Python wrapper versioned at 1.4.6 with a built-from-source version of the SDK, tagged at version 1.4.6.

The error I am getting,

[2019-10-10 22:06] jmonticelli commented on #433
I would reopen this issue and investigate further. I have an extremely similar error, and it happens when using MQTT_WS over a proxy. This issue is entirely resolved by switching to AMQP_WS, but MQTT_WS worked a day before without flaw. I am running the Azure IoTHub SDK Python wrapper versioned at 1.4.6 with a built-from-source version of the SDK, tagged at version 1.4.6.

The error I am getting,

[2019-10-11 16:07] kenyelima opened #1253 "failed to add interface vethcccc916 to sandbox: error setting interface "vethcccc916""
Docker version:

`Client: Docker Engine - Community

 Version:           19.03.3
 API version:       1.40
 Go version:        go1.12.10
 Git commit:        a872fc2f86
 Built:             Tue Oct  8 00:59:59 2019
 OS/Arch:           linux/amd64
 Experimental:      false

Server: Docker Engine - Community
 Engine:
  Version:          19.03.3
  API version:      1.40 (minimum version 1.12)
  Go versi

[2019-10-11 17:30] jspaith opened #1254 "Missing statement in switch()"
In the file `prov_transport_amqp_common.c`, we have the function `on_message_receiver_state_changed_callback`

[code]

Note that there's no `default` here.  That was fine before as we covered all the cases, but some macro utils change I believe introduced an implicit `MESSAGE_SENDER_STATE_INVALID` type.

Because this is not handled in the case statement and there is no default, clang on at least s

[2019-10-11 17:32] danewalton commented on #1225
It is on by default so I don't think that would be the problem. Are you able to use [wireshark](https://www.wireshark.org/) to see what is going on in the connection and post the logs?

[2019-10-11 18:04] danewalton commented on #1188
Hey @FreddieChopin quick question. Are you able to run cmake and build successfully if you link your static libs using PRIVATE instead of using PUBLIC?

[2019-10-11 18:06] Patrik-Berglund opened #1255 "Disconnect without connection status callback called"
Development Machine, OS, Compiler (and Other Relevant Toolchain Info)
ESP-IDF v3.3
Compiled on Ubuntu 16.04 using GCC 5.4.0

SDK Version (Please Give Commit SHA if Manually Compiling)
Release 2019-07-01

Protocol
MQTT
Using tlsio_mbedtls and socketio_berkeley from c-utility

Describe the Bug
Connection status callback not called on disconnect after "IOTHUB_CLIENT_CONFIRMATION_MESSAGE_TIMEOUT". The

[2019-10-11 18:53] Patrik-Berglund opened #1256 "D2C messages accepted but never sent to IoT Hub"
Development Machine, OS, Compiler (and Other Relevant Toolchain Info)
ESP-IDF v3.3
Compiled on Ubuntu 16.04 using GCC 5.4.0

SDK Version (Please Give Commit SHA if Manually Compiling)
Release 2019-07-01

Protocol
MQTT
Using tlsio_mbedtls and socketio_berkeley from c-utility

Describe the Bug
Browsed some logs this morning and saw something i never noticed before, after a point in time the D2C mess

[2019-10-11 23:36] danewalton commented on #1159
Hey @PRAVEENBADIGER it seems after some further looking into that someone else that is using the imx6 board gets the same behavior. Could you give me some more information about what TLS stack you're using?
I think what's happening is the failure on line ~800 of httpapi_curl.c is returning `CURLE_NOT_BUILT_IN` because that cross-compile port of curl and the TLS you're using doesn't have this funct

[2019-10-11 23:53] danewalton commented on #1159
I have a feeling you could be building curl with the `--without-ssl` option set. So the device would not be checking the cert from the service. If you look [here](https://github.com/Azure/azure-iot-sdk-c/blob/master/doc/Docker_SDK_Cross_Compile.md) and search for the section of the script with the `# Build cURL`, we build curl with `--with-ssl` enabled.

[2019-10-11 23:59] mamokarz commented on #1220
Hi @wickste ,

I've just pushed the fix for this issue.

Thanks,
-Marcos

[2019-10-11 23:59] #1220 closed

[2019-10-12 00:00] az-iot-builder-01 commented on #1220
@wickste, @mamokarz, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2019-10-14 08:52] dandrestor commented on #603
I'm guessing these projects might have done so having to use workarounds in their own cmake projects to counteract the problems in the Azure SDK cmake files. In any case, this is what I have done.

Specifically for `iothub_client`, CMakeLists.txt is missing something along the lines of:
[code]

[2019-10-14 19:30] jspaith opened #1258 "PnP document clarifications"
Working with some early adopters of PnP, we're uncovering some gaps in C SDK documentation.

Most of these are tactical so we'll use this as a potentially expanding list:
* In docs for `DigitalTwin_DeviceClient_RegisterInterfacesAsync`, we do not explicitly document what  `deviceCapabilityModel` is.  We should NOT completely document the concept of device capability model in C land - as this is a

[2019-10-14 22:10] ewertons commented on #1089
Hi @hommeabeil ,
thanks a lot for the logs you provided.
There is a lot going on these logs:
1. The authentication through CBS is not completing (getting a DISPOSITION for the cbs put-token message sent by the iothub_client) before it starts to attempt to establish AMQP links for the messaging features (telemetry, C2D events, etc);
2. Because of the attempt to establish other links before authenti

[2019-10-15 03:04] alain-noa opened #1260 "C SDK not support in iOS (Catalina)"
**Development Machine, OS, Compiler (and Other Relevant Toolchain Info)**

macOS Catalina version 10.15
Xcode version 11.1

**SDK Version (Please Give Commit SHA if Manually Compiling)**

Release 2019-10-07

**Protocol**

MQTT

**Describe the Bug**

I am working on x509 authentication in iOS, due to [this issue](https://github.com/Azure/azure-iot-sdk-c/issues/1247), i have to use C SDK iInstead of

[2019-10-15 06:58] brianfire opened #1261 "iothub_devicetwin.c: undefined reference to `UniqueId_Generate' when compiling ros_azure_iothub repo"
**Description**
I followed the following steps and installed azure-iot-sdk-c. Then when I tried to compile the [ros_azure_iothub](https://github.com/microsoft/ros_azure_iothub) repo, I encountered the issue.
[code]
**Console Logs of the issue**
[code]
Here is the package CMakeList.txt:
[code]
Here is the /usr/local/lib/:
[code]

[2019-10-15 10:33] alain-noa commented on #1260
I rebuild C SDK with iOS Simulator, and the error "building for iOS Simulator, but linking in object file ... built for macOS" no more exist.

But a new compile error happen:

![Screen Shot 2019-10-15 at 6 26 49 PM](https://user-images.githubusercontent.com/56292091/66823721-6371e280-ef79-11e9-8cd8-e5aeebd15724.png)

The error looks caused by **libaziotsharedutil.a** , possibly related to my opera

[2019-10-15 15:10] hommeabeil commented on #1089
Its an Ubuntu 18.04 on a physical device. This is a regular PC. The network is a wired connection.

[2019-10-15 17:01] ewertons commented on #1261
Hi @brianfire ,
where did you get the steps you posted above? If it was from one of our docs, we need to get it fixed.

"--recursive" is missing in `git submodule update --init`.
The correct is:

$ git clone https://github.com/Azure/azure-iot-sdk-c.git
$ cd azure-iot-sdk-c
$ git submodule update --init --recursive
$ mkdir cmake
$ cd cmake
$ cmake -Duse_prov_client:BOOL=ON  ..
$ cmake --build .
$ s

[2019-10-15 17:15] ewertons commented on #1242
Hi @ericmitt ,

thanks for bringing that to our attention.
The documentation page you referenced is not maintained by this repo, so I filed an issue on them on your behalf.
Please track through:
https://github.com/MicrosoftDocs/Azure-IoT-C-SDK-Reference/issues/29

If you would like to leave feedback like this on that documentation, please use the "Feedback" button on the top right.

In regards of

[2019-10-15 17:15] #1242 closed

[2019-10-15 17:29] ewertons commented on #1256
Hi @Patrik-Berglund ,

we will need to run a couple tests here to verify why PINGREQs and PINGRESPs were fine, but the telemetry message didn't go out (indeed looks like there is a PUBLISH missing after you send a message at 04:06:29).

"Strange thing is that the DeviceTwin seems to work fine, and the SAS token renewal also."

It would be good to confirm for sure that you are using DeviceTwin duri

[2019-10-15 17:42] ewertons commented on #1255
Thank you, @Patrik-Berglund !

This indeed seems incorrect, we will verify and prioritize it accordingly.

[2019-10-15 17:48] ewertons commented on #1253
Hi @kenyelima ,

this issue does not seem related to the azure-iot-SDK-c repo.
It seems to be a docker-related question.

I filed it under the IoT edge repo on your behalf, in case they have any hints to help you out:
https://github.com/Azure/azure-iotedge/issues/39

Thanks,
Azure IoT SDK Team

[2019-10-15 17:48] #1253 closed

[2019-10-15 17:48] az-iot-builder-01 commented on #1253
@kenyelima, @ewertons, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2019-10-15 17:50] kenyelima commented on #1253
Thank you guys

[2019-10-15 18:00] ewertons commented on #1260
Hi @alain-noa ,

sorry for not having a more recent release of the azure-iot-SDK-c through cocoapods. We are working on getting that packaging system live again for our solution, but with no defined ETA yet.

Let's see if we can assist with the issue you are experiencing:

All these undefined symbols are related to OpenSSL library.

1. Is openssl installed in your system?
2. Are you linking your s

[2019-10-15 18:39] ewertons commented on #1233
Hi @Benjamin118 ,

unfortunately the Azure Iot Hub service client in C is currently prioritized below the other languages we support ([C#](https://github.com/Azure/azure-iot-sdk-csharp), [Java](https://github.com/Azure/azure-iot-sdk-java)), since it is not being extensively used in small devices.

It would be possible to have the service client connecting through a proxy, though.
If you look at th

[2019-10-16 01:57] alain-noa commented on #1260
Hi @ewertons , thank you very much for the reply!
I am not sure about for your questions, but i will try import openssl library to iOS project and see if it works.

[2019-10-16 09:04] Patrik-Berglund commented on #1256
Hi @ewertons

You can see the DeviceTwin being received and sent at "04:12:56" and "05:00:58".

And that the PUBLISH is missing at C2D
04:06:29
04:20:56
04:35:56
04:51:56

Regarding the socketio_berkeley error,
`
"Error: Time:Fri Oct 11 05:00:57 2019 File:/home/buildagent/vsts-agent/_work/1/s/components/azure-iot/pal/src/socketio_berkeley.c Func:socketio_send Line:834 Failure: socket state is not

[2019-10-16 10:49] alain-noa commented on #1260
Imported [OpenSSL](https://github.com/krzyzanowskim/OpenSSL) via cocoapods, still not working.

![Screen Shot 2019-10-16 at 6 47 32 PM](https://user-images.githubusercontent.com/56292091/66912671-9a152f00-f045-11e9-9870-1238e5a9a4ee.png)

[2019-10-16 15:01] #1222 closed

[2019-10-16 15:01] az-iot-builder-01 commented on #1222
@danewalton, @surajdagar, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2019-10-16 16:17] gregman-msft commented on #1247
Hi @alain-noa,

Please refer to our documentation for getting started with development on iOS: https://docs.microsoft.com/en-us/azure/iot-hub/quickstart-send-telemetry-ios
If this is missing the information you are looking for, please let us know so that we can update the documentation.

Also, thanks for the feedback on x509 support. This is currently in our backlog but do not have an ETA for this

[2019-10-16 17:45] markrad commented on #1187
Hi Praveen,

Since I am assisting you with this question in a support request, I am closing this issue.

_Mark Radbourne MSFT_

[2019-10-16 17:45] #1187 closed

[2019-10-16 17:45] az-iot-builder-01 commented on #1187
@PraveenKolipaka1, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2019-10-16 18:23] jasmineymlo opened #1263 "PnP telemetry e2e tests should include validation of the received message at the EventHub"
Current PnP E2E telemetry tests only validate on acknowledgements.  Telemetry should be checked at the receiving end (EventHub endpoint) for completeness.

[2019-10-16 18:31] jasmineymlo opened #1264 "PnP e2e tests suite should take dependency on node service client official released npm package"
The service application code in the PnP e2e test suite is written in TypeScript using the Digital Twin service SDK.  We should move to taking dependency on the official released npm package of the Node digital twin service client SDK, instead of a copy of the node sdk in our repo.

[2019-10-16 20:08] ewertons commented on #1089
Hey @hommeabeil ,

one more question. could you clarify which of APIs you are calling from your application?
Are you calling functions from here? https://github.com/Azure/azure-iot-sdk-c/blob/master/iothub_client/inc/iothub_device_client.h

[2019-10-16 21:28] #1209 closed

[2019-10-16 21:28] az-iot-builder-01 commented on #1209
@jrdouceur, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2019-10-16 21:28] #1191 closed

[2019-10-16 21:28] az-iot-builder-01 commented on #1191
@jspaith, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2019-10-16 21:30] #1208 closed

[2019-10-16 21:30] az-iot-builder-01 commented on #1208
@jspaith, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2019-10-17 03:29] alain-noa commented on #1247
Hi @gregman-msft thanks for explanation! We will vote it on Azure feedback forums.

x509 authentication is very important for us and we are currently blocked by iOS platform. We will keep trying to workaround it before it is officially supported in iOS, any advice or guidance would be greatly appreciated!

[2019-10-17 10:26] alain-noa commented on #1260
Build succeeded after integrated OpenSSL library and cURL library to the project!!!

Run iOS project (reference from [x509 sample code](https://github.com/Azure/azure-iot-sdk-c/blob/master/iothub_client/samples/iothub_ll_client_x509_sample/iothub_ll_client_x509_sample.c) and config with x509 cer) and got error:

![Screen Shot 2019-10-17 at 6 19 29 PM](https://user-images.githubusercontent.com/5629

[2019-10-17 22:02] jasmineymlo opened #1268 "PropertiesUpdatedCallback should be renamed to PropertiesNotificationCallback"
"PropertiesUpdatedCallback" causes confusion as it is being triggered for 2 scenario:
1) During device initialization on get Twin call
2) writable property updates from the service side

For 1), the callback could be triggered without any "real" updates on the properties' values.  Rename it to "notification" to minimize confusion.

[2019-10-17 22:13] jasmineymlo opened #1269 "Components should be notify for stand-alone reported properties on initialization"
During device initialization where get Twin is called for syncing with the service's side of the stored properties values, SDK provides the current value of the Desired AND the Reported (if the Reported exists) property to the user callback function.  Stand-alone reported properties values (in the full twin) should be provided to the components as well using the same callback function.

[2019-10-18 16:24] jspaith opened #1270 "PnP should provide reported properties to app always"
Currently for C SDK, when we get a full twin we report properties to application *only* if there are desired properties in the list.  If there is a reported property but not a desired property, we just swallow it.

This isn't right.  We should always provide reported properties.  This will help bandwidth conscious interfaces to be thoughtful about whether they report back a given reported property

[2019-10-18 16:27] jspaith opened #1271 "Rename PnP property "update" concept"
We've got feedback that calling pnp property notification callbacks as "updates" is confusing.  The issue is that on initial connection, the PnP SDK will report back all properties that came from the twin regardless of whether they were updated or not.  (The PNP SDK cannot cache all this, after all.)

But... calling this an "update" makes it sound like something has changed.

We think a better nam

[2019-10-18 16:43] jasmineymlo commented on #1268
duplicate of #1271

[2019-10-18 16:43] #1268 closed

[2019-10-18 16:43] az-iot-builder-01 commented on #1268
@jasmineymlo, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2019-10-18 16:43] jasmineymlo commented on #1269
duplicate of #1270

[2019-10-18 16:43] #1269 closed

[2019-10-18 16:43] az-iot-builder-01 commented on #1269
@jasmineymlo, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2019-10-18 17:58] MugunthanMugundanMSFT opened #1273 "Please remove this behavior will change once DPS support is added."
There is a comment in the samples saying this behavior will change once the DPS support is added. Please doublecheck this.
// The call to DigitalTwin_DeviceClient_CreateFromDeviceHandle() transfers ownership
    // of this handle (including destroying it) to the DigitalTwin layer, analogous to a .release()
    // in some C++ helpers.  DO NOT USE deviceHandle after this point.  Note this behavior

[2019-10-18 19:17] jspaith commented on #1273
We just need to remove the "Note this behavior
// will change once DPS integration becomes available later." comments.

We're not planning on IoTHub client / DPS integration at present.

[2019-10-18 21:28] FrankSHLi opened #1275 "Segmentation Fault when Network is Down"
**Development Machine, OS, Compiler (and Other Relevant Toolchain Info)**

Debian 9

**SDK Version (Please Give Commit SHA if Manually Compiling)**

Release 2019-10-07

**Protocol**

MQTT

**Describe the Bug**

The sample code iothub_ll_telemetry_sample.c segmentation fault if the network is down.

[code]

[2019-10-18 22:19] jspaith commented on #433
@jmonticelli - the current Python SDK that wraps C is almost totally locked down.  The last time that they took a snap of the C SDK was ea8d7c29ae313754a2f0972494756b97cc6921d7, so the underlying C SDK is over nine months old at this point.  For reference, the C wrapper based Python SDK lives currently [here](https://github.com/Azure/azure-iot-sdk-python/tree/v1-deprecated).

The Python team is cr

[2019-10-20 19:04] Patrik-Berglund commented on #1275
Hi,

What we have seen so far is that there are a couple of bugs introduced in the 2019-10-07 release for mbedtls, mqtt and berkley sockets combination. Haven't had time to file all issues them yet due to other development tasks, so we are sticking with the 2019-07-01 release.

Here's one of them though,
https://github.com/Azure/azure-iot-sdk-c/issues/1202

Have you tested the 2019-07-01 release,

[2019-10-22 04:03] FrankSHLi commented on #1275
Hi @Patrik-Berglund ,

I've already rolled back to 2019-07-01 release as soon as I found the reconnect issue, to make sure our applications won't crash.

However, OPTION_RETRY_INTERVAL_SEC isn't yet introduced in 2019-07-01, so I'd still like to know if there's any progress, thanks.

[2019-10-22 08:58] Anil-Poolayulla-Chelottillam opened #1276 "iot edge module sample code - memory leak"
I am referring to the following iot edge module C sample code :

https://github.com/Azure/azure-iot-sdk-c/blob/master/iothub_client/samples/iothub_client_sample_module_filter/iothub_client_sample_module_filter.c

In function InputQueue1FilterCallback(), the message instance variabl "filteredMessageInstance" memory is cleared only in IoTHubModuleClient_LL_SendEventToOutputAsync() failed case. (Line

[2019-10-22 13:20] alexmrtn commented on #1055
Hi,

We tested the certificate chain connection with the last version of the SDK (2019-10-07).
Unfortunately, we still have issues to connect (see logs below)

This log is the result of the execution of what we want to achieve:
- Connection to the iothub with x509 certificates
- using elliptic curve based certificates
- having a chain of certificate, not only Root and leaf, but also one (or more)

[2019-10-22 15:05] LaptevPasha commented on #1075
Device certificate, shure

[2019-10-22 15:05] LaptevPasha commented on #1075
@jebrando

[2019-10-22 20:16] gregman-msft commented on #321
Thank you everyone for the feedback on this issue. This will require new work on the blob storage support, which we are transitioning to a new repository. I have opened up a request on your behalf in this new repository [here](https://github.com/Azure/azure-sdk-for-c/issues/100). Please track the request there and feel free to add any additional comments.

[2019-10-22 20:16] #321 closed

[2019-10-22 20:16] az-iot-builder-01 commented on #321
@ewertons, @MichaelDenczek, @rbagree, @jspaith, @lmussier, @mms-, @gregman-msft, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2019-10-22 20:18] gregman-msft commented on #375
Thank you everyone for the feedback on this issue. This will require new work on the blob storage support, which we are transitioning to a new repository. I have opened up a request on your behalf in this new repository [here](https://github.com/Azure/azure-sdk-for-c/issues/101). Please track the request there and feel free to add any additional comments.

[2019-10-22 20:18] #375 closed

[2019-10-22 20:18] az-iot-builder-01 commented on #375
@jspaith, @zvrba, @gregman-msft, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2019-10-22 20:24] gregman-msft commented on #448
Thanks for the feedback. This is currently in our backlog but do not have an ETA for this yet. Please vote on this [User voice ](https://feedback.azure.com/forums/321918-azure-iot/suggestions/38869930-customizable-transport-attempt-retry-in-c-sdk) item, which can also be used for tracking our plans. The link may take some time to be published, try again in a few hours if it does not work at first.

[2019-10-22 20:24] #448 closed

[2019-10-22 20:24] az-iot-builder-01 commented on #448
@cedricmelancon, @AndWass, @jspaith, @gregman-msft, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2019-10-22 20:37] gregman-msft commented on #630
Thanks for the feedback. This is currently in our backlog but do not have an ETA for this yet. Please vote on this [User voice ](https://feedback.azure.com/forums/321918-azure-iot/suggestions/38870053-support-amqp-with-c-sdk-connecting-to-basic-subscr) item, which can also be used for tracking our plans.

[2019-10-22 20:37] #630 closed

[2019-10-22 20:37] az-iot-builder-01 commented on #630
@jspaith, @gregman-msft, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2019-10-22 20:40] gregman-msft commented on #603
Thanks for the feedback. This is now on our backlog but do not have an ETA for the work yet. Please vote on this [User voice ](https://feedback.azure.com/forums/321918-azure-iot/suggestions/38869972-make-cmake-scripts-friendly-to-add-subdirectory-in) item, which can also be used for tracking our plans. It may take some time for the link to work, please try again in a few hours if it does not work

[2019-10-22 20:40] #603 closed

[2019-10-22 20:40] az-iot-builder-01 commented on #603
@ewertons, @rcdailey, @jebrando, @jcar87, @dandrestor, @gregman-msft, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2019-10-22 20:44] gregman-msft commented on #694
The IoT Hub service requires SSL renegotiation for using certain REST or WebSocket APIs. We are considering fixing this in a future version, but do not have an ETA for this work currently. Please consider using a different SSL stack, such as OpenSSL, if this is still blocking you.

[2019-10-22 20:44] #694 closed

[2019-10-22 20:44] az-iot-builder-01 commented on #694
@jdaragnes, @lakshmisivareddy, @gregman-msft, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2019-10-22 20:46] gregman-msft commented on #699
@jbobotek once we have our Arduino support up, can you please re-investigate this issue?

[2019-10-22 21:00] gregman-msft commented on #753
Thank you for the feedback. This will require new work on the blob storage support that we are transitioning to a new repository. I have opened up a request on your behalf in this repository [here](https://github.com/Azure/azure-sdk-for-c/issues/102). Please track the request there and feel free to add any additional comments.

[2019-10-22 21:00] #753 closed

[2019-10-22 21:00] az-iot-builder-01 commented on #753
@ling0015, @ewertons, @gregman-msft, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2019-10-22 21:05] gregman-msft commented on #908
@JAHTKELD @AjiGopal You should be able to refer to the sample on our repository here: https://github.com/Azure/azure-iot-sdk-c/tree/09d68458675ede0452db20280e589109f0bd6e40/iothub_client/samples/iothub_ll_client_x509_sample

Please let us know if you have any issues running this.

Espressif maintains this port for ESP32 on [the repo you referenced above](https://github.com/espressif/esp-azure), we

[2019-10-22 21:05] #908 closed

[2019-10-22 21:05] az-iot-builder-01 commented on #908
@YoDaMa, @AjiGopal, @chinnaece, @JAHTKELD, @gregman-msft, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2019-10-22 21:23] rcdailey commented on #603
In what commit (and repo) was this resolved?

[2019-10-22 21:25] gregman-msft commented on #603
Hi @rcdailey see my comment above for more details. We'd like to track this in our user voice forum for further feedback while it is in our backlog.

[2019-10-22 21:28] rcdailey commented on #603
The issue was closed here, which to me implied the issue was resolved with a fix in the repository somewhere. Was it closed instead to be tracked elsewhere? If so that's a bit misleading; why even have the issue tracker enabled here?

[2019-10-23 00:17] gregman-msft commented on #603
We're preferring to track items in our backlog in a location that gives us a better ability to aggregate feedback via both comments and voting, as well as keep our GitHub issues fresh/up-to-date to maximize visibility on incoming issues. This is an evolving process to figure out how to best keep track of everything, so we appreciate your feedback and will continue improving based on it.

[2019-10-23 02:42] alain-noa commented on #1260
Updated cURL library still not works.

I tried [iothub_II_telemetry_sample](https://github.com/Azure/azure-iot-sdk-c/blob/master/iothub_client/samples/iothub_ll_telemetry_sample/iothub_ll_telemetry_sample.c) and it also failed:
in send_confirm_callback, received result **IOTHUB_CLIENT_CONNECTION_UNAUTHENTICATED** and reason **IOTHUB_CLIENT_CONNECTION_NO_NETWORK**

I am not sure if it caused by the

[2019-10-23 06:02] ewertons commented on #1254
Fixed.

[2019-10-23 06:02] #1254 closed

[2019-10-23 06:02] az-iot-builder-01 commented on #1254
@jspaith, @ewertons, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2019-10-23 07:02] ghaucience opened #1278 "iothub_convenience_sample example "INT_RSA_VERIFY:wrong signature length“ error"
**Development Machine, OS, Compiler (and Other Relevant Toolchain Info)**

MT7688
OpenWrt-SDK-ramips-mt7620_gcc-4.8-linaro_uClibc-0.9.33.2.Linux-x86_64.tar.bz2

**SDK Version (Please Give Commit SHA if Manually Compiling)**

the newest

**Protocol**

MQTT

**Describe the Bug**

when run the example on my board, it reports "INT_RSA_VERIFY:wrong signature length"

**Console Logs**

This sample will

[2019-10-23 07:03] ghaucience commented on #1278
#define SAMPLE_MQTT
#define SET_TRUSTED_CERT_IN_SAMPLES,

[2019-10-23 07:03] ghaucience commented on #1278
#define SAMPLE_MQTT
#define SET_TRUSTED_CERT_IN_SAMPLES
I have define this two switch, use the /certs/certs.c

[2019-10-23 09:24] alain-noa commented on #1247
Still cannot vote the item for "This idea is awaiting moderator approval".

[2019-10-23 11:52] MoMeneam opened #1279 "Segfault after calling singlylinked_list_remove()"
Stm32f765ii, FreeRTOS
Cross Compiled on Windows10  using ARM v5

SDK Version 1.3.6

Protocol

MQTT

* Bug Description*
When trying to remove an item is already removed  by singlylinkedlist_remove(list,item) the list parameter holds  protected memory location which causes a hard fault

[code]

**Console Logs**
TRY SEND IOT Message
-MbedTLS Handshake Start...
MbedTLS HANDSHAKE Done

[2019-10-23 19:46] ewertons commented on #1276
Hi @Anil-Poolayulla-Chelottillam ,

if you search for "free(filteredMessageInstance)" you will find it gets invoked also in SendConfirmationCallbackFromFilter, which is the callback invoked by IoTHubModuleClient_LL_SendEventToOutputAsync when it is done sending the event.

In this case, there wouldn't be a memory leak.

Also, just as an important note, our samples are not intended to be used direc

[2019-10-23 19:46] #1276 closed

[2019-10-23 19:46] az-iot-builder-01 commented on #1276
@Anil-Poolayulla-Chelottillam, @ewertons, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2019-10-23 19:48] ewertons commented on #1261
Hi @brianfire ,
thanks for your question.
Please feel free to reopen this issue if you would like to follow up.
Azure IoT SDKs Team

[2019-10-23 19:48] #1261 closed

[2019-10-23 19:48] az-iot-builder-01 commented on #1261
@brianfire, @ewertons, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2019-10-23 20:17] ewertons commented on #1260
Hi @alain-noa ,
I'm glad you passed the compilation error.

The failures you posted above are related to server certificate validation.

Could you confirm if you are calling the function to set the trusted certs on the IoT Hub device client?
If you are using the LL layer, it should be similar to [here](https://github.com/Azure/azure-iot-sdk-c/blob/master/iothub_client/samples/iothub_ll_telemetry_s

[2019-10-23 20:23] ewertons commented on #1231
To make is more explicit, this is the line this issue refers to:
https://github.com/Azure/azure-iot-sdk-c/blob/2019-10-07/iothub_client/src/iothub_client_edge.c#L443

[2019-10-23 20:32] ewertons commented on #1228
Hi @SashaMilic ,
the IoTHubClient instance must be on a running thread at all times to stay connected. It does send periodic keep-alives to the IoT Hub and receives them back to make sure the connection is established.
Could you clarify what happens to the threads used by the IoTHubClient when you mention about "We are properly opening and closing connection by waking up the app over push notifica

[2019-10-23 20:45] ewertons commented on #1225
Hi @enerdata ,
based on [this documentation](https://tls.mbed.org/api/ssl_8h.html#a4a37e497cd08c896870a42b1b618186e) the error show tells there was some issue on the SSL negotiation anywhere, and is causing the client to disconnect (which is the correct action from the IoTHubDEvice Client, acc. to the documentation in the link above).

On this code you are running, did you get it from any of our s

[2019-10-23 20:46] ewertons commented on #1225
We will close this issue since it has been stale for a while, but please feel free to reopen it if you would like to follow up.
Thanks,
Azure IoT SDK Team

[2019-10-23 20:46] #1225 closed

[2019-10-23 20:46] az-iot-builder-01 commented on #1225
@danewalton, @enerdata, @ewertons, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2019-10-23 20:57] ewertons commented on #1223
This is related to the hard-coded size of the read buffer used by our socketio interfaces, like here:
https://github.com/Azure/azure-c-shared-utility/blob/254dcaba38f45ea3610f4fa96d3174863a909503/adapters/socketio_win32.c#L54
and
https://github.com/Azure/azure-c-shared-utility/blob/254dcaba38f45ea3610f4fa96d3174863a909503/adapters/socketio_berkeley.c#L96

The value is defined here:
https://github.

[2019-10-23 20:59] ewertons commented on #1223
Other than that, we will need to make the receive buffers dynamically allocated on the socketio layers, then expose an option from c-utility all the way up to the iothubdeviceclient to change it, and handle changes properly on the socketio (i.e., resize the buffer during DoWork, increasing the cost-per-loop-iteration and possibly affecting the throughput due to that).

[2019-10-23 21:14] ewertons commented on #1213
Hi @Patrik-Berglund ,
we are sharing your question with the organization and will reply as soon we have a clarification.

[2019-10-23 21:22] ewertons commented on #1207
Hi @eramitsh ,
as verified if connecting to the IoT Hub directly the keepalives presented no issue.
It would be necessary to verify if your platform is not sending or receiving the keep alives, or if your broker has some influence on this issue.

We cannot debug this issue further without logs from the azure-iot-sdk-c suite.
If you are still facing problems, please [enable verbose logging](https:/

[2019-10-23 21:22] #1207 closed

[2019-10-23 21:22] az-iot-builder-01 commented on #1207
@eramitsh, @ewertons, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2019-10-23 21:46] ewertons commented on #1200
Be noted that this will break from the guidance on the rest of the API.
I would suggest we align the strategy across the SDK instead.

[2019-10-23 22:08] ewertons commented on #1182
@khilscher ,
you are absolutely correct.

@eme-jonesng ,
if you check this code, you will see the option name that can be used to set the SAS token expiration time:
https://github.com/Azure/azure-iot-sdk-c/blob/2019-10-07/iothub_client/src/iothub_client_core_ll.c#L2310

It gets consumed by our MQTT internal transport here:
https://github.com/Azure/azure-iot-sdk-c/blob/2019-10-07/iothub_client/src/

[2019-10-23 22:08] #1182 closed

[2019-10-23 22:09] az-iot-builder-01 commented on #1182
@eme-jonesng, @khilscher, @ewertons, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2019-10-23 22:29] #1164 closed

[2019-10-23 22:29] az-iot-builder-01 commented on #1164
@BhupalPatil, @rafilho, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2019-10-23 22:44] ewertons commented on #1180
Hi @Hmaalla ,
thank you very much for the detailed testing and explanation.
Indeed we apologize, but we do not have a clear documentation about message size limits. We have that in our stack to fix in the docs.

Inspecting the [code](https://github.com/Azure/azure-umqtt-c/blob/7557db6de094b67818d3c410dc95a3cf07cd86a6/src/mqtt_codec.c#L740), you will see that the maximum payload size is 255 KB,

an

[2019-10-24 00:05] jspaith commented on #1200
Yes, let's talk before we do this.  I don't know if the rest of the SDK can follow suit for back-compat, especially anyone using the ENUM_TO_STRING.

[2019-10-24 02:35] alain-noa commented on #1260
Hi @ewertons,  i used x509 certificate generated by ourself, it works properly with the cmake executable file on the mac, so i think the cer should be correct.

Here is the main function:

    IOTHUB_DEVICE_CLIENT_LL_HANDLE device_ll_handle;

    // Used to initialize IoTHub SDK subsystem
    (void)IoTHub_Init();

    (void)printf("Creating IoTHub handle\r\n");

    device_ll_handle = IoTHubDevice

[2019-10-24 04:59] NguyenGiangTruong commented on #588
@ewertons could you please re-open this issue. we got a similar error here, with select "select failure" issue appearing on the log.

[2019-10-24 09:05] cjdomingo opened #1280 "undefined reference error on cmake bui"
I am trying to cross compile the pnp sample_device with Mips32 architecture. I am having a lot of 'undefined reference error' when I build using cmake.

Here is a some of the errors:

CMakeFiles/sample_device.dir/nano_test.c.o: In function `main':
nano_test.c:(.text+0xd7c): multiple definition of `main'
CMakeFiles/sample_device.dir/main.c.o:main.c:(.text+0x0): first defined here
CMakeFiles/sample_

[2019-10-24 12:24] Pavan2358 opened #1281 "Unable to Connect to Device Provisioning Service using X509 Certificates"
Development Machine: Linux 18.04, OpenSSL Version: OpenSSL 1.1.1  11 Sep 2018
SDK Version: 23-09-2019(SDK Version 1.3.5)
Protocol : HTTP/MQTT

Issue:
Steps:
1) Run Provisioning client example with public and private key certificates used from custom_hsm_sample the file(Attached custom_hsm_sample.c and prov_dev_client_ll_sample.c present in Issue.zip file)
Provisioning API Version: 1.3.5
Iothub API

[2019-10-24 12:26] MoMeneam commented on #1279
Hi @ewertons ,

Yes i'm using the LL functions in iothub_device_client_ll.h.

[2019-10-24 12:38] LaptevPasha commented on #509
Hi @syedelec
I'm working on DPS and HSM integration too.
Could you please explain how azure sdk signs a challenge which receives from Azure DPS ?
I mean where it happens in the code.

[2019-10-24 15:34] ewertons commented on #1096
Hi @JesvinJoseph ,
unfortunately this was not included because the amount of changes to port that fix to the old code base was too costly at the time.
We apologize for that, and for the delay on the reply.

[2019-10-24 15:34] #1096 closed

[2019-10-24 15:34] az-iot-builder-01 commented on #1096
@JesvinJoseph, @ewertons, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2019-10-24 15:40] ewertons commented on #962
Hi @Morozov-5F ,
we will close this issue for now but please feel free to reopen it if you would like to follow up.
Thanks for contributing to the Azure IoT SDK.

[2019-10-24 15:40] #962 closed

[2019-10-24 15:40] az-iot-builder-01 commented on #962
@bikamani, @Morozov-5F, @ewertons, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2019-10-24 15:46] ewertons commented on #870
Hi @ling0015 ,
many fixes have been provided and it might have addressed your issue.
Please verify again whenever possible, and feel free to reopen this issue to follow up if you would like to.
Thanks for contributing to the Azure IoT SDKs.

[2019-10-24 15:46] #870 closed

[2019-10-24 15:46] az-iot-builder-01 commented on #870
@ewertons, @ling0015, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2019-10-24 15:48] ewertons commented on #820
Thank you very much, @spinosae !
We will add that fix to our repo soon.

[2019-10-24 15:57] ewertons commented on #1280
Hi @cjdomingo ,
we will not comment on files that are not part of the Azure IoT SDK Suite, but the undefined references you see related to xlogging, tickcounter are because you are not linking your project to [azure-c-shared-utility](https://github.com/Azure/azure-c-shared-utility), and the ones related to json_ are because you are not linking to [parson](https://github.com/kgabis/parson/tree/mast

[2019-10-25 01:24] ewertons commented on #901
Fixed.

[2019-10-25 01:24] #901 closed

[2019-10-25 01:25] az-iot-builder-01 commented on #901
@wickste, @ewertons, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2019-10-25 01:25] ewertons commented on #900
Fixed.

[2019-10-25 01:25] #900 closed

[2019-10-25 01:25] az-iot-builder-01 commented on #900
@wickste, @ewertons, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2019-10-25 01:25] ewertons commented on #820
Fix checked in. Please feel free to reopen it if you need to follow up.
Thanks.

[2019-10-25 01:25] #820 closed

[2019-10-25 01:25] az-iot-builder-01 commented on #820
@shkreza, @ewertons, @spinosae, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2019-10-25 06:11] alain-noa commented on #1260
**It works now!** Verified with iPhone 7 (12.1.2) and iPhoneXR(13.1.3) and iOS simulator(13.1).

Without new changes and it just works... I guess there may be some problem of the network.

[2019-10-25 06:11] #1260 closed

[2019-10-25 06:11] az-iot-builder-01 commented on #1260
@alain-noa, @ewertons, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2019-10-25 09:13] alain-noa commented on #1247
Succeed to integrate the c sdk in my iOS project and works with x509 authentication through openssl. Below are the steps what i did, hope it helps other poor iOS guys like me. I don't know cmake so it must looks stupid that i build the sdk, please don't hesitate to help to improve, thx :)

### 1. Import OpenSSL library and cURL library to iOS project

You can easily find their source code on githu

[2019-10-25 15:14] ewertons commented on #1279
Have you verified that you are locking properly to not call any of the API functions in parallel?
Like, _DoWork should not be called ever while or after _Destroy is called.

[2019-10-26 11:55] hhmahmoud opened #1283 "Too Much Time to Install! --> !conda install -c conda-forge wordcloud==1.4.1 --yes"
Dear Sir/Madam,

Thanks in advance for reading my Technical Question.

I am running the following command on Python3 using Jupyter Notebook:

!conda install -c conda-forge wordcloud==1.4.1 --yes

The problem is that it is not installing.  For how much time do I need to wait for it to get installed?  I already waited for 20 minutes!

Help please!

Regards,

[2019-10-26 12:50] hhmahmoud commented on #1283
I was able to resolve it by using the following command:
conda install -c conda-forge word cloud

[2019-10-26 12:50] #1283 closed

[2019-10-26 12:50] az-iot-builder-01 commented on #1283
@hhmahmoud, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2019-10-27 09:26] MoMeneam commented on #1279
If you mean IoTHubClient_LL_Destroy ,No because of handshaking that takes long time so i do it once at the beginning and the connection isn't closed.

My flow is :
1. create iotHubClientHandle using "IoTHubClient_LL_CreateFromConnectionString" api
2. set some options (e.g. TrustedCerts, OPTION_HTTP_PROXY........ ) using "IoTHubClient_LL_SetOption"
3. set massage calback  usnig "IoTHubClient_LL_Set

[2019-10-28 18:42] ewertons commented on #1283
Hi @hhmahmoud ,
did you mean to file this issue against another repo? Conda is not related to Microsoft Azure IoT SDK.

[2019-10-28 20:03] ewertons commented on #1279
If you keep using the same iothubclient_ll handle, there is no issue at all.
You only need to call IoTHubClient_LL_Destroy when you no longer need the handle. If you do not call it before terminating your application, you will run into a memory leak.

This will require some deeper analysis either by running your code in platform that gives you some tools to track memory issues (e.g., Linux, valgri

[2019-10-29 08:58] PezzoniL opened #1285 "wrong reported log for DIGITALTWIN_CLIENT_RESULT_INVALID and QOS_VALUE_INVALID"
I had cloned the latest public-preview for testing IoTCentral PnP
Looking the latest version there C-SDK there is the introduction of:

**MU_DEFINE_ENUM_WITHOUT_INVALID(DIGITALTWIN_CLIENT_RESULT, DIGITALTWIN_CLIENT_RESULT_VALUES);**

instead of
MU_DEFINE_ENUM(DIGITALTWIN_CLIENT_RESULT, DIGITALTWIN_CLIENT_RESULT_VALUES);

and the introduction of
**MU_DEFINE_ENUM_2(QOS_VALUE, QOS_VALUE_VALUES)**
Ins

[2019-10-29 09:51] PezzoniL opened #1286 "iothub/twin/PATCH/properties/desired/?$version"
Using the latest version of Azure C-SDK using the public-preview branch

I had seen that I receive the following command from IoT Central PnP when I want to set a desired property:
$iothub/twin/**PATCH**/properties/desired/?$version= .....

So the **parse_device_twin_topic_info** function return the flag for **patch_msg==true**… when I had for example checked one boolean desired property:

IoTHubC

[2019-10-29 17:58] az-iot-builder-01 commented on #774
@AndWass, @ewertons, @YoDaMa, @nitu011, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2019-10-29 22:18] #1248 closed

[2019-10-29 22:18] az-iot-builder-01 commented on #1248
@jspaith, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2019-10-30 17:12] aog2000a commented on #1275
Same problem here, running 1.3.5 using MQTT on Linux/Arm i hit this segfault when the network goes down.

[2019-10-31 05:44] alain-noa commented on #1247
Add a missing detail:

![Screen Shot 2019-10-31 at 1 39 01 PM](https://user-images.githubusercontent.com/56292091/67922056-8c82ac00-fbe4-11e9-9ff2-c381c9f70aa6.png)

Add `-lz` to **Other Linker Flags** in your project build settings, this will against the built-in zlib.

Which resolve below compile error:

  "_inflate", referenced from:
      _inflate_stream in curl(libcurl_la-content_encoding.o)

[2019-10-31 06:31] alain-noa commented on #1247
I create a [template](https://github.com/alain-noa/AzureIotTemplate) project for reference.

[2019-11-01 13:58] Hmaalla commented on #1180
@ewertons - Thanks for the detailed answer!

[2019-11-01 14:17] Hmaalla opened #1288 "Maximum file name length in blob storage"
We notice that the file name presents a limit equal to 139 characters.
In fact, we always receive an HTTP 400 error if the file name exceeds this limit

[code]
Could you please confirm this limit and give us more details?

[2019-11-01 17:00] markrad commented on #699
@ewertons @jbobotek Possibly this could be supported by adding httpapi_compact into the build. This doesn't depend on third party libraries.

[2019-11-04 10:24] Ozaq opened #1290 "IoTHubMessage_SetProperty IOTHUB_MESSAGE_ERROR should discern between out of memory situations and input errors"
I have done my best to figure out if this has been requested earlier but I could not find any information.

When working with `IoTHubMessage_SetProperty` I noticed that only printable US-ACSII characters are allowed for keys / values since `IoTHubMessage_CreateFromByteArray` and `IoTHubMessage_CreateFromString` set a ValidateAsciiCharactersFilter for the internal property map.

`IoTHubMessage_SetP

[2019-11-04 18:21] danewalton commented on #1055
Hi @alexmrtn are you able to give me some additional details into what your proxy is doing? I will look into a repro on my box.

[2019-11-04 21:35] jspaith opened #1291 "Subscribe for twin should have a "skip auto gettwin option""
Currently for MQTT at least (and presumably AMQP), if a connection drops and we are subscribed for twin property notifications then we will automatically redownload the entire twin.

We need to leave this behavior as-is for back-compat.  But we should consider a SetOPtion() where client can say "Please don't do this auto-get twin; i'll handle GetTwin() calls myself".

It's a lot more work on clien

[2019-11-05 16:05] dangerousHobo opened #1293 "Cross Compile fails due to undefined reference"
**Development Machine, OS, Compiler (and Other Relevant Toolchain Info)**

Xubuntu 18.04
Cross Compiling for Linux/ARM, gcc 6.4.0.
(Buildroot 2018.02-rc2-00006-g39101b7)

**SDK Version (Please Give Commit SHA if Manually Compiling)**

Release 2018-12-13

**Describe the Bug**

I'm trying to cross compile my application but I'm getting 'undefined reference' for several of the azure-iot-sdk-c functio

[2019-11-05 17:09] danewalton commented on #1293
Hi @dangerousHobo
Are you linking the `iothub_client` library? In the cmake it is defined [here](https://github.com/Azure/azure-iot-sdk-c/blob/b740871e026464244afa4d954b8021c57d86004d/iothub_client/CMakeLists.txt#L445).

[2019-11-05 17:58] Dewieinns commented on #795
Key for me was rolling back esp8266 (by ESP8266 community)  to version 2.4.2! Thanks!

[2019-11-05 19:17] danewalton commented on #1055
After some additional research it turns out IoT Hub does not currently support certificate chains with HTTP (which means web sockets as well).

[2019-11-05 19:44] #1251 closed

[2019-11-05 19:44] az-iot-builder-01 commented on #1251
@jspaith, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2019-11-05 21:07] dangerousHobo commented on #1293
Hi @danewalton
I've added `iothub_client` (and a few other libraries it said it needed) and I'm back in the same position where it complains about `undefined reference` due to the function declaration being wrapped in a unit test macro.

New build string:
[code]

Compile error:
[code]

[2019-11-05 21:14] danewalton commented on #1293
Can you try adding `-lumock_c` to resolve those? That's where that macro is defined.
It is possible you could need `-lazure_macro_utils_c` as well. Those are both in the `/deps` folder of the sdk if you would like to look further into those. Let me know if that helps!

[2019-11-05 23:07] alexeystrakh opened #1296 "Unable to build with cocoapod AzureIoTHubClient 1.3.6 enabled"
**Development Machine, OS, Compiler (and Other Relevant Toolchain Info)**

Mac OS Catalina 10.15.1, Xcode 11.2

**SDK Version (Please Give Commit SHA if Manually Compiling)**

AzureIoTHubClient 1.3.6

**Describe the Bug**

I'm trying to create a framework that depends on the [AzureIoTHubClient 1.3.6](https://cocoapods.org/pods/AzureIoTHubClient) pod. This repository contains an empty ObjectiveC fr

[2019-11-06 12:45] dangerousHobo commented on #1293
Hi @danewalton,

`umock_c` does not exist under the `deps` folder for me. I only have two items under that folder, `parson` and `uhttp`.

[2019-11-06 13:19] LedRunway commented on #1102
@cher1510: I also want to use azure mqtt on Yocto, but struggling to compile the iothub_ll_telemetry_sample. Header file can not be found. Could you provide the recipes you used in Yocto? That would very helpful to me!

[2019-11-06 14:48] dangerousHobo commented on #1293
I've updated my buildroot project to use a newer version of the azure-iot-sdk-c library. So I'm now using version **LTS_07_2019_Ref01** which includes `umock_c` in the `deps` folder.
I've updated my build command to the following:

[code]

I'm seeing the following build error, which is again `undefined reference` similar to what I defined previously.

[code]

[2019-11-06 15:23] dangerousHobo commented on #1293
Rearranging the list of libraries and was able to get a successful build. Thanks for the help @danewalton

For reference, the new compile command:

[code]

[2019-11-06 15:23] #1293 closed

[2019-11-06 15:23] az-iot-builder-01 commented on #1293
@danewalton, @dangerousHobo, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2019-11-06 17:45] jspaith opened #1297 "Resend reported properties"
The SDK does not automatically resend reported properties on timeouts / network disconnections.

We should add some basic retry logic to keep us inline with telemetry message resending.

[2019-11-06 17:46] ewertons commented on #1296
You are missing the installation of the dependent cocoapods.

[2019-11-06 19:06] PraveenKolipaka1 opened #1298 "clang static code analyzer issues with AzureIOTHub C SDK"
Platform details: Mac OSX 10.14.5,Azure IOT Hub SDK version: 1.3.3,Xcode 10.2
clang static code analyzer is notifying few complaints (69 different bugs) as below.
Attached complete clang bug report .

[Archive.zip](https://github.com/Azure/azure-iot-sdk-c/files/3816246/Archive.zip)

Dead assignment | 51
Dead increment | 2
Unix API | 1
Leak | 3
Memory leak | 9
Nullability | 2
Unused instance variab

[2019-11-06 19:26] rafilho commented on #1288
We are working on a fix for that which should be available in our master branch soon. Thanks.

[2019-11-07 08:02] Hmaalla commented on #1288
Thanks a lot for your feedback, we still waiting for a fix

[2019-11-07 12:05] abouroubi commented on #1296
Which dependent cocoapods ?

I have all of these in my Podfile but still get the same error.

  # Pods for IoT Hub
  pod 'AzureIoTUtility'
  pod 'AzureIoTuMqtt'
  pod 'AzureIoTuAmqp'
  pod 'AzureIoTHubClient'

[2019-11-08 06:44] kannannair084 opened #1303 "communicate with azure iot with esp32 via LTE"
Dear All,

i am trying to quickly set-up a system that is able to send data to azure via LTE.
Mcu is esp32, and i can't use wifi due to project restrictions.

i am currently in the quest to get it integrated with LTE ( cat m1) to azure.  **is there a way to use azure-iot-sdk-c** to make my life easier?

- my LTE module is SIM7000E ( currently using AT commands via serial port)

if there another mo

[2019-11-08 08:29] #1286 closed

[2019-11-08 08:29] az-iot-builder-01 commented on #1286
@PezzoniL, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)

[2019-11-08 18:34] gregman-msft commented on #1180
@Hmaalla Thank you for the feedback. You can also find this and our other limits in [this document](https://docs.microsoft.com/en-us/azure/azure-subscription-service-limits#iot-hub-limits). We're working on adding it to other docs to make this easier to find, as well.

[2019-11-08 18:34] #1180 closed

[2019-11-08 18:34] az-iot-builder-01 commented on #1180
@ewertons, @Hmaalla, @gregman-msft, thank you for your contribution to our open-sourced project! Please help us improve by filling out this 2-minute [customer satisfaction survey](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRx8jpG79OudPqY-BojcKjkJUMFFBQjgxNkw5ODJIRjBWTzI0Nk85R0pUQiQlQCN0PWcu)